<div
  id="editAttendanceModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Attendance</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editAttendanceForm"
            name="editAttendanceForm"
            class="form-group"
            [formGroup]="editAttendanceForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editAttendanceForm.get('inTime').touched ||
                    editAttendanceForm.get('inTime').dirty) &&
                  !editAttendanceForm.get('inTime').valid
              }"
            >
              <label>In Time</label>
              <input
                class="form-control"
                type="text"
                formControlName="inTime"
                placeholder="In Time (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editAttendanceForm.get('inTime').touched ||
                    editAttendanceForm.get('inTime').dirty) &&
                  (editAttendanceForm.get('inTime').errors ||
                    editAttendanceForm.get('inTime').errors)
                "
              >
                <span *ngIf="editAttendanceForm.get('inTime').errors?.required">
                  Please enter the in-time.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editAttendanceForm.get('outTime').touched ||
                    editAttendanceForm.get('outTime').dirty) &&
                  !editAttendanceForm.get('outTime').valid
              }"
            >
              <label>Out Time</label>
              <input
                class="form-control"
                type="text"
                formControlName="outTime"
                placeholder="Out Time (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editAttendanceForm.get('outTime').touched ||
                    editAttendanceForm.get('outTime').dirty) &&
                  (editAttendanceForm.get('outTime').errors ||
                    editAttendanceForm.get('outTime').errors)
                "
              >
                <span
                  *ngIf="editAttendanceForm.get('outTime').errors?.required"
                >
                  Please enter the out-time.
                </span>
              </span>
            </div>
            <!--div class="form-group" [ngClass]="{'has-error': (editAttendanceForm.get('OT').touched || 
                            editAttendanceForm.get('OT').dirty) && 
                            !editAttendanceForm.get('OT').valid }">
                                <label>Over Time</label>
                                <input class="form-control" type="text" formControlName="OT" placeholder="Over Time (Required)" />
                                <span class="help-block" *ngIf="(editAttendanceForm.get('OT').touched || 
                                editAttendanceForm.get('OT').dirty) && 
                                (editAttendanceForm.get('OT').errors ||
                                 editAttendanceForm.get('OT').errors)">
                                    <span *ngIf="editAttendanceForm.get('OT').errors?.required">
                                        Please enter the over-time.
                                    </span>
                                </span>
                            </div-->
            <!--div class="form-group" [ngClass]="{'has-error': (editAttendanceForm.get('done').touched || 
                            editAttendanceForm.get('done').dirty) && 
                            !editAttendanceForm.get('done').valid }">
                                <label>Done</label>
                                <input class="form-control" type="text" formControlName="done" placeholder="Done (Optional)" />
                            </div-->
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editAttendanceForm.get('leaveType').touched ||
                    editAttendanceForm.get('leaveType').dirty) &&
                  editAttendanceForm.get('leaveType').errors?.notSelected
              }"
            >
              <label>Leave Type</label>
              <select
                class="form-control"
                id="leaveType"
                formControlName="leaveType"
                (change)="leaveTypeOnChange($event.target.value)"
              >
                <option *ngFor="let lt of leaveTypes">{{ lt }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editAttendanceForm.get('leaveType').touched ||
                    editAttendanceForm.get('leaveType').dirty) &&
                  (editAttendanceForm.get('leaveType').errors ||
                    editAttendanceForm.get('leaveType').errors)
                "
              >
                <span
                  *ngIf="
                    editAttendanceForm.get('leaveType').errors?.notSelected
                  "
                >
                  Please specify the leave type.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label style="display: block;">
                <input
                  type="checkbox"
                  formControlName="onSite"
                  (change)="onSiteChecked($event.target.checked ? true : false)"
                />
                <span>&nbsp;&nbsp;&nbsp;On Site</span>
              </label>
              <label style="display: block;">
                <input
                  type="checkbox"
                  formControlName="onTrip"
                  (change)="onTripChecked($event.target.checked ? true : false)"
                />
                <span>&nbsp;&nbsp;&nbsp;On Trip</span>
              </label>
            </div>
            <div class="form-group">
              <label>Remark</label>
              <textarea
                class="form-control animation-1"
                placeholder="Remark (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="remark"
              ></textarea>
            </div>
            <button
              [disabled]="leaveStatus || loading || !editAttendanceForm.valid"
              class="btn btn-info"
              type="button"
              (click)="updateAttendance('NONE')"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
            <div class="pull-right">
              <button
                [disabled]="!leaveStatus || loading"
                class="btn btn-danger"
                type="button"
                (click)="updateAttendance('FD')"
                style="margin-right:9px;"
              >
                <img
                  *ngIf="loading"
                  src="assets/img/loading.gif"
                  style="width:20px; height:20px; margin-right:5px;"
                />
                <i *ngIf="!loading" class="fa fa-edit"></i> Add as Full Day
                Leave
              </button>
              <button
                [disabled]="!leaveStatus || loading"
                class="btn btn-danger"
                type="button"
                (click)="updateAttendance('HD')"
              >
                <img
                  *ngIf="loading"
                  src="assets/img/loading.gif"
                  style="width:20px; height:20px; margin-right:5px;"
                />
                <i *ngIf="!loading" class="fa fa-edit"></i> Add as Half Day
                Leave
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
