<div id="editLSModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Edit Leave Setting</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="leaveSettingForm" name="leaveSettingForm" class="form-group" [formGroup]="leaveSettingForm">
                        <div class="form-group">
                            <label>Employee Code</label>
                            <input class="form-control" type="text" formControlName="empCode" disabled/>
                        </div>  
                        <div class="form-group">
                            <label>Employee Name</label>
                            <input class="form-control" type="text" formControlName="empName" disabled/>
                        </div> 
                            
                        <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('annualLeave').touched || 
                            leaveSettingForm.get('annualLeave').dirty) && 
                            !leaveSettingForm.get('annualLeave').valid }">
                                <label>Annual/Earn Leave</label>
                                <input class="form-control" type="number" formControlName="annualLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('annualLeave').touched || 
                                leaveSettingForm.get('annualLeave').dirty) && 
                                (leaveSettingForm.get('annualLeave').errors ||
                                 leaveSettingForm.get('annualLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('annualLeave').errors?.required">
                                        Please enter the number of allowed annual leave days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>  
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('casualLeave').touched || 
                            leaveSettingForm.get('casualLeave').dirty) && 
                            !leaveSettingForm.get('casualLeave').valid }">
                                <label>Casual Leave</label>
                                <input class="form-control" type="number" formControlName="casualLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('casualLeave').touched || 
                                leaveSettingForm.get('casualLeave').dirty) && 
                                (leaveSettingForm.get('casualLeave').errors ||
                                 leaveSettingForm.get('casualLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('casualLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('medicalLeave').touched || 
                            leaveSettingForm.get('medicalLeave').dirty) && 
                            !leaveSettingForm.get('medicalLeave').valid }">
                                <label>Annual/Earn Leave</label>
                                <input class="form-control" type="number" formControlName="medicalLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('medicalLeave').touched || 
                                leaveSettingForm.get('medicalLeave').dirty) && 
                                (leaveSettingForm.get('medicalLeave').errors ||
                                 leaveSettingForm.get('medicalLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('medicalLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('maternityLeave').touched || 
                            leaveSettingForm.get('maternityLeave').dirty) && 
                            !leaveSettingForm.get('maternityLeave').valid }">
                                <label>Annual/Earn Leave</label>
                                <input class="form-control" type="number" formControlName="maternityLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('maternityLeave').touched || 
                                leaveSettingForm.get('maternityLeave').dirty) && 
                                (leaveSettingForm.get('maternityLeave').errors ||
                                 leaveSettingForm.get('maternityLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('maternityLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('paternityLeave').touched || 
                            leaveSettingForm.get('paternityLeave').dirty) && 
                            !leaveSettingForm.get('paternityLeave').valid }">
                                <label>Annual/Earn Leave</label>
                                <input class="form-control" type="number" formControlName="paternityLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('paternityLeave').touched || 
                                leaveSettingForm.get('paternityLeave').dirty) && 
                                (leaveSettingForm.get('paternityLeave').errors ||
                                 leaveSettingForm.get('paternityLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('paternityLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>     
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('marriageLeave').touched || 
                            leaveSettingForm.get('marriageLeave').dirty) && 
                            !leaveSettingForm.get('marriageLeave').valid }">
                                <label>Annual/Earn Leave</label>
                                <input class="form-control" type="number" formControlName="marriageLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('marriageLeave').touched || 
                                leaveSettingForm.get('marriageLeave').dirty) && 
                                (leaveSettingForm.get('marriageLeave').errors ||
                                 leaveSettingForm.get('marriageLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('marriageLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>    
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('funeralLeave').touched || 
                            leaveSettingForm.get('funeralLeave').dirty) && 
                            !leaveSettingForm.get('funeralLeave').valid }">
                                <label>Funeral Leave</label>
                                <input class="form-control" type="number" formControlName="funeralLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('funeralLeave').touched || 
                                leaveSettingForm.get('funeralLeave').dirty) && 
                                (leaveSettingForm.get('funeralLeave').errors ||
                                 leaveSettingForm.get('funeralLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('funeralLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>  
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('recupLeave').touched || 
                            leaveSettingForm.get('recupLeave').dirty) && 
                            !leaveSettingForm.get('recupLeave').valid }">
                                <label>Recup Leave</label>
                                <input class="form-control" type="number" formControlName="recupLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('recupLeave').touched || 
                                leaveSettingForm.get('recupLeave').dirty) && 
                                (leaveSettingForm.get('recupLeave').errors ||
                                 leaveSettingForm.get('recupLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('recupLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': (leaveSettingForm.get('absentLeave').touched || 
                            leaveSettingForm.get('absentLeave').dirty) && 
                            !leaveSettingForm.get('absentLeave').valid }">
                                <label>Absent Leave</label>
                                <input class="form-control" type="number" formControlName="absentLeave" />
                                <span class="help-block" *ngIf="(leaveSettingForm.get('absentLeave').touched || 
                                leaveSettingForm.get('absentLeave').dirty) && 
                                (leaveSettingForm.get('absentLeave').errors ||
                                 leaveSettingForm.get('absentLeave').errors)">
                                    <span *ngIf="leaveSettingForm.get('absentLeave').errors?.required">
                                        Please enter the number of allowed days for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>                                                                                                                                   
                        <button class="btn btn-info" type="button" (click)="editLeaveSettings()" [disabled]="!leaveSettingForm.valid"><i class="fa fa-plus"></i> Update</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>