<!--div class="panel">
    <div class="panel-body">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true">
            <kendo-grid-column field="id" title="ID" width="120">
            </kendo-grid-column>
            <kendo-grid-column field="leaveType" title="Leave Type" width="210">
            </kendo-grid-column>
            <kendo-grid-column field="numOfDays" title="Number of Days" width="120">
            </kendo-grid-column>
            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-leaveSetting>
                    <a type="button" style="margin-right:9px;color: white;" class="btn btn-primary" data-toggle="modal" data-target="#editLSModal" (click)="selectELSToEdit(els)">
                        <i class="fa fa-edit"></i> Edit </a>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>

    </div>
</div-->

<div class="panel">
        <div class="panel-body">
                <div class="pull-right" >
                        <!--button *ngIf="!isUserGuest" [disabled]="loading" class="btn btn-sm btn-info" type="button" (click)="refreshELS()">
                            <strong>
                                <i class="fa fa-refresh"></i>  Update Employee Leave Settings
                            </strong>
                        </button-->
                    </div>
        </div>
    <div class="panel-body" style="padding-top: 0px;">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true" [loading]="loading">
            <!--kendo-grid-column field="employeeId" title="Employee ID" width="120">
            </kendo-grid-column-->
             <kendo-grid-column field="employeeCode" title="Employee Code" width="120">
            </kendo-grid-column>
            <kendo-grid-column field="employeeName" title="Employee Name" width="120">
            </kendo-grid-column>
            <kendo-grid-column field="annualLeave" title="Annual/Earn" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="casualLeave" title="Casual" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="medicalLeave" title="Medical" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="maternityLeave" title="Maternity" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="paternityLeave" title="Paternity" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="recupLeave" title="Recup" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="marriageLeave" title="Marriage" width="90">
            </kendo-grid-column>
            
            <kendo-grid-column field="absentLeave" title="Absent" width="90">
            </kendo-grid-column>
            <kendo-grid-column field="funeralLeave" title="Funeral" width="90">
            </kendo-grid-column>

            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-els>
                    <a type="button" style="margin-right:9px;color: white;" class="btn btn-primary" data-toggle="modal" data-target="#editELSModal"  (click)="selectELSToEdit(els)">
                        <i class="fa fa-edit"></i> Edit </a>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>

    </div>
</div>


<employee-leave-settings-edit [selectedELS]="selectedELS" (leaveSettingEdited)="onEdited()"></employee-leave-settings-edit>