<div
  id="editEmployeeStatusModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Change Employee's Status</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editEmpStatusForm"
            name="editEmpStatusForm"
            class="form-group"
            [formGroup]="editEmpStatusForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpStatusForm.get('newStatus').touched ||
                    editEmpStatusForm.get('newStatus').dirty) &&
                  !editEmpStatusForm.get('newStatus').valid
              }"
            >
              <label>New Status</label>
              <select
                style="border-radius: 3px;"
                class="form-control"
                id="employee"
                formControlName="newStatus"
                (change)="statusOnChange($event)"
              >
                <option>Select Status</option>
                <option>Permanent</option>
                <option>Resign</option>
                <option>Provision</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editEmpStatusForm.get('newStatus').touched ||
                    editEmpStatusForm.get('newStatus').dirty) &&
                  editEmpStatusForm.get('newStatus').errors
                "
              >
                <span *ngIf="!editEmpStatusForm.get('newStatus').valid">
                  Please select the employee's new status.
                </span>
              </span>
            </div>

            <div
              *ngIf="
                editEmpStatusForm.get('newStatus').value != 'Select Status'
              "
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpStatusForm.get('startDate').touched ||
                    editEmpStatusForm.get('startDate').dirty) &&
                  !editEmpStatusForm.get('startDate').valid
              }"
            >
              <label
                *ngIf="
                  editEmpStatusForm.get('newStatus').value == 'Permanent' ||
                  editEmpStatusForm.get('newStatus').value == 'Provision'
                "
                >Start Date</label
              >
              <label
                *ngIf="editEmpStatusForm.get('newStatus').value == 'Resign'"
                >Date</label
              >
              <input
                class="form-control"
                type="date"
                formControlName="startDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editEmpStatusForm.get('startDate').touched ||
                    editEmpStatusForm.get('startDate').dirty) &&
                  (editEmpStatusForm.get('startDate').errors ||
                    editEmpStatusForm.get('startDate').errors)
                "
              >
                <span
                  *ngIf="editEmpStatusForm.get('startDate').errors?.required"
                >
                  Please enter the data.
                </span>
              </span>
            </div>

            <div
              *ngIf="
                editEmpStatusForm.get('newStatus').value != 'Resign' &&
                editEmpStatusForm.get('newStatus').value != 'Select Status'
              "
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpStatusForm.get('endDate').touched ||
                    editEmpStatusForm.get('endDate').dirty) &&
                  !editEmpStatusForm.get('endDate').valid
              }"
            >
              <label
                *ngIf="editEmpStatusForm.get('newStatus').value != 'Resign'"
                >End Date</label
              >
              <input
                class="form-control"
                type="date"
                formControlName="endDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editEmpStatusForm.get('endDate').touched ||
                    editEmpStatusForm.get('endDate').dirty) &&
                  (editEmpStatusForm.get('endDate').errors ||
                    editEmpStatusForm.get('endDate').errors)
                "
              >
                <span *ngIf="editEmpStatusForm.get('endDate').errors?.required">
                  Please enter the data.
                </span>
              </span>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="updateStatus()"
              [disabled]="!editEmpStatusForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Change
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
