<div class="panel panel-default" style="border-color:white;">
    <div class="panel-heading">

        <h3 style="margin-bottom:21px;">Employee: {{empName}}</h3>
    
        <button class="btn btn-sm btn-success" *ngIf="payroll.manualStartDate == '' || payroll.manualEndDate == '' || payroll.manualStartDate == null || payroll.manualEndDate == null || payroll.manualStartDate == undefined || payroll.manualEndDate == undefined" style="margin-right:9px;" data-toggle="modal"
            data-target="#manualDateModal" type="button">
            <i class="fa fa-plus"></i> Modify Pay Period</button>
        <button class="btn btn-sm btn-danger" *ngIf="payroll.manualStartDate != '' && payroll.manualEndDate != '' && payroll.manualStartDate != null && payroll.manualEndDate != null && payroll.manualStartDate != undefined && payroll.manualEndDate != undefined " style="margin-right:9px;" type="button" (click)="removeMD()">
            <i class="fa fa-times"></i> Reset Pay Period</button>

        <!--button class="btn btn-sm btn-success" *ngIf="payroll.manualSSB <= 0" style="margin-left:9px;margin-right:9px;" data-toggle="modal"
            data-target="#manualSSBModal" type="button">
            <i class="fa fa-plus"></i> Add Manual SSB</button>
        <button class="btn btn-sm btn-danger" *ngIf="payroll.manualSSB > 0" style="margin-left:9px;margin-right:9px;" type="button" (click)="removeMS()">
            <i class="fa fa-times"></i> Remove Manual SSB</button-->
    </div>
    <div class="panel panel-default" style="border-color:white;">

        <div class="table-responsive" style="padding:9px;">
            <table class="table">
                <colgroup>
                    <col class="order-pic" span="1" />
                    <col class="order-item-name" span="1" />
                    <col class="order-qty" span="1" />
                    <col class="order-price" span="1" />
                    <col class="order-tax" span="1" />
                    <col class="order-total" span="1" />
                </colgroup>
                <thead class="bg-gray-lighter">
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5" id="tableDetail">Total Deduction</td>
                        <td id="tableDetail">
                            <b>{{convertToFormattedString(payroll.totalDeduction)}}</b> Ks</td>
                    </tr>
                    <tr>
                        <td colspan="5" id="tableDetail">Gross Pay</td>
                        <td id="tableDetail">
                            <b>{{convertToFormattedString(payroll.grossPay)}}</b> Ks</td>
                    </tr>
                    <tr>
                        <td colspan="5" id="tableDetail">Net Pay</td>
                        <td id="tableDetail">
                            <b>{{convertToFormattedString(payroll.netPay)}}</b> Ks</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr id="tableRow">
                        <td class="order-pic thumb64">
                            1.
                        </td>
                        <td class="order-item-name" id="tableDetail">Basic Salary</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.basicSalary)}}</b> Ks</td>

                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            2.
                        </td>
                        <td class="order-item-name" id="tableDetail">Current Salary</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.currentSalary)}}</b> Ks</td>

                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            3.
                        </td>
                        <td class="order-item-name" id="tableDetail">Overtime</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.overtime)}}</b> Ks</td>

                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            4.
                        </td>
                        <td class="order-item-name" id="tableDetail">Travelling Charges</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.travellingCharges)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            5.
                        </td>
                        <td class="order-item-name" id="tableDetail">Leave</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.leaveAmount)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            6.
                        </td>
                        <td class="order-item-name" id="tableDetail">Late</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.late)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            7.
                        </td>
                        <td class="order-item-name" id="tableDetail">Absent</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.absentAmount)}}</b> Ks</td>
                    </tr>

                    <tr id="tableRow">
                        <td class="order-pic">
                            8.
                        </td>
                        <td class="order-item-name" id="tableDetail">Bonus</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.bonus)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            9.
                        </td>
                        <td class="order-item-name" id="tableDetail">Commission</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.commission)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            10.
                        </td>
                        <td class="order-item-name" id="tableDetail">Compensation</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.compensation)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            11.
                        </td>
                        <td class="order-item-name" id="tableDetail">Advance Salary</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.advanceSalary)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            12.
                        </td>
                        <td class="order-item-name" id="tableDetail">Tax</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.tax)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            13.
                        </td>
                        <td class="order-item-name" id="tableDetail">SSB</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.ssb)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            14.
                        </td>
                        <td class="order-item-name" id="tableDetail">Loan</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.loan)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow">
                        <td class="order-pic">
                            15.
                        </td>
                        <td class="order-item-name" id="tableDetail">Medical Allowance</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.medicalAllowance)}}</b> Ks</td>
                    </tr>
                    <tr id="tableRow" *ngIf="payroll.additionalDeduction > 0">
                        <td class="order-pic">
                            16.
                        </td>
                        <td class="order-item-name" id="tableDetail">Additional Deduction</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{convertToFormattedString(payroll.additionalDeduction)}}</b> Ks</td>
                    </tr>
                    <!--tr id="tableRow" *ngIf="payroll.manualSSB > 0">
                        <td class="order-pic">
                            17.
                        </td>
                        <td class="order-item-name" id="tableDetail">Manually Added SSB</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="order-total" id="tableDetail">
                            <b>{{payroll.manualSSB}}</b> Ks</td>
                    </tr-->
                </tbody>
            </table>

        </div>
        
    </div>

    

    <div class="row" style="margin-right: 15px;margin-bottom: 15px;">
        <div class="mt-lg pull-right" *ngIf="payID == null || payID == undefined">
            <button class="btn btn-info" type="button" style="margin-right:9px;" (click)="processPay()" [disabled]="loading">
                <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Process Pay</button>
        </div>
        <div class="mt-lg pull-right" *ngIf="payID != null && payID != undefined">
            <button class="btn btn-success" type="button" (click)="reprocessPay()" [disabled]="loading">
                <i class="fa fa-retweet"></i>&nbsp;&nbsp;&nbsp;Re-Process Pay</button>
        </div>
    </div>
</div>
<div class="panel panel-default" style="border-color:white;">
    <div class="table-responsive" style="padding:9px;">
        <table class="table">
            <colgroup>
                <col class="order-pic" span="1" />
                <col class="order-item-name" span="1" />
                <col class="order-qty" span="1" />
                <col class="order-price" span="1" />
                <col class="order-tax" span="1" />
                <col class="order-total" span="1" />
            </colgroup>
            <thead class="bg-gray-lighter">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr id="tableRow">
                    <td class="order-pic thumb64">
                        1.
                    </td>
                    <td class="order-item-name" id="tableDetail">Late Over 9:35</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.lateCount}}</b> time(s)</td>

                </tr>
                <tr id="tableRow">
                    <td class="order-pic thumb64">
                        2.
                    </td>
                    <td class="order-item-name" id="tableDetail">Late Over 9:45</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.lateOverNineFourFive}}</b> time(s)</td>

                </tr>
                <tr id="tableRow">
                    <td class="order-pic thumb64">
                        3.
                    </td>
                    <td class="order-item-name" id="tableDetail">Late Over 10:00</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.lateOverTen}}</b> time(s)</td>

                </tr>
                
                <tr id="tableRow">
                    <td class="order-pic">
                        4.
                    </td>
                    <td class="order-item-name" id="tableDetail">Late Over 10:30</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.lateOverTenThirty}}</b> time(s)</td>

                </tr>
                <tr id="tableRow">
                    <td class="order-pic">
                        5.
                    </td>
                    <td class="order-item-name" id="tableDetail">Leave</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.paidLeave}}</b> day(s)</td>

                </tr>
                <tr id="tableRow">
                    <td class="order-pic">
                        6.
                    </td>
                    <td class="order-item-name" id="tableDetail">Unpaid Leave</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.leave}}</b> day(s)</td>

                </tr>
                <tr id="tableRow">
                    <td class="order-pic">
                        7.
                    </td>
                    <td class="order-item-name" id="tableDetail">Absent Leave</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="order-total" id="tableDetail">
                        <b>{{payroll.absent}}</b> day(s)</td>

                </tr>
            </tbody>
        </table>

    </div>
    </div>
<div id="manualTaxModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeMTModal()">&times;</button>
                <h4 class="modal-title">Add Tax Manually</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="addManualTaxForm" name="addManualTaxForm" class="form-group" [formGroup]="addManualTaxForm">
                        <div class="form-group" [ngClass]="{'has-error': (addManualTaxForm.get('taxAmt').touched || 
                        addManualTaxForm.get('taxAmt').dirty) && 
                        !addManualTaxForm.get('taxAmt').valid }">
                            <label>Tax Amount</label>
                            <input class="form-control" type="number" formControlName="taxAmt" placeholder="Tax Amount (Required)" />
                            <span class="help-block" *ngIf="(addManualTaxForm.get('taxAmt').touched || 
                            addManualTaxForm.get('taxAmt').dirty) && 
                            (addManualTaxForm.get('taxAmt').errors ||
                             addManualTaxForm.get('taxAmt').errors)">
                                <span *ngIf="addManualTaxForm.get('taxAmt').errors?.required">
                                    Please enter the tax amount.
                                </span>
                            </span>
                        </div>
                        <button [disabled]="loading || !addManualTaxForm.valid" class="btn btn-info" type="button" (click)="addMT()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeMTModal()">
                    <i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<div id="manualSSBModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeMSModal()">&times;</button>
                <h4 class="modal-title">Add SSB Manually</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="addManualSSBForm" name="addManualSSBForm" class="form-group" [formGroup]="addManualSSBForm">
                        <div class="form-group" [ngClass]="{'has-error': (addManualSSBForm.get('ssbAmt').touched || 
                        addManualSSBForm.get('ssbAmt').dirty) && 
                        !addManualSSBForm.get('ssbAmt').valid }">
                            <label>SSB Amount</label>
                            <input class="form-control" type="number" formControlName="ssbAmt" placeholder="SSB Amount (Required)" />
                            <span class="help-block" *ngIf="(addManualSSBForm.get('ssbAmt').touched || 
                            addManualSSBForm.get('ssbAmt').dirty) && 
                            (addManualSSBForm.get('ssbAmt').errors ||
                            addManualSSBForm.get('ssbAmt').errors)">
                                <span *ngIf="addManualSSBForm.get('ssbAmt').errors?.required">
                                    Please enter the ssb amount.
                                </span>
                            </span>
                        </div>
                        <button [disabled]="loading || !addManualSSBForm.valid" class="btn btn-info" type="button" (click)="addMS()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeMSModal()">
                    <i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<div id="manualDateModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeMDModal()">&times;</button>
                <h4 class="modal-title">Modify Pay Period Manually</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="addManualDateForm" name="addManualDateForm" class="form-group" [formGroup]="addManualDateForm">
                            <div formGroupName="dateGroup" [ngClass]="{'has-error': (addManualDateForm.get('dateGroup').touched || 
                            addManualDateForm.get('dateGroup').dirty) && addManualDateForm.get('dateGroup').errors }">
                        <div class="form-group" [ngClass]="{'has-error': (addManualDateForm.get('dateGroup.startDate').touched || 
                        addManualDateForm.get('dateGroup.startDate').dirty) && 
                        !addManualDateForm.get('dateGroup.startDate').valid }">
                            <label>Start Date</label>
                            <input class="form-control" type="date" formControlName="startDate" placeholder="Start Date (Required)" />
                            <span class="help-block" *ngIf="(addManualDateForm.get('dateGroup.startDate').touched || 
                            addManualDateForm.get('dateGroup.startDate').dirty) && 
                            (addManualDateForm.get('dateGroup.startDate').errors ||
                            addManualDateForm.get('dateGroup.startDate').errors)">
                                <span *ngIf="addManualDateForm.get('dateGroup.startDate').errors?.required">
                                    Please enter the start date.
                                </span>
                                <span *ngIf="addManualDateForm.get('dateGroup.startDate').errors?.outOfRange">
                                    Please enter the valid start date.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (addManualDateForm.get('dateGroup.endDate').touched || 
                        addManualDateForm.get('dateGroup.endDate').dirty) && 
                        !addManualDateForm.get('dateGroup.endDate').valid }">
                            <label>End Date</label>
                            <input class="form-control" type="date" formControlName="endDate" placeholder="End Date (Required)" />
                            <span class="help-block" *ngIf="(addManualDateForm.get('dateGroup.endDate').touched || 
                            addManualDateForm.get('dateGroup.endDate').dirty) && 
                            (addManualDateForm.get('dateGroup.endDate').errors ||
                            addManualDateForm.get('dateGroup.endDate').errors)">
                                <span *ngIf="addManualDateForm.get('dateGroup.endDate').errors?.required">
                                    Please enter the end date.
                                </span>
                                <span *ngIf="addManualDateForm.get('dateGroup.endDate').errors?.outOfRange">
                                    Please enter the valid end date.
                                </span>
                            </span>
                        </div>
                        <span class="help-block" *ngIf="(addManualDateForm.get('dateGroup').touched || 
                        addManualDateForm.get('dateGroup').dirty) && 
                        (addManualDateForm.get('dateGroup').errors?.notMatch || addManualDateForm.get('dateGroup').errors?.theSame)">
                         <span *ngIf="addManualDateForm.get('dateGroup').errors?.notMatch">
                             The end date should not be earlier than the start date.
                         </span>
                         <span *ngIf="addManualDateForm.get('dateGroup').errors?.theSame">
                             The dates shouldn't be the same.
                         </span>
                     </span>
                        <button [disabled]="loading || !addManualDateForm.valid" class="btn btn-info" type="button" (click)="addMD()">
                            <i class="fa fa-edit"></i> Modify</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeMDModal()">
                    <i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>