<div class="table-responsive b0">
    <div class="panel panel-default">
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">

            <button  *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createDepartmentModal">
                <strong>
                    <i class="fa fa-plus"></i> Add</strong>
            </button>
        </div>
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">

            <button class="btn btn-sm btn-default" type="button" (click)="count()">
                <strong>
                    <i class="fa fa-refresh"></i></strong>
            </button>
        </div>

        <div class="panel-heading">
            <h3>Departments</h3>
        </div>
        <div class="panel-body">
                <kendo-grid [data]="gridView" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
                [skip]="skip" [pageable]="true" [loading]="loading">
                <kendo-grid-column field="departmentCode" title="Code" width="72" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="departmentName" title="Name" width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-dep>
                            <a (click)="selectDepartment(dep.departmentCode)">{{dep.departmentName}}</a>
                        </ng-template>
                </kendo-grid-column>
               
                <kendo-grid-column field="numOfPpl" title="Number of Ppl" width="63" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>

                <kendo-grid-column field="createdDate" title="Created Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-dep>
                        {{dep.createdDate | date : 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="createdUser" title="Created User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-dep>
                        {{getUserName(dep.createdUserId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedDate" title="Updated Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-dep>
                        {{dep.updatedDate | date: 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedUser" title="Updated User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-dep>
                        {{getUserName(dep.updatedUserId)}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-dep>
                            <button type="button"  style="margin-right:9px; color: white;width:81px;" class="btn btn-primary" data-toggle="modal" data-target="#editDepartmentModal" (click)="selectDepartmentToEdit(dep)"  *ngIf="!isUserGuest"><i class="fa fa-edit"></i> Edit </button>
                            <button class="btn btn-danger"  style="margin-right:9px; color: white;" *ngIf="isUserAdmin && !isUserGuest" (click)=deleteDepartment(dep) [disabled]="loading"> <i class="fa fa-trash" ></i> Delete</button>
                    </ng-template>
                </kendo-grid-column>
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="Departments.xlsx" [fetchData]="allData">
                        <kendo-excelexport-column field="departmentCode" title="Department Code">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="departmentName" title="Name">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="numOfPpl" title="Number of People">
                            </kendo-excelexport-column>
                </kendo-grid-excel>
            </kendo-grid>
            <!--table class="table table-hover" *ngIf="!loading && depList &&  depList.length > 0">
                <thead>
                    <tr>
                        <th style="width:80px" class="text-center">
                                <div id="empTabHead">
                                    <strong>Department Code</strong>
                                    <div id="sortIconContainer">
                                        <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                        <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                    </div>
                                </div>
                            </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Department Name</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Total Employees</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Created Date</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Created User</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Updated Date</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Updated User</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <strong>VIEW</strong>
                        </th>
                    </tr> 
                </thead>
                <tbody>
                    <tr *ngFor="let dep of depList">
                      
                        <td class="text-center">{{dep.departmentCode}}</td>
                        <td class="text-center"><a (click)="selectDepartment(dep.departmentCode)">{{dep.departmentName}}</a></td>
                        <td class="text-center">{{dep.numOfPpl}}</td>
                        <td class="text-center">{{dep.createdDate | date: 'mediumDate'}}</td>
                        <td class="text-center">{{getUserName(dep.createdUserId)}}</td>
                        <td class="text-center">{{dep.updatedDate | date: 'mediumDate'}}</td>
                        <td class="text-center">{{getUserName(dep.updatedUserId)}}</td>
                        
                        <td class="text-center">
                            <a type="button" style="margin-right:9px;" class="btn btn-primary" data-toggle="modal" data-target="#editDepartmentModal" (click)="selectDepartmentToEdit(dep)"  *ngIf="!isUserGuest"><i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-danger" *ngIf="isUserAdmin && !isUserGuest" (click)=deleteDepartment(dep)> <i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div *ngIf="!loading && depList &&  depList.length <= 0">There isn't any departments yet!</div>
    <div class="ball-spin-fade-loader" *ngIf="loading" style="margin-top: 36px;height: 63px;margin-left: 50%;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        </div-->
    </div>

    <!--ul class="pagination" style="display: flex;justify-content: center;">
        <li>
            <a>First</a>
        </li>
        <li>
            <a>Previous</a>
        </li>
        <li>
            <a>1</a>
        </li>
        <li>
            <a>Next</a>
        </li>
        <li>
            <a>Last</a>
        </li>
    </ul-->
</div>
<section-tab [selectedDepartmentCode]="selectedDepartmentCode"></section-tab>
<department-create (departmentCreated)="onDepartmentCreated()"></department-create>
<department-edit [selectedDepartment]="selectedDepartment" (departmentUpdated)="onDepartmentEdited()"></department-edit>
