<!-- START row-->
<div class="panel panel-default">
  <div class="panel-body">
    <div id="lcForm" name="lcForm" class="form-group" [formGroup]="lcForm">
      <div class="pull-right">
        <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
          <strong> <i class="fa fa-times"></i> Reset </strong>
        </button>
      </div>

      <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
        <div
          class="input-group input-group-lg"
          style="width: 100%;"
          [ngClass]="{
            'has-error':
              (lcForm.get('leaveMonth').touched ||
                lcForm.get('leaveMonth').dirty) &&
              lcForm.get('leaveMonth').errors
          }"
        >
          <div class="col-lg-2">
            <div class="pull-right">
              Month :
            </div>
          </div>
          <div class="col-lg-8">
            <input
              class="form-control"
              style="border-radius: 3px;"
              type="month"
              formControlName="leaveMonth"
              (keydown.enter)="generateCalander()"
            />

            <span
              class="help-block"
              *ngIf="
                (lcForm.get('leaveMonth').touched ||
                  lcForm.get('leaveMonth').dirty) &&
                lcForm.get('leaveMonth').errors
              "
            >
              <span
                style="color:red;"
                *ngIf="lcForm.get('leaveMonth').errors?.required"
              >
                Please enter the desired leave month!
              </span>
            </span>
          </div>

          <div class="col-lg-2">
            <span class="input-group-btn">
              <button
                class="btn btn-info"
                style="border-radius: 3px;"
                type="button"
                (click)="generateCalander()"
                [disabled]="!lcForm.valid || loading"
              >
                <img
                  *ngIf="loading"
                  src="assets/img/loading.gif"
                  style="width:20px; height:20px; margin-right:5px;"
                />
                <i class="fa fa-check" *ngIf="!loading"></i>&nbsp;&nbsp;&nbsp;Submit
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="calendar-app">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <button
              class="btn btn-sm btn-default"
              [disabled]="loading"
              type="button"
              data-toggle="modal"
              (click)="previous()"
            >
              <strong>
                <i class="fa fa-arrow-left"></i>
              </strong>
            </button>
            <button
              class="btn btn-sm btn-default"
              [disabled]="loading"
              type="button"
              data-toggle="modal"
              (click)="next()"
            >
              <strong>
                <i class="fa fa-arrow-right"></i>
              </strong>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <!-- START calendar-->
          <div #fullcalendar class="calendar"></div>
        </div>
      </div>
      <div
        class="col-lg-12 col-md-12"
        style="padding-left: 0px;padding-right: 0px;"
      >
        <!-- START panel-->
        <tabset class="bg-white p0" [justified]="true">
          <tab>
            <ng-template tabHeading>
              <em class="fa fa-home fa-fw"></em>Leave Detail
            </ng-template>

            <!-- START list group-->
            <div
              style="background-color: #ffffff;border-top: 1px solid #ddd;"
              *ngIf="selectedEvent"
            >
              <div style="margin-bottom: 0px;padding: 18px;">
                <ul style="list-style-type: none;margin-bottom:0px;">
                  <li>
                    <b>Employee Name : </b>{{ selectedEvent.employeeName }}
                  </li>
                  <li><b>Leave Date : </b>{{ selectedEvent.leaveDate }}</li>
                  <li><b>Leave Type : </b>{{ selectedEvent.leaveType }}</li>
                  <li><b>Half Day : </b>{{ selectedEvent.halfDay }}</li>
                  <li><b>Description : </b>{{ selectedEvent.description }}</li>
                  <li><b>Comment : </b>{{ selectedEvent.comment }}</li>
                </ul>
              </div>
            </div>
            <div style="background-color: #f5f5f5" *ngIf="!selectedEvent">
              <p
                style="background-color: #f5f5f5;margin-bottom: 0px;padding: 18px;"
              >
                Click on calendar to show information
              </p>
            </div>

            <!-- END list group-->
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
