<div
  id="createFHModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Fixed Holiday</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createFHForm"
            name="createFHForm"
            class="form-group"
            [formGroup]="createFHForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createFHForm.get('month').touched ||
                    createFHForm.get('month').dirty) &&
                  !createFHForm.get('month').valid
              }"
            >
              <label>Month</label>
              <select class="form-control" id="month" formControlName="month">
                <option *ngFor="let month of monthsList">{{ month }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (createFHForm.get('month').touched ||
                    createFHForm.get('month').dirty) &&
                  (createFHForm.get('month').errors ||
                    createFHForm.get('month').errors)
                "
              >
                <span *ngIf="createFHForm.get('month').errors?.notSelected">
                  Please select a month.
                </span>
              </span>
            </div>

            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createFHForm.get('day').touched ||
                    createFHForm.get('day').dirty) &&
                  !createFHForm.get('day').valid
              }"
            >
              <label>Day</label>
              <select class="form-control" id="day" formControlName="day">
                <option *ngFor="let day of daysList">{{ day }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (createFHForm.get('day').touched ||
                    createFHForm.get('day').dirty) &&
                  (createFHForm.get('day').errors ||
                    createFHForm.get('day').errors)
                "
              >
                <span *ngIf="createFHForm.get('day').errors?.notSelected">
                  Please select a day.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createFHForm.get('dayCount').touched ||
                    createFHForm.get('dayCount').dirty) &&
                  !createFHForm.get('dayCount').valid
              }"
            >
              <label>Day Count</label>
              <input
                class="form-control"
                type="number"
                formControlName="dayCount"
              />
              <span
                class="help-block"
                *ngIf="
                  (createFHForm.get('dayCount').touched ||
                    createFHForm.get('dayCount').dirty) &&
                  (createFHForm.get('dayCount').errors ||
                    createFHForm.get('dayCount').errors)
                "
              >
                <span *ngIf="createFHForm.get('dayCount').errors?.required">
                  Please enter a day count.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createFHForm.get('name').touched ||
                    createFHForm.get('name').dirty) &&
                  !createFHForm.get('name').valid
              }"
            >
              <label>Name</label>
              <input class="form-control" type="text" formControlName="name" />
              <span
                class="help-block"
                *ngIf="
                  (createFHForm.get('name').touched ||
                    createFHForm.get('name').dirty) &&
                  (createFHForm.get('name').errors ||
                    createFHForm.get('name').errors)
                "
              >
                <span *ngIf="createFHForm.get('name').errors?.required">
                  Please enter the holiday name.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createFHForm.get('description').touched ||
                    createFHForm.get('description').dirty) &&
                  !createFHForm.get('description').valid
              }"
            >
              <label>Description</label>
              <input
                class="form-control"
                type="text"
                formControlName="description"
              />
              <span
                class="help-block"
                *ngIf="
                  (createFHForm.get('description').touched ||
                    createFHForm.get('description').dirty) &&
                  (createFHForm.get('description').errors ||
                    createFHForm.get('description').errors)
                "
              >
                <span *ngIf="createFHForm.get('description').errors?.required">
                  Please enter the description.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createFixedHoliday()"
              [disabled]="!createFHForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
