<div class="panel">
        <div class="panel-body" style="padding: 0px;">
        <div class="pull-right" style="padding-bottom: 9px;">

                <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createFHModal">
                    <strong>
                        <i class="fa fa-plus"></i> Add
                    </strong>
                </button>
            </div>
            </div>
    <div class="panel-body" style="padding: 0px;">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true">
            <kendo-grid-column field="name" title="Name" width="110">
            </kendo-grid-column>
            <kendo-grid-column field="fixedDay" title="Day" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="fixedMonth" title="Month" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="description" title="Description" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="dayCount" title="Day Count" width="54">
            </kendo-grid-column>
            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-holiday>
                    <button type="button" style="margin-right:9px; color: white;width:84.33px;" class="btn btn-primary" data-toggle="modal" data-target="#editFHModal" (click)="selectHolidayToEdit(holiday)">
                        <i class="fa fa-edit"></i> Edit 
                    </button>
                    <button [disabled]="loading" type="button" style="margin-right:9px; color: white;" class="btn btn-danger" (click)="deleteHoliday(holiday)">
                        <i class="fa fa-trash"></i> Delete 
                    </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>

    </div>

</div>
<create-holiday-FH (fixedHolidayCreated)="onCreated()"></create-holiday-FH>
<edit-holiday-FH [selectedHoliday]="selectedHoliday" (fixedHolidayEdited)="onCreated()"></edit-holiday-FH>