<div
  id="payslipModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Generate/Export Payslip</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="row">
            <kendo-pdf-export #pdf paperSize="A5" margin="0cm">
              <div
                class="well"
                style="padding-bottom: 0px;border: 0px solid #dde6e9;"
                id="print-content"
              >
                <div class="row">
                  <table class="table" style="margin-bottom:0px;">
                    <tbody>
                      <tr>
                        <td
                          class="col-md-7 text-left"
                          style="margin-bottom:0px;border:0px;position:absolute;"
                        >
                          <strong>Code:</strong>
                          {{ payslip.empCode }}
                          <br />
                          <strong>Name:</strong>
                          {{ payslip.empName }}
                          <br />

                          <strong>From&nbsp;&nbsp;</strong>
                          <u>{{ startDate | date: "mediumDate" }}</u>
                          <strong>&nbsp;&nbsp;To&nbsp;</strong
                          ><u> {{ endDate | date: "mediumDate" }}</u>
                        </td>

                        <td
                          class="col-md-5 text-right"
                          style="margin-bottom:0px;border:0px;vertical-align:top;"
                        >
                          <!--h1 style ="margin:0px;">Payslip</h1-->
                          <div>
                            <img
                              class="img-responsive"
                              style="height: 90px;display:initial;"
                              src="https://i.imgur.com/yMn3vZs.png"
                              alt="APT Logo"
                            />
                          </div>
                          <p style="margin-top:10.5px;">
                            <strong>Date:</strong>
                            {{ today | date: "mediumDate" }}
                          </p>
                          <p>
                            <strong>Slip No #:</strong> {{ payslip.slipNo }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <table class="table table-hover" style="margin-bottom:0px;">
                    <thead>
                      <tr>
                        <th class="text-left" style="color:black;">Earnings</th>
                        <th></th>
                        <th class="text-left" style="color:black;">
                          Deductions
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          <!-- Color black added  -->
                          Salary
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          <!-- Color black added  -->
                          {{ payslip.currentSalary }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Leave
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.leave }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Bonus
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.bonus }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Late
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.late }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Overtime
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.overtime }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Advance Salary
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.advanceSalary }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Commission
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.commission }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Compensation
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.compensation }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Travelling
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.travelling }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Tax
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.tax }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Medical Allowance
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.mdAllowance }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          SSB
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.ssb }} Ks
                        </td>
                      </tr>

                      <tr>
                          <td class="col-md-3 text-left"></td>
                          <td
                            class="col-md-3 text-right column-right"
                            id="earningsDetail"
                          ></td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Loan
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.loan }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td class="col-md-3 text-left"></td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                        ></td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Absent Amount
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.absent }} Ks
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Total Earnings</strong>
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>{{ payslip.totalEarnings }} Ks</strong>
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Total Deductions</strong>
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>{{ payslip.totalDeductions }} Ks</strong>
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                        <td></td>
                        <td
                          class="text-right"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Gross Salary: </strong>
                        </td>
                        <td
                          class="text-right text-danger"
                          style="font-size: 9px;"
                        >
                          <strong>{{ payslip.grossSalary }} Ks</strong>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td
                          class="text-right"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Net Salary: </strong>
                        </td>
                        <td
                          class="text-right text-danger"
                          style="font-size: 9px;"
                        >
                          <strong>{{ payslip.netSalary }} Ks</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </kendo-pdf-export>
          </div>

          <!--button
            style="margin-right:9px;"
            [disabled]="loading"
            type="button"
            class="btn btn-success"
            (click)="printPayslip()"
          >
            <i class="fa fa-print"></i> Print
          </button-->
          <button
            class="btn btn-info"
            [disabled]="loading"
            kendo-button
            (click)="savePDF()"
          >
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save As PDF
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
