<div
  id="createMDAllowanceModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Medical Allowance</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createMDAllowanceForm"
            name="createMDAllowanceForm"
            class="form-group"
            [formGroup]="createMDAllowanceForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMDAllowanceForm.get('mdAllowanceDate').touched ||
                    createMDAllowanceForm.get('mdAllowanceDate').dirty) &&
                  !createMDAllowanceForm.get('mdAllowanceDate').valid
              }"
            >
              <label>Medical Allowance Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="mdAllowanceDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (createMDAllowanceForm.get('mdAllowanceDate').touched ||
                    createMDAllowanceForm.get('mdAllowanceDate').dirty) &&
                  (createMDAllowanceForm.get('mdAllowanceDate').errors ||
                    createMDAllowanceForm.get('mdAllowanceDate').errors)
                "
              >
                <span
                  *ngIf="
                    createMDAllowanceForm.get('mdAllowanceDate').errors
                      ?.notSelected
                  "
                >
                  Please select the medical allowance date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMDAllowanceForm.get('mdAllowanceAmt').touched ||
                    createMDAllowanceForm.get('mdAllowanceAmt').dirty) &&
                  !createMDAllowanceForm.get('mdAllowanceAmt').valid
              }"
            >
              <label>Medical Allowance Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="mdAllowanceAmt"
                placeholder="Medical Allowance Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createMDAllowanceForm.get('mdAllowanceAmt').touched ||
                    createMDAllowanceForm.get('mdAllowanceAmt').dirty) &&
                  (createMDAllowanceForm.get('mdAllowanceAmt').errors ||
                    createMDAllowanceForm.get('mdAllowanceAmt').errors)
                "
              >
                <span
                  *ngIf="
                    createMDAllowanceForm.get('mdAllowanceAmt').errors?.required
                  "
                >
                  Please enter the medical allowance amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMDAllowanceForm.get('reason').touched ||
                    createMDAllowanceForm.get('reason').dirty) &&
                  !createMDAllowanceForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createMDAllowanceForm.get('reason').touched ||
                    createMDAllowanceForm.get('reason').dirty) &&
                  (createMDAllowanceForm.get('reason').errors ||
                    createMDAllowanceForm.get('reason').errors)
                "
              >
                <span
                  *ngIf="createMDAllowanceForm.get('reason').errors?.required"
                >
                  Please enter reason for the medical allowance about to be
                  given.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createMDAllowance()"
              [disabled]="!createMDAllowanceForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
