<div class="table-responsive" id="mdAllowanceTable">
    <kendo-grid [data]="gridView" [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [sort]="sort" (sortChange)="sortChange($event)"  (excelExport)="onExcelExport($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
        [pageable]="true">
        <kendo-grid-column field="date" title="Date" width="110">
                <ng-template kendoGridCellTemplate let-mdAllowance>
                        {{mdAllowance.date | date : 'mediumDate'}}
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amount" title="Amount" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="reason" title="Reason" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="comment" title="Comment" width="180">
        </kendo-grid-column>
        <kendo-grid-column width="120">
            <ng-template kendoGridCellTemplate let-mdAllowance>
                <button type="button" style="margin-right:9px; color: white;width:81.56px;" class="btn btn-primary" data-toggle="modal" data-target="#editMDAllowanceModal" (click)="selectMDAllowanceToEdit(mdAllowance)"><i class="fa fa-edit"></i> Edit </button>
            <button class="btn btn-danger" style="margin-right:9px; color: white;" (click)=deleteMDAllowance(mdAllowance) [disabled]="loading"> <i class="fa fa-trash"></i> Delete</button>
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
            </ng-template>
            <kendo-grid-excel fileName="MDAllowanceRecord.xlsx"></kendo-grid-excel>
    </kendo-grid>
    </div>
<create-md [employeeId]="employeeId" (mdAllowanceCreated)="onMDAllowanceCreated()"></create-md>
<edit-md [selectedMDAllowance]="selectedMDAllowance" (mdAllowanceUpdated)="onMDAllowanceEdited()"></edit-md>