<div class="content-heading">
  Dashboard
  <small>Welcome {{ userName }}!</small>
</div>
<div class="row">
  <div class="col-lg-2 col-sm-5"></div>

  <div class="col-lg-2 col-md-5 col-sm-12"></div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- START date widget-->
    <div class="panel widget">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-green pv-lg">
          <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
          <span now class="text-sm" format="MMMM"></span>
          <br />
          <span now class="h2 mt0" format="D"></span>
        </div>
        <div class="col-xs-8 pv-lg">
          <span now class="text-uppercase" format="dddd"></span>
          <br />
          <span now class="h2 mt0" format="h:mm"></span>
          <span now class="text-muted text-sm" format="a"></span>
        </div>
      </div>
    </div>
    <!-- END date widget    -->
  </div>
</div>
<!-- START row-->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <!-- START panel-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-users fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ employeeCount }}</div>
            <p class="m0">Employees!</p>
          </div>
        </div>
      </div>
      <span class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
        <span class="pull-left">&nbsp;</span>
      </span>
      <!-- END panel-->
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- START panel-->
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-building fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ departmentCount }}</div>
            <p class="m0">Departments!</p>
          </div>
        </div>
      </div>
      <span class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
        <span class="pull-left">&nbsp;</span>
      </span>
    </div>
    <!-- END panel-->
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- START panel-->
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-home fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ sectionCount }}</div>
            <p class="m0">Sections!</p>
          </div>
        </div>
      </div>
      <span class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
        <span class="pull-left">&nbsp;</span>
      </span>
    </div>
    <!-- END panel-->
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- START panel-->
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-user fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ designationCount }}</div>
            <p class="m0">Designations!</p>
          </div>
        </div>
      </div>
      <span class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
        <span class="pull-left">&nbsp;</span>
      </span>
    </div>
    <!-- END panel-->
  </div>
</div>
<!-- END row-->
<div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
  <!-- START widget-->
  <div class="panel widget">
    <div class="row row-table row-flush">
      <div class="col-xs-6 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-4 text-center text-green">
            <em class="fa fa-users fa-2x"></em>
          </div>
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <h4 class="mt0">{{ presentCount }}</h4>
              <p class="mb0 text-muted">Present</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 bb">
        <div class="row row-table row-flush">
          <div class="col-xs-4 text-center text-danger">
            <em class="fa fa-users fa-2x"></em>
          </div>
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <h4 class="mt0">{{ absentCount }}</h4>
              <p class="mb0 text-muted">Absent</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-table row-flush">
      <div class="col-xs-6 br">
        <div class="row row-table row-flush">
          <div class="col-xs-4 text-center text-info">
            <em class="fa fa-users fa-2x"></em>
          </div>
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <h4 class="mt0">{{ lateCount }}</h4>
              <p class="mb0 text-muted">Late</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row row-table row-flush">
          <div class="col-xs-4 text-center text-yellow">
            <em class="fa fa-users fa-2x"></em>
          </div>
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <h4 class="mt0">{{ leaveCount }}</h4>
              <p class="mb0 text-muted">Leave</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9"></div>
</div>
