<div class="table-responsive" id="bonusTable">
    
    <kendo-grid [data]="gridView" [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
        [pageable]="true" (excelExport)="onExcelExport($event)">
        <kendo-grid-column field="bonusDate" title="Date" width="110">
                <ng-template kendoGridCellTemplate let-bonus>
                        {{bonus.bonusDate | date : 'mediumDate'}}
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="bonusAmount" title="Amount" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="reason" title="Reason" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="comment" title="Comment" width="180">
        </kendo-grid-column>
        <kendo-grid-column width="120">
            <ng-template kendoGridCellTemplate let-bonus>
            <button type="button" style="margin-right:9px; color: white;width:81.56px;" class="btn btn-primary" data-toggle="modal" data-target="#editBonusModal" (click)="selectBonusToEdit(bonus)"><i class="fa fa-edit"></i> Edit </button>
            <button class="btn btn-danger" style="margin-right:9px; color: white;" (click)=deleteBonus(bonus) [disabled]="loading"> <i class="fa fa-trash"></i> Delete</button>
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
            </ng-template>
            <kendo-grid-excel fileName="BonusRecord.xlsx"></kendo-grid-excel>
    </kendo-grid>
    </div>
<create-bonus [employeeId]="employeeId" (bonusCreated)="onBonusCreated()"></create-bonus>
<edit-bonus [selectedBonus]="selectedBonus" (bonusUpdated)="onBonusEdited()"></edit-bonus>