<div
  id="editBonusModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Bonus</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editBonusForm"
            name="editBonusForm"
            class="form-group"
            [formGroup]="editBonusForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editBonusForm.get('bonusDate').touched ||
                    editBonusForm.get('bonusDate').dirty) &&
                  !editBonusForm.get('bonusDate').valid
              }"
            >
              <label>Bonus Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="bonusDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editBonusForm.get('bonusDate').touched ||
                    editBonusForm.get('bonusDate').dirty) &&
                  (editBonusForm.get('bonusDate').errors ||
                    editBonusForm.get('bonusDate').errors)
                "
              >
                <span
                  *ngIf="editBonusForm.get('bonusDate').errors?.notSelected"
                >
                  Please select the bonus date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editBonusForm.get('bonusAmt').touched ||
                    editBonusForm.get('bonusAmt').dirty) &&
                  !editBonusForm.get('bonusAmt').valid
              }"
            >
              <label>Bonus Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="bonusAmt"
                placeholder="Bonus Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editBonusForm.get('bonusAmt').touched ||
                    editBonusForm.get('bonusAmt').dirty) &&
                  (editBonusForm.get('bonusAmt').errors ||
                    editBonusForm.get('bonusAmt').errors)
                "
              >
                <span *ngIf="editBonusForm.get('bonusAmt').errors?.required">
                  Please enter the bonus amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editBonusForm.get('reason').touched ||
                    editBonusForm.get('reason').dirty) &&
                  !editBonusForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editBonusForm.get('reason').touched ||
                    editBonusForm.get('reason').dirty) &&
                  (editBonusForm.get('reason').errors ||
                    editBonusForm.get('reason').errors)
                "
              >
                <span *ngIf="editBonusForm.get('reason').errors?.required">
                  Please enter reason for the bonus about to be edited.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="updateBonus()"
              [disabled]="!editBonusForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
