<div class="table-responsive b0">
    <div class="panel panel-default">
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">

            <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createDesignationModal">
                <strong>
                    <i class="fa fa-plus"></i> Add</strong>
            </button>
        </div>

        <div class="panel-heading">
            <h3>Designations</h3>
        </div>
        <div class="panel-body">
            <kendo-grid [data]="gridView" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
                [skip]="skip" [pageable]="true"[loading]="loading">
                <kendo-grid-column field="designationCode" title="Code" width="72" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="designationName" title="Name" width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column *ngIf="isUserAdmin" field="basicPay" title="Basic Pay" width="100" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>

                <kendo-grid-column field="createdDate" title="Created Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-des>
                        {{des.createdDate | date : 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="createdDate" title="Created User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-des>
                        {{getUserName(des.createdUserId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedDate" title="Updated Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-des>
                        {{des.updatedDate | date: 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedUserName" title="Updated User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-des>
                        {{getUserName(des.updatedUserId)}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-des>
                        <button type="button" *ngIf="!isUserGuest" style="margin-right:9px; color: white;width:81px;" class="btn btn-primary" data-toggle="modal"
                            data-target="#editDesignationModal" (click)="selectDesignationToEdit(des)">
                            <i class="fa fa-edit"></i> Edit </button>
                        <button class="btn btn-danger" [disabled]="loading" style="margin-right:9px; color: white;" *ngIf="isUserAdmin && !isUserGuest" (click)=deleteDesignation(des)>
                            <i class="fa fa-trash"></i> Delete</button>
                    </ng-template>
                </kendo-grid-column>
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="Designations.xlsx" [fetchData]="allData">
                        <kendo-excelexport-column field="designationCode" title="Designation Code">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="designationName" title="Designation Name">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="basicPay" title="Basic Pay">
                            </kendo-excelexport-column>
                </kendo-grid-excel>
            </kendo-grid>
            <!--table class="table table-hover" *ngIf="!loading && desList &&  desList.length > 0">
                <thead>
                    <tr>
                        
                        <th style="width:80px" class="text-center">
                            <div id="empTabHead">
                                <strong>Designation Code</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Designation Name</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Basic Pay</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Created Date</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Created User</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Updated Date</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div id="empTabHead">
                                <strong>Updated User</strong>
                                <div id="sortIconContainer">
                                    <a class="fa fa-fw fa-sort-asc" id="sortIconProperties"></a>
                                    <a class="fa fa-fw fa-sort-desc" id="sortIconProperties"></a>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <strong>VIEW</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let des of desList">

                        <td class="text-center">{{des.designationCode}}</td>
                        <td class="text-center">{{des.designationName}}</td>
                        <td class="text-center">{{des.basicPay}}</td>
                        <td class="text-center">{{des.createdDate | date: 'mediumDate'}}</td>
                        <td class="text-center">{{getUserName(des.createdUserId)}}</td>
                        <td class="text-center">{{des.updatedDate | date: 'mediumDate'}}</td>
                        <td class="text-center">{{getUserName(des.updatedUserId)}}</td>

                        <td class="text-center">
                            <a type="button" *ngIf="!isUserGuest" style="margin-right:9px;" class="btn btn-primary" data-toggle="modal" data-target="#editDesignationModal"
                                (click)="selectDesignationToEdit(des)">
                                <i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-danger" *ngIf="isUserAdmin && !isUserGuest" (click)=deleteDesignation(des)>
                                <i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div *ngIf="!loading && desList &&  desList.length <= 0">There isn't any designations yet!</div>
            <div class="ball-spin-fade-loader" *ngIf="loading" style="margin-top: 36px;height: 63px;margin-left: 50%;">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div-->
        </div>
    </div>

    <!--ul class="pagination" style="display: flex;justify-content: center;">
        <li>
            <a>First</a>
        </li>
        <li>
            <a>Previous</a>
        </li>
        <li>
            <a>1</a>
        </li>
        <li>
            <a>Next</a>
        </li>
        <li>
            <a>Last</a>
        </li>
    </ul-->
</div>


<designation-create (designationCreated)="onDesignationCreated()"></designation-create>
<designation-edit [selectedDesignation]="selectedDesignation" (designationUpdated)="onDesignationEdited()"></designation-edit>