<div
  id="createMHModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Movable Holiday</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createMHForm"
            name="createMHForm"
            class="form-group"
            [formGroup]="createMHForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMHForm.get('date').touched ||
                    createMHForm.get('date').dirty) &&
                  !createMHForm.get('date').valid
              }"
            >
              <label>Date</label>
              <input class="form-control" type="date" formControlName="date" />
              <span
                class="help-block"
                *ngIf="
                  (createMHForm.get('date').touched ||
                    createMHForm.get('date').dirty) &&
                  (createMHForm.get('date').errors ||
                    createMHForm.get('date').errors)
                "
              >
                <span *ngIf="createMHForm.get('date').errors?.required">
                  Please select a date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMHForm.get('dayCount').touched ||
                    createMHForm.get('dayCount').dirty) &&
                  !createMHForm.get('dayCount').valid
              }"
            >
              <label>Day Count</label>
              <input
                class="form-control"
                type="number"
                formControlName="dayCount"
              />
              <span
                class="help-block"
                *ngIf="
                  (createMHForm.get('dayCount').touched ||
                    createMHForm.get('dayCount').dirty) &&
                  (createMHForm.get('dayCount').errors ||
                    createMHForm.get('dayCount').errors)
                "
              >
                <span *ngIf="createMHForm.get('dayCount').errors?.required">
                  Please enter a day count.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMHForm.get('name').touched ||
                    createMHForm.get('name').dirty) &&
                  !createMHForm.get('name').valid
              }"
            >
              <label>Name</label>
              <input class="form-control" type="text" formControlName="name" />
              <span
                class="help-block"
                *ngIf="
                  (createMHForm.get('name').touched ||
                    createMHForm.get('name').dirty) &&
                  (createMHForm.get('name').errors ||
                    createMHForm.get('name').errors)
                "
              >
                <span *ngIf="createMHForm.get('name').errors?.required">
                  Please enter the holiday name.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createMHForm.get('description').touched ||
                    createMHForm.get('description').dirty) &&
                  !createMHForm.get('description').valid
              }"
            >
              <label>Description</label>
              <input
                class="form-control"
                type="text"
                formControlName="description"
              />
              <span
                class="help-block"
                *ngIf="
                  (createMHForm.get('description').touched ||
                    createMHForm.get('description').dirty) &&
                  (createMHForm.get('description').errors ||
                    createMHForm.get('description').errors)
                "
              >
                <span *ngIf="createMHForm.get('description').errors?.required">
                  Please enter the description.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createMovableHoliday()"
              [disabled]="!createMHForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
