<div class="panel">
        <div class="panel-body" style="padding: 0px;">
        <div class="pull-right" style="padding-bottom: 9px;">

                <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createMHModal">
                    <strong>
                        <i class="fa fa-plus"></i> Add
                    </strong>
                </button>
            </div>
            </div>
    <div class="panel-body" style="padding: 0px;">
      
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true"  *ngIf="holidayList && holidayList.length > 0">
            <kendo-grid-column field="name" title="Name" width="110">
            </kendo-grid-column>
            <kendo-grid-column field="date" title="Date" width="72">
                    <ng-template kendoGridCellTemplate let-holiday>
                            {{holiday.date | date : 'mediumDate'}}
                        </ng-template>
            </kendo-grid-column>
           
            <kendo-grid-column field="description" title="Description" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="dayCount" title="Day Count" width="54">
            </kendo-grid-column>
            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-holiday>

                    <a type="button" style="margin-right:9px;color: white;width:84.33px;" class="btn btn-primary" data-toggle="modal" data-target="#editMHModal" (click)="selectHolidayToEdit(holiday)">
                        <i class="fa fa-edit"></i> Edit </a>
                        <a type="button" style="margin-right:9px;color: white;" class="btn btn-danger" (click)="deleteHoliday(holiday)">
                            <i class="fa fa-trash"></i> Delete </a>
                </ng-template>

            </kendo-grid-column>

        </kendo-grid>

    </div>

</div>

<create-holiday-MH (movableHolidayCreated)="onUpdated()"></create-holiday-MH>
<edit-holiday-MH [selectedHoliday]="selectedHoliday" (movableHolidayEdited)="onUpdated()"></edit-holiday-MH>