@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';
@import url('https://www.telerik.com/kendo-angular-ui/npm/node_modules//@progress/kendo-theme-default/dist/all.css');


.home-container {
    margin: 0 auto;
    max-width: $container-md;

    .home-logo {
        width: 240px;
    }

    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}

