<div
  id="createTotalIncomeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Insert APT Total Income</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createTotalIncomeForm"
            name="createTotalIncomeForm"
            class="form-group"
            [formGroup]="createTotalIncomeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTotalIncomeForm.get('periodStart').touched ||
                    createTotalIncomeForm.get('periodStart').dirty) &&
                  !createTotalIncomeForm.get('periodStart').valid
              }"
            >
              <label>Period Start</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodStart"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (createTotalIncomeForm.get('periodStart').touched ||
                    createTotalIncomeForm.get('periodStart').dirty) &&
                  (createTotalIncomeForm.get('periodStart').errors ||
                    createTotalIncomeForm.get('periodStart').errors)
                "
              >
                <span
                  *ngIf="
                    createTotalIncomeForm.get('periodStart').errors?.required
                  "
                >
                  Please enter the period start date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTotalIncomeForm.get('periodEnd').touched ||
                    createTotalIncomeForm.get('periodEnd').dirty) &&
                  !createTotalIncomeForm.get('periodEnd').valid
              }"
            >
              <label>Period End</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodEnd"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (createTotalIncomeForm.get('periodEnd').touched ||
                    createTotalIncomeForm.get('periodEnd').dirty) &&
                  (createTotalIncomeForm.get('periodEnd').errors ||
                    createTotalIncomeForm.get('periodEnd').errors)
                "
              >
                <span
                  *ngIf="
                    createTotalIncomeForm.get('periodEnd').errors?.required
                  "
                >
                  Please enter the period end date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTotalIncomeForm.get('income').touched ||
                    createTotalIncomeForm.get('income').dirty) &&
                  !createTotalIncomeForm.get('income').valid
              }"
            >
              <label>Total Income</label>
              <input
                class="form-control"
                type="number"
                formControlName="income"
              />
              <span
                class="help-block"
                *ngIf="
                  (createTotalIncomeForm.get('income').touched ||
                    createTotalIncomeForm.get('income').dirty) &&
                  (createTotalIncomeForm.get('income').errors ||
                    createTotalIncomeForm.get('income').errors)
                "
              >
                <span
                  *ngIf="createTotalIncomeForm.get('income').errors?.required"
                >
                  Please enter the amount of income.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createIncome()"
              [disabled]="!createTotalIncomeForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
