<div
  id="editTotalIncomeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Income</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="updateTotalIncomeForm"
            name="updateTotalIncomeForm"
            class="form-group"
            [formGroup]="updateTotalIncomeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateTotalIncomeForm.get('periodStart').touched ||
                    updateTotalIncomeForm.get('periodStart').dirty) &&
                  !updateTotalIncomeForm.get('periodStart').valid
              }"
            >
              <label>Period Start</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodStart"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateTotalIncomeForm.get('periodStart').touched ||
                    updateTotalIncomeForm.get('periodStart').dirty) &&
                  (updateTotalIncomeForm.get('periodStart').errors ||
                    updateTotalIncomeForm.get('periodStart').errors)
                "
              >
                <span
                  *ngIf="
                    updateTotalIncomeForm.get('periodStart').errors?.required
                  "
                >
                  Please enter the period start date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateTotalIncomeForm.get('periodEnd').touched ||
                    updateTotalIncomeForm.get('periodEnd').dirty) &&
                  !updateTotalIncomeForm.get('periodEnd').valid
              }"
            >
              <label>Period End</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodEnd"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateTotalIncomeForm.get('periodEnd').touched ||
                    updateTotalIncomeForm.get('periodEnd').dirty) &&
                  (updateTotalIncomeForm.get('periodEnd').errors ||
                    updateTotalIncomeForm.get('periodEnd').errors)
                "
              >
                <span
                  *ngIf="
                    updateTotalIncomeForm.get('periodEnd').errors?.required
                  "
                >
                  Please enter the period end date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateTotalIncomeForm.get('income').touched ||
                    updateTotalIncomeForm.get('income').dirty) &&
                  !updateTotalIncomeForm.get('income').valid
              }"
            >
              <label>Income</label>
              <input
                class="form-control"
                type="number"
                formControlName="income"
              />
              <span
                class="help-block"
                *ngIf="
                  (updateTotalIncomeForm.get('income').touched ||
                    updateTotalIncomeForm.get('income').dirty) &&
                  (updateTotalIncomeForm.get('income').errors ||
                    updateTotalIncomeForm.get('income').errors)
                "
              >
                <span
                  *ngIf="updateTotalIncomeForm.get('income').errors?.required"
                >
                  Please enter the amount of income.
                </span>
              </span>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="editIncome()"
              [disabled]="!updateTotalIncomeForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
