<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center" style="border: 1px solid #bfb3b3;border-right-width: 0px;border-left-width: 0px;border-top-width: 0px;background-color: #ffffff;">
                <!--a href="#">
                    <img class="block-center img-rounded" src="assets/img/logo.png" alt="Image" />  
                </a-->
                <img class="block-center img-rounded img-responsive" style="width:54px;" src="assets/img/APT_Logo_Trans.png" alt="Image" />
            </div>
            <div class="panel-body">
                <p class="text-center pv">SIGN IN TO CONTINUE.</p>
                <form [formGroup]="loginForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, loginForm.value)">
                    <div class="form-group has-feedback">
                        <input class="form-control" type="text" name="account_userName" placeholder="Enter User Name" autocomplete="off" formControlName="userName" required=""  (keydown.enter)="submitForm($event, loginForm.value)" />
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="loginForm.controls['userName'].hasError('required') && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">This field is required</span>
                    </div>
                    <div class="form-group has-feedback">
                        <select class="form-control" id="userRole" formControlName="userRole">
                            <option>Select A User Role</option>
                            <option>Admin</option>
                            <option>Normal</option>
                        </select>
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="loginForm.controls['userRole'].hasError('notSelected') && (loginForm.controls['userRole'].dirty || loginForm.controls['userRole'].touched)">Please select a user role!</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="password" type="password" name="password" placeholder="Password" formControlName="password" required=""   (keydown.enter)="submitForm($event, loginForm.value)"/>
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">This field is required</span>
                    </div>
                  
                    <button class="btn btn-block btn-primary mt-lg" type="submit" [disabled]="loading"><i class="fa fa-sign-in"></i> Login</button>
                </form>
               
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span>-</span>
            <span>{{ settings.app.name }}</span>
            
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>