<div
  id="createIncomeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Income</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createIncomeForm"
            name="createIncomeForm"
            class="form-group"
            [formGroup]="createIncomeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createIncomeForm.get('periodStart').touched ||
                    createIncomeForm.get('periodStart').dirty) &&
                  !createIncomeForm.get('periodStart').valid
              }"
            >
              <label>Period Start</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodStart"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (createIncomeForm.get('periodStart').touched ||
                    createIncomeForm.get('periodStart').dirty) &&
                  (createIncomeForm.get('periodStart').errors ||
                    createIncomeForm.get('periodStart').errors)
                "
              >
                <span
                  *ngIf="createIncomeForm.get('periodStart').errors?.required"
                >
                  Please enter the period start date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createIncomeForm.get('periodEnd').touched ||
                    createIncomeForm.get('periodEnd').dirty) &&
                  !createIncomeForm.get('periodEnd').valid
              }"
            >
              <label>Period End</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodEnd"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (createIncomeForm.get('periodEnd').touched ||
                    createIncomeForm.get('periodEnd').dirty) &&
                  (createIncomeForm.get('periodEnd').errors ||
                    createIncomeForm.get('periodEnd').errors)
                "
              >
                <span
                  *ngIf="createIncomeForm.get('periodEnd').errors?.required"
                >
                  Please enter the period end date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createIncomeForm.get('department').touched ||
                    createIncomeForm.get('department').dirty) &&
                  !createIncomeForm.get('department').valid
              }"
            >
              <label>Department</label>
              <select
                class="form-control"
                id="department"
                formControlName="department"
              >
                <option>Select A Department</option>
                <option *ngFor="let depName of departmentNames">{{
                  depName
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (createIncomeForm.get('department').touched ||
                    createIncomeForm.get('department').dirty) &&
                  (createIncomeForm.get('department').errors ||
                    createIncomeForm.get('department').errors)
                "
              >
                <span
                  *ngIf="createIncomeForm.get('department').errors?.notSelected"
                >
                  Please select the department to report along with the income.
                </span>
              </span>
            </div>
            <!--div *ngIf="sectionMap && sectionMap.size > 0" class="form-group" [ngClass]="{'has-error': (createIncomeForm.get('section').touched || 
                                createIncomeForm.get('section').dirty) && 
                                !createIncomeForm.get('section').valid }">
                            <label>Section</label>
                            <select class="form-control" id="section" formControlName="section">
                                <option>Select a Section</option>
                                <option *ngFor="let secName of sectionNames">{{secName}}</option>
                            </select>
                            <span class="help-block" *ngIf="(createIncomeForm.get('section').touched || 
                                    createIncomeForm.get('section').dirty) && 
                                    (createIncomeForm.get('section').errors ||
                                     createIncomeForm.get('section').errors)">
                                <span *ngIf="createIncomeForm.get('section').errors?.notSelected && sectionMap.size > 0">
                                    Please select the section to report along with the income.
                                </span>
                            </span>
                        </div-->
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createIncomeForm.get('income').touched ||
                    createIncomeForm.get('income').dirty) &&
                  !createIncomeForm.get('income').valid
              }"
            >
              <label>Income</label>
              <input
                class="form-control"
                type="number"
                formControlName="income"
              />
              <span
                class="help-block"
                *ngIf="
                  (createIncomeForm.get('income').touched ||
                    createIncomeForm.get('income').dirty) &&
                  (createIncomeForm.get('income').errors ||
                    createIncomeForm.get('income').errors)
                "
              >
                <span *ngIf="createIncomeForm.get('income').errors?.required">
                  Please enter the amount of income.
                </span>
              </span>
            </div>

            <!--div *ngIf="createIncomeForm.get('income').valid && createIncomeForm.get('department').valid">
                        <button type="button" class="btn btn-default" (click)="continueProcess()" >
                            <i class="fa fa-check"></i> Continue
                        </button>
                        <br/>
                        <div class="form-group" *ngIf="continue">
                            <label>Expenses</label>
                            <input class="form-control" type="number" formControlName="outcome" disabled/>
                        </div>
                        <div class="form-group" *ngIf="continue">
                            <label>Profit</label>
                            <input class="form-control" style="color:green;" type="number" formControlName="profit" disabled/>
                        </div>
                        <div class="form-group" *ngIf="continue">
                            <label>Loss</label>              
                            <input class="form-control" style="color:red;" type="number" formControlName="loss" disabled/>             
                        </div>
                        </div-->
            <button
              class="btn btn-info"
              type="button"
              (click)="createIncome()"
              [disabled]="!createIncomeForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
