<div style="padding-bottom:9px;padding-right:9px;padding-left:9px;">
  <div class="panel-heading" style="padding-left: 0px;">
    <h4 style="margin-top:0px;margin-bottom:0px;">Department ICOC</h4>
  </div>
  <kendo-grid
    [data]="gridView"
    [sortable]="{
      allowUnsort: true,
      mode: 'single'
    }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    (pageChange)="pageChange($event)"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
  >
    <kendo-grid-column field="departmentId" title="Department" width="110">
      <ng-template kendoGridCellTemplate let-io>
        {{ getDepartmentName(io.departmentId) }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Pay Period" width="144">
      <ng-template kendoGridCellTemplate let-io>
        {{ io.payPeriod | date: "mediumDate" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="income" title="Income" width="80">
    </kendo-grid-column>
    <!--kendo-grid-column field="outcome" title="Outcome" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="profit" title="Profit" width="120">
                <ng-template kendoGridCellTemplate let-io>
                        <span style="color:green;">{{io.profit }}</span>
                </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="loss" title="Loss" width="120">
                <ng-template kendoGridCellTemplate let-io>
                        <span style="color:red;">{{io.loss }}</span>
                </ng-template>
        </kendo-grid-column-->
    <kendo-grid-column title="" width="90">
      <ng-template kendoGridCellTemplate let-io>
        <button
          *ngIf="isUserAdmin && io.sectionId == ''"
          class="btn btn-sm btn-default"
          type="button"
          (click)="selectIncomeToEdit(io)"
          data-toggle="modal"
          data-target="#editIncomeModal"
        >
          <strong>Edit</strong>
        </button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
<div style="padding-bottom:9px;padding-right:9px;padding-left:9px;">
  <div class="panel-heading" style="padding-left: 0px;">
    <h4 style="margin-top:0px;margin-bottom:0px;">APT Total ICOC</h4>
  </div>
  <kendo-grid
    [data]="gridViewTotal"
    [sortable]="{
      allowUnsort: true,
      mode: 'single'
    }"
    [sort]="sortTotal"
    (sortChange)="sortChangeTotal($event)"
    (pageChange)="pageChangeTotal($event)"
    [pageSize]="pageSizeTotal"
    [skip]="skipTotal"
    [pageable]="true"
  >
    <kendo-grid-column field="payPeriod" title="Pay Period" width="144">
      <ng-template kendoGridCellTemplate let-io>
        {{ io.payPeriod | date: "mediumDate" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="income" title="Income" width="80">
    </kendo-grid-column>
    <kendo-grid-column title="" width="90">
      <ng-template kendoGridCellTemplate let-tio>
        <button
          *ngIf="isUserAdmin"
          class="btn btn-sm btn-default"
          type="button"
          (click)="selectTotalIncomeToEdit(tio)"
          data-toggle="modal"
          data-target="#editTotalIncomeModal"
        >
          <strong>Edit</strong>
        </button>
      </ng-template>
    </kendo-grid-column>
    <!--kendo-grid-column field="outcome" title="Outcome" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="profit" title="Profit" width="80">
      <ng-template kendoGridCellTemplate let-tio>
        <span style="color:green;">{{ tio.profit }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="loss" title="Loss" width="80">
      <ng-template kendoGridCellTemplate let-tio>
        <span style="color:red;">{{ tio.loss }}</span>
      </ng-template>
    </kendo-grid-column-->
  </kendo-grid>
</div>

<update-income
  [selectedIncome]="selectedIncome"
  (icocUpdated)="onICOCCreated()"
  [selectedPayPeriod]="selectedPayPeriod"
></update-income>
<create-income
  (icocCreated)="onICOCCreated()"
  [selectedPayPeriod]="selectedPayPeriod"
></create-income>
<update-total-income
  [selectedTotalIncome]="selectedTotalIncome"
  (totalUpdated)="onTotalCreated()"
  [selectedPayPeriod]="selectedPayPeriod"
></update-total-income>
<create-total-income
  (totalCreated)="onTotalCreated()"
  [selectedPayPeriod]="selectedPayPeriod"
></create-total-income>
