<kendo-grid
  [data]="gridView"
  [sortable]="{
    allowUnsort: true,
    mode: 'single'
  }"
  [sort]="sort"
  (sortChange)="sortChange($event)"
  (pageChange)="pageChange($event)"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  *ngIf="!loading"
>
  <kendo-grid-column field="sectionId" title="Section" width="110">
    <ng-template kendoGridCellTemplate let-io>
      {{ getSectionName(io.sectionId) }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="Pay Period" width="144">
    <ng-template kendoGridCellTemplate let-io>
      {{ io.payPeriod | date: "mediumDate" }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="income" title="Income" width="80">
  </kendo-grid-column>
  <!--kendo-grid-column field="outcome" title="Expenses" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="profit" title="Profit" width="120">
                    <ng-template kendoGridCellTemplate let-io>
                            <span style="color:green;">{{io.profit }}</span>
                    </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="loss" title="Loss" width="120">
                    <ng-template kendoGridCellTemplate let-io>
                            <span style="color:red;">{{io.loss }}</span>
                    </ng-template>
            </kendo-grid-column-->
  <kendo-grid-column title="" width="90">
    <ng-template kendoGridCellTemplate let-io>
      <button
        *ngIf="isUserAdmin && io.sectionId != ''"
        class="btn btn-sm btn-default"
        type="button"
        (click)="selectSectionIncomeToEdit(io)"
        data-toggle="modal"
        data-target="#editSectionIncomeModal"
      >
        <strong>Edit</strong>
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<update-section-income
  [selectedSectionIncome]="selectedSectionIncome"
  (icocUpdated)="onICOCCreated()"
></update-section-income>
