<div
  id="editIncomeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Income</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="updateIncomeForm"
            name="updateIncomeForm"
            class="form-group"
            [formGroup]="updateIncomeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateIncomeForm.get('periodStart').touched ||
                    updateIncomeForm.get('periodStart').dirty) &&
                  !updateIncomeForm.get('periodStart').valid
              }"
            >
              <label>Period Start</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodStart"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateIncomeForm.get('periodStart').touched ||
                    updateIncomeForm.get('periodStart').dirty) &&
                  (updateIncomeForm.get('periodStart').errors ||
                    updateIncomeForm.get('periodStart').errors)
                "
              >
                <span
                  *ngIf="updateIncomeForm.get('periodStart').errors?.required"
                >
                  Please enter the period start date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateIncomeForm.get('periodEnd').touched ||
                    updateIncomeForm.get('periodEnd').dirty) &&
                  !updateIncomeForm.get('periodEnd').valid
              }"
            >
              <label>Period End</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodEnd"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateIncomeForm.get('periodEnd').touched ||
                    updateIncomeForm.get('periodEnd').dirty) &&
                  (updateIncomeForm.get('periodEnd').errors ||
                    updateIncomeForm.get('periodEnd').errors)
                "
              >
                <span
                  *ngIf="updateIncomeForm.get('periodEnd').errors?.required"
                >
                  Please enter the period end date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateIncomeForm.get('department').touched ||
                    updateIncomeForm.get('department').dirty) &&
                  !updateIncomeForm.get('department').valid
              }"
            >
              <label>Department</label>
              <select
                class="form-control"
                id="department"
                formControlName="department"
                disabled
              >
                <option>Select A Department</option>
                <option *ngFor="let depName of departmentNames">{{
                  depName
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (updateIncomeForm.get('department').touched ||
                    updateIncomeForm.get('department').dirty) &&
                  (updateIncomeForm.get('department').errors ||
                    updateIncomeForm.get('department').errors)
                "
              >
                <span
                  *ngIf="updateIncomeForm.get('department').errors?.notSelected"
                >
                  Please select the department to report along with the income.
                </span>
              </span>
            </div>

            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateIncomeForm.get('income').touched ||
                    updateIncomeForm.get('income').dirty) &&
                  !updateIncomeForm.get('income').valid
              }"
            >
              <label>Income</label>
              <input
                class="form-control"
                type="number"
                formControlName="income"
              />
              <span
                class="help-block"
                *ngIf="
                  (updateIncomeForm.get('income').touched ||
                    updateIncomeForm.get('income').dirty) &&
                  (updateIncomeForm.get('income').errors ||
                    updateIncomeForm.get('income').errors)
                "
              >
                <span *ngIf="updateIncomeForm.get('income').errors?.required">
                  Please enter the amount of income.
                </span>
              </span>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="editIncome()"
              [disabled]="!updateIncomeForm.valid || loading"
            >
              <i class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <img
            *ngIf="loading"
            src="assets/img/loading.gif"
            style="width:20px; height:20px; margin-right:5px;"
          />
          <i *ngIf="!loading" class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
