<div
  id="editSectionIncomeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Section Income</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="updateSectionIncomeForm"
            name="updateSectionIncomeForm"
            class="form-group"
            [formGroup]="updateSectionIncomeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSectionIncomeForm.get('periodStart').touched ||
                    updateSectionIncomeForm.get('periodStart').dirty) &&
                  !updateSectionIncomeForm.get('periodStart').valid
              }"
            >
              <label>Period Start</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodStart"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSectionIncomeForm.get('periodStart').touched ||
                    updateSectionIncomeForm.get('periodStart').dirty) &&
                  (updateSectionIncomeForm.get('periodStart').errors ||
                    updateSectionIncomeForm.get('periodStart').errors)
                "
              >
                <span
                  *ngIf="
                    updateSectionIncomeForm.get('periodStart').errors?.required
                  "
                >
                  Please enter the period start date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSectionIncomeForm.get('periodEnd').touched ||
                    updateSectionIncomeForm.get('periodEnd').dirty) &&
                  !updateSectionIncomeForm.get('periodEnd').valid
              }"
            >
              <label>Period End</label>
              <input
                class="form-control"
                type="date"
                formControlName="periodEnd"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSectionIncomeForm.get('periodEnd').touched ||
                    updateSectionIncomeForm.get('periodEnd').dirty) &&
                  (updateSectionIncomeForm.get('periodEnd').errors ||
                    updateSectionIncomeForm.get('periodEnd').errors)
                "
              >
                <span
                  *ngIf="
                    updateSectionIncomeForm.get('periodEnd').errors?.required
                  "
                >
                  Please enter the period end date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSectionIncomeForm.get('income').touched ||
                    updateSectionIncomeForm.get('income').dirty) &&
                  !updateSectionIncomeForm.get('income').valid
              }"
            >
              <label>Income</label>
              <input
                class="form-control"
                type="number"
                formControlName="income"
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSectionIncomeForm.get('income').touched ||
                    updateSectionIncomeForm.get('income').dirty) &&
                  (updateSectionIncomeForm.get('income').errors ||
                    updateSectionIncomeForm.get('income').errors)
                "
              >
                <span
                  *ngIf="updateSectionIncomeForm.get('income').errors?.required"
                >
                  Please enter the amount of income.
                </span>
              </span>
            </div>
            <div *ngIf="updateSectionIncomeForm.get('income').valid">
              <button
                type="button"
                class="btn btn-default"
                (click)="continueProcess()"
              >
                <i class="fa fa-check"></i> Continue
              </button>
              <br />
              <div class="form-group" *ngIf="continue">
                <label>Expenses</label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="outcome"
                  disabled
                />
              </div>
              <div class="form-group" *ngIf="continue">
                <label>Profit</label>
                <input
                  class="form-control"
                  style="color:green;"
                  type="number"
                  formControlName="profit"
                  disabled
                />
              </div>
              <div class="form-group" *ngIf="continue">
                <label>Loss</label>
                <input
                  class="form-control"
                  style="color:red;"
                  type="number"
                  formControlName="loss"
                  disabled
                />
              </div>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="editIncome()"
              *ngIf="continue"
              [disabled]="!updateSectionIncomeForm.valid || loading"
            >
              <i class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <img
            *ngIf="loading"
            src="assets/img/loading.gif"
            style="width:20px; height:20px; margin-right:5px;"
          />
          <i *ngIf="!loading" class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
