<div
  id="editSectionModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Section</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editSectionForm"
            name="editSectionForm"
            class="form-group"
            [formGroup]="editSectionForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editSectionForm.get('sectionCode').touched ||
                    editSectionForm.get('sectionCode').dirty) &&
                  !editSectionForm.get('sectionCode').valid
              }"
            >
              <label>Section Code</label>
              <div class="row">
                <div class="col-md-3">
                  <input
                    class="form-control"
                    type="text"
                    value="APT-SEC-"
                    disabled
                  />
                </div>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="sectionCode"
                    disabled
                  />
                </div>
              </div>
              <span
                class="help-block"
                *ngIf="
                  (editSectionForm.get('sectionCode').touched ||
                    editSectionForm.get('sectionCode').dirty) &&
                  (editSectionForm.get('sectionCode').errors ||
                    editSectionForm.get('sectionCode').errors)
                "
              >
                <span
                  *ngIf="editSectionForm.get('sectionCode').errors?.required"
                >
                  Please enter the section code.
                </span>
                <span
                  *ngIf="editSectionForm.get('sectionCode').errors?.pattern"
                >
                  Invalid section code. It should only contain numbers and has
                  the length of 3.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editSectionForm.get('sectionName').touched ||
                    editSectionForm.get('sectionName').dirty) &&
                  !editSectionForm.get('sectionName').valid
              }"
            >
              <label>Section Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="sectionName"
                placeholder="Section Name (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editSectionForm.get('sectionName').touched ||
                    editSectionForm.get('sectionName').dirty) &&
                  (editSectionForm.get('sectionName').errors ||
                    editSectionForm.get('sectionName').errors)
                "
              >
                <span
                  *ngIf="editSectionForm.get('sectionName').errors?.required"
                >
                  Please enter the section name.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editSectionForm.get('department').touched ||
                    editSectionForm.get('department').dirty) &&
                  !editSectionForm.get('department').valid
              }"
            >
              <label>Department</label>
              <select
                class="form-control"
                id="department"
                formControlName="department"
              >
                <option>Select A Department</option>
                <option *ngFor="let depId of getDepartments()">{{
                  depId + " - " + getDepName(depId)
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editSectionForm.get('department').touched ||
                    editSectionForm.get('department').dirty) &&
                  (editSectionForm.get('department').errors ||
                    editSectionForm.get('department').errors)
                "
              >
                <span
                  *ngIf="editSectionForm.get('department').errors?.notSelected"
                >
                  Please select the department that the section belong in.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="updateSection()"
              [disabled]="!editSectionForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
