<div class="table-responsive" id="compensationTable">
    <kendo-grid [data]="gridView" [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [sort]="sort" (sortChange)="sortChange($event)"  (excelExport)="onExcelExport($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
        [pageable]="true">
        <kendo-grid-column field="compensationDate" title="Date" width="110">
            <ng-template kendoGridCellTemplate let-compensation>
                {{compensation.compensationDate | date : 'mediumDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="compensationAmount" title="Amount" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="reason" title="Reason" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="comment" title="Comment" width="180">
        </kendo-grid-column>
        <kendo-grid-column width="120">
            <ng-template kendoGridCellTemplate let-compensation>
                <button type="button" style="margin-right:9px; color: white;width:81.56px;" class="btn btn-primary" data-toggle="modal" data-target="#editCompensationModal"
                    (click)="selectCompensationToEdit(compensation)">
                    <i class="fa fa-edit"></i> Edit </button>
                <button [disabled]="loading" class="btn btn-danger" style="margin-right:9px; color: white;" (click)="deleteCompensation(compensation)">
                    <i class="fa fa-trash"></i> Delete</button>
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
            </ng-template>
            <kendo-grid-excel fileName="CompensationRecord.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>

<create-compensation [employeeId]="employeeId" (compensationCreated)="onCompensationCreated()"></create-compensation>
<edit-compensation [selectedCompensation]="selectedCompensation" (compensationUpdated)="onCompensationEdited()"></edit-compensation>