<div
  id="createCompensationModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Compensation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createCompensationForm"
            name="createCompensationForm"
            class="form-group"
            [formGroup]="createCompensationForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createCompensationForm.get('compensationDate').touched ||
                    createCompensationForm.get('compensationDate').dirty) &&
                  !createCompensationForm.get('compensationDate').valid
              }"
            >
              <label>Compensation Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="compensationDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (createCompensationForm.get('compensationDate').touched ||
                    createCompensationForm.get('compensationDate').dirty) &&
                  (createCompensationForm.get('compensationDate').errors ||
                    createCompensationForm.get('compensationDate').errors)
                "
              >
                <span
                  *ngIf="
                    createCompensationForm.get('compensationDate').errors
                      ?.notSelected
                  "
                >
                  Please select the compensation date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createCompensationForm.get('compensationAmt').touched ||
                    createCompensationForm.get('compensationAmt').dirty) &&
                  !createCompensationForm.get('compensationAmt').valid
              }"
            >
              <label>Compensation Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="compensationAmt"
                placeholder="Compensation Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createCompensationForm.get('compensationAmt').touched ||
                    createCompensationForm.get('compensationAmt').dirty) &&
                  (createCompensationForm.get('compensationAmt').errors ||
                    createCompensationForm.get('compensationAmt').errors)
                "
              >
                <span
                  *ngIf="
                    createCompensationForm.get('compensationAmt').errors
                      ?.required
                  "
                >
                  Please enter the compensation amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createCompensationForm.get('reason').touched ||
                    createCompensationForm.get('reason').dirty) &&
                  !createCompensationForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createCompensationForm.get('reason').touched ||
                    createCompensationForm.get('reason').dirty) &&
                  (createCompensationForm.get('reason').errors ||
                    createCompensationForm.get('reason').errors)
                "
              >
                <span
                  *ngIf="createCompensationForm.get('reason').errors?.required"
                >
                  Please enter reason for the compensation about to be given.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createCompensation()"
              [disabled]="!createCompensationForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
