<div id="createLeaveModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Create Leave</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="createLeaveForm" name="createLeaveForm" class="form-group" [formGroup]="createLeaveForm">
                            <div class="form-group" [ngClass]="{'has-error': (createLeaveForm.get('fromDate').touched || 
                            createLeaveForm.get('fromDate').dirty) && 
                            !createLeaveForm.get('fromDate').valid }">
                                <label>From Date</label>
                                <input class="form-control" type="date" formControlName="fromDate" />
                                <span class="help-block" *ngIf="(createLeaveForm.get('fromDate').touched || 
                                createLeaveForm.get('fromDate').dirty) && 
                                (createLeaveForm.get('fromDate').errors ||
                                 createLeaveForm.get('fromDate').errors)">
                                    <span *ngIf="createLeaveForm.get('fromDate').errors?.notSelected">
                                        Please select the from date.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createLeaveForm.get('toDate').touched || 
                            createLeaveForm.get('toDate').dirty) && 
                            !createLeaveForm.get('toDate').valid }">
                                <label>To Date</label>
                                <input class="form-control" type="date" formControlName="toDate" />
                                <span class="help-block" *ngIf="(createLeaveForm.get('toDate').touched || 
                                createLeaveForm.get('toDate').dirty) && 
                                (createLeaveForm.get('toDate').errors ||
                                 createLeaveForm.get('toDate').errors)">
                                    <span *ngIf="createLeaveForm.get('toDate').errors?.notSelected">
                                        Please select the to date.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createLeaveForm.get('leaveType').touched || 
                            createLeaveForm.get('leaveType').dirty) && 
                            !createLeaveForm.get('leaveType').valid }">
                                <label>Leave Type</label>
                                <select class="form-control" id="position" formControlName="leaveType">
                                        <option *ngFor="let lt of leaveTypes">{{lt}}</option>
                                </select>
                                <span class="help-block" *ngIf="(createLeaveForm.get('leaveType').touched || 
                                createLeaveForm.get('leaveType').dirty) && 
                                (createLeaveForm.get('leaveType').errors ||
                                 createLeaveForm.get('leaveType').errors)">
                                    <span *ngIf="createLeaveForm.get('leaveType').errors?.notSelected">
                                        Please specify the leave type.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createLeaveForm.get('employee').touched || 
                            createLeaveForm.get('employee').dirty) && 
                            !createLeaveForm.get('employee').valid }">
                                <label>Employee</label>
                                <select class="form-control" formControlName="employee">
                                        <option>Select an Employee</option>
                                        <option *ngFor="let emp of empList">{{emp.EmployeeName}}</option>
                                </select>
                                <span class="help-block" *ngIf="(createLeaveForm.get('employee').touched || 
                                        createLeaveForm.get('employee').dirty) && 
                                        (createLeaveForm.get('employee').errors ||
                                         createLeaveForm.get('employee').errors)">
                                    <span *ngIf="createLeaveForm.get('employee').errors?.notSelected">
                                        Please select the employee who is going to take leave.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createLeaveForm.get('description').touched || 
                            createLeaveForm.get('description').dirty) && 
                            !createLeaveForm.get('description').valid }">
                                <label>Description</label>
                                <input class="form-control" type="text" formControlName="description" placeholder="description (Required)" />
                                <span class="help-block" *ngIf="(createLeaveForm.get('description').touched || 
                                        createLeaveForm.get('description').dirty) && 
                                        (createLeaveForm.get('description').errors ||
                                         createLeaveForm.get('description').errors)">
                                    <span *ngIf="createLeaveForm.get('description').errors?.required">
                                        Please enter description for the leave about to be given.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class="form-control animation-1" placeholder="Comment (Optional)" style="resize:vertical;" rows="6" formControlName="comment"></textarea>
                            </div>
                            <div class="form-group">
                                    <label>Half Day</label>
                                    <input type="checkbox" id="formCheckBox" formControlName="halfDay"/>
                            </div>
                          
                        <button class="btn btn-info" type="button" (click)="createLeave()" [disabled]="!createLeaveForm.valid"><i class="fa fa-plus"></i> Create</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>