<div
  id="backupPathEditModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Set Backup Storage Path</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="backupPathEditForm"
            name="backupPathEditForm"
            class="form-group"
            [formGroup]="backupPathEditForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (backupPathEditForm.get('path').touched ||
                    backupPathEditForm.get('path').dirty) &&
                  !backupPathEditForm.get('path').valid
              }"
            >
              <label>Path</label>
              <input class="form-control" type="text" formControlName="path" />
              <span
                class="help-block"
                *ngIf="
                  (backupPathEditForm.get('path').touched ||
                    backupPathEditForm.get('path').dirty) &&
                  (backupPathEditForm.get('path').errors ||
                    backupPathEditForm.get('path').errors)
                "
              >
                <span *ngIf="backupPathEditForm.get('path').errors?.required">
                  Please enter the desired path.
                </span>
              </span>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="changePath()"
              [disabled]="!backupPathEditForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
