<div class="panel">
  <div class="panel-body" style="padding: 0px;">
    <div class="pull-right" style="padding: 9px;">
      <button
        *ngIf="!isUserGuest"
        [disabled]="loading"
        class="btn btn-sm btn-info"
        type="button"
        (click)="backUpCurrentState()"
      >
        <img
          *ngIf="loading"
          src="assets/img/loading.gif"
          style="width:20px; height:20px; margin-right:5px;"
        />
        <strong>
          <i *ngIf="!loading" class="fa fa-plus"></i> Create BackUp
        </strong>
      </button>
    </div>
    <div class="pull-right" style="padding: 9px;">
      <a
        type="button"
        class="btn btn-sm btn-info"
        style="color:white;"
        data-toggle="modal"
        data-target="#backupPathEditModal"
      >
        <i class="fa fa-edit"></i> Edit Path
      </a>
    </div>
  </div>
  <div
    class="panel-body"
    style="padding-top: 0px;padding-right: 9px;padding-left: 9px;padding-bottom: 9px;"
  >
    <kendo-grid
      [data]="gridView"
      [sortable]="{
        allowUnsort: true,
        mode: 'single'
      }"
      [sort]="sort"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"
    >
      <kendo-grid-column field="Date" title="Date" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="Time" title="Time" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="Name" title="File Name" width="110">
      </kendo-grid-column>
      <kendo-grid-column width="43">
        <ng-template kendoGridCellTemplate let-backUpInfo>
          <button
            style="margin-right:9px; color: white;"
            class="btn btn-primary"
            [disabled]="loading"
            (click)="restoreSelected(backUpInfo)"
          >
            <i class="fa fa-undo"></i> Restore
          </button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<backup-path-edit (pathChanged)="onPathChanged($event)"></backup-path-edit>
