<div class="table-responsive b0">
    <div class="panel panel-default">

        <div class="panel-body">
            <div id="searchLeaveForm" name="searchLeaveForm" class="form-group" [formGroup]="searchLeaveForm">
                <div class="pull-right">
                    <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
                        <strong>
                            <i class="fa fa-times"></i> Reset
                        </strong>
                    </button>
                </div>
                <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
                    <div class="input-group">
                        <input class="form-control" style=" width:100%;" type="text" placeholder="Enter Employee Code or Name" formControlName="searchKey" (keydown.enter)="evokeSearch()"
                        />
                        <div class="input-group-btn" style=" width:20%;" dropdown="">
                            <select class="form-control" id="searchType" formControlName="searchType">
                                <option>Search By</option>
                                <option>Code</option>
                                <option>Name</option>
                            </select>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" (click)="evokeSearch()">
                                    <img
                                *ngIf="loading"
                                src="assets/img/loading.gif"
                                style="width:20px; height:20px; margin-right:5px;"
                              />
                              <i class="fa fa-search"  *ngIf="!loading"></i> 
                              Search
                            </button>
                        </span>
                    </div>
                    <div class="row" style="margin-top:18px;margin-right:9px;">
                        <div class="pull-right" *ngIf="!advanceOptions">
                            <a (click)="showAdvanceOptions()">
                                <strong>
                                    <i class="fa fa-plus"></i> Advanced Options</strong>
                            </a>
                        </div>
                        <div class="pull-right" *ngIf="advanceOptions">
                            <a (click)="showAdvanceOptions()">
                                <strong>
                                    <i class="fa fa-minus"></i> Advanced Options</strong>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:36px;" *ngIf="advanceOptions">
                        <div class="col-md-4">
                            <label>From</label>
                            <input class="form-control" type="date" formControlName="fromDate" (keydown.enter)="evokeSearch()"/>
                        </div>
                        <div class="col-md-4">
                            <label>To</label>
                            <input class="form-control" type="date" formControlName="toDate" (keydown.enter)="evokeSearch()"/>
                        </div>
                        <div class="col-md-4">
                            <label>Leave Type</label>
                            <select class="form-control" formControlName="leaveType">
                                <option *ngFor="let lt of leaveTypes">{{lt}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
            <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">
                    <button class="btn btn-sm btn-default" type="button" (click)="refresh()">
                        <strong>Show All</strong>
                    </button>
                </div>
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">
            <!--button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createLeaveModal">
                <strong>
                    <i class="fa fa-plus"></i> Add
                </strong>
            </button-->
        </div>
        <div class="panel-heading">
            <h3>Employee Leaves</h3>
        </div>
        <div class="panel-body">
                <kendo-grid [data]="gridView" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
                [skip]="skip" [pageable]="true" (excelExport)="onExcelExport($event)" [loading]="loading" [style.height]="loading ? '100vh': 'auto'">
                <kendo-grid-column field="employeeCode" title="Employee Code" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="employeeName" title="Employee Name" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="leaveType" title="Type" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
            </kendo-grid-column>
            <kendo-grid-column field="leaveDate" title="Leave Date" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
            [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
            <ng-template kendoGridCellTemplate let-lev>
                    {{lev.leaveDate | date: 'mediumDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="halfDay" title="Half Day" width="60" [headerStyle]="{'background-color': '#fff','color': '#444'}"
        [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
        <ng-template kendoGridCellTemplate let-lev>
            {{lev.halfDay ? 'Yes' : 'No'}}
        </ng-template>
    </kendo-grid-column>
        <kendo-grid-column field="isPaid" title="Paid Leave" width="60" [headerStyle]="{'background-color': '#fff','color': '#444'}"
        [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
        <ng-template kendoGridCellTemplate let-lev>
            {{lev.isPaid ? 'Yes' : 'No'}}
        </ng-template>
    </kendo-grid-column>
                <kendo-grid-column field="createdDate" title="Created Date" width="70" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-lev>
                        {{lev.createdDate | date : 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="createdUser" title="Created User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-lev>
                        {{getUserName(lev.createdUserId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedDate" title="Updated Date" width="70" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-lev>
                        {{lev.updatedDate | date: 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedUser" title="Updated User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-lev>
                        {{getUserName(lev.updatedUserId)}}
                    </ng-template>
                </kendo-grid-column>
               
                <kendo-grid-column width="150" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-lev>
                            <button type="button" style="margin-right:9px;color: white;width:81px;"  *ngIf="!isUserGuest" class="btn btn-primary" data-toggle="modal" data-target="#editLeaveModal" (click)="selectLeaveToEdit(lev)">
                                    <i class="fa fa-edit"></i> Edit </button>
                                <a class="btn btn-danger" style="margin-right:9px; color: white;"  *ngIf="isUserAdmin && !isUserGuest" (click)=deleteLeave(lev)>
                                    <i class="fa fa-trash"></i> Delete</a>
                        </ng-template>
                </kendo-grid-column>
              
                <!--kendo-grid-column width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                        <ng-template kendoGridCellTemplate let-lev>                               
                            </ng-template>
                    </kendo-grid-column-->
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="Leaves.xlsx" [fetchData]="allData">
                        <kendo-excelexport-column field="employeeCode" title="Employee Code">
                            </kendo-excelexport-column>
                    <kendo-excelexport-column field="employeeName" title="Employee Name">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="leaveType" title="Leave Type">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="leaveDate" title="Leave Date">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="isApproved" title="Status">
                        </kendo-excelexport-column>
                </kendo-grid-excel>
            </kendo-grid>
        </div>
    </div>
</div>
<create-leave (leaveCreated)="onLeaveCreated()"></create-leave>
<edit-leave [selectedLeave]="selectedLeave" (leaveUpdated)="onLeaveUpdated()"></edit-leave>