<tabset class="bg-white p0" [justified]="true">
    <tab>
        <ng-template tabHeading>
            <em class="fa fa-home fa-fw"></em>Sections
        </ng-template>
        <div>
            <!-- START list group-->
            <div class="list-group mb0" *ngFor="let sec of secList">
                <a class="list-group-item bt0" href="#">
                   
                    <em class="fa fa-fw fa-home mr"></em>{{sec.name}}</a>
            </div>
            <div class="panel-footer" *ngIf="!loading && secList &&  secList.length <= 0">There aren't any sections in this department yet!</div>
            <div class="ball-spin-fade-loader" *ngIf="loading" style="margin-top: 36px;height: 63px;margin-left: 50%;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            <!-- END list group-->
            <div class="panel-footer text-right"><button class="btn btn-default btn-sm" (click)="viewSections()">View Sections</button>
            </div>
        </div>
    </tab>
   
</tabset>