<div
  id="editEmpOTModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Employee Overtime</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editEmpOTForm"
            name="editEmpOTForm"
            class="form-group"
            [formGroup]="editEmpOTForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpOTForm.get('employeeName').touched ||
                    editEmpOTForm.get('employeeName').dirty) &&
                  !editEmpOTForm.get('employeeName').valid
              }"
            >
              <label>Employee</label>

              <select
                class="form-control"
                id="employeeName"
                formControlName="employeeName"
              >
                <option>Select An Employee</option>
                <option *ngFor="let empName of getEmployees()">{{
                  empName
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editEmpOTForm.get('employeeName').touched ||
                    editEmpOTForm.get('employeeName').dirty) &&
                  (editEmpOTForm.get('employeeName').errors ||
                    editEmpOTForm.get('employeeName').errors)
                "
              >
                <span
                  *ngIf="editEmpOTForm.get('employeeName').errors?.notSelected"
                >
                  Please select an employee.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpOTForm.get('comment').touched ||
                    editEmpOTForm.get('comment').dirty) &&
                  !editEmpOTForm.get('comment').valid
              }"
            >
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
              <span
                class="help-block"
                *ngIf="
                  (editEmpOTForm.get('comment').touched ||
                    editEmpOTForm.get('comment').dirty) &&
                  (editEmpOTForm.get('comment').errors ||
                    editEmpOTForm.get('comment').errors)
                "
              >
                <span *ngIf="editEmpOTForm.get('comment').errors?.required">
                  Please enter a overtime comment.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpOTForm.get('hours').touched ||
                    editEmpOTForm.get('hours').dirty) &&
                  !editEmpOTForm.get('hours').valid
              }"
            >
              <label>Hours Worked</label>
              <input
                class="form-control"
                type="number"
                formControlName="hours"
                (change)="onHourChange()"
              />
              <span
                class="help-block"
                *ngIf="
                  (editEmpOTForm.get('hours').touched ||
                    editEmpOTForm.get('hours').dirty) &&
                  (editEmpOTForm.get('hours').errors ||
                    editEmpOTForm.get('hours').errors)
                "
              >
                <span *ngIf="editEmpOTForm.get('hours').errors?.required">
                  Please enter the numbers of hours that the employee has worked
                  overtime.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpOTForm.get('amount').touched ||
                    editEmpOTForm.get('amount').dirty) &&
                  !editEmpOTForm.get('amount').valid
              }"
            >
              <label>Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="amount"
              />
              <span
                class="help-block"
                *ngIf="
                  (editEmpOTForm.get('amount').touched ||
                    editEmpOTForm.get('amount').dirty) &&
                  (editEmpOTForm.get('amount').errors ||
                    editEmpOTForm.get('amount').errors)
                "
              >
                <span *ngIf="editEmpOTForm.get('amount').errors?.required">
                  Please enter the amount manually or change it according to
                  rate.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editEmpOTForm.get('date').touched ||
                    editEmpOTForm.get('date').dirty) &&
                  !editEmpOTForm.get('date').valid
              }"
            >
              <label>Date</label>
              <input class="form-control" type="date" formControlName="date" />
              <span
                class="help-block"
                *ngIf="
                  (editEmpOTForm.get('date').touched ||
                    editEmpOTForm.get('date').dirty) &&
                  (editEmpOTForm.get('date').errors ||
                    editEmpOTForm.get('date').errors)
                "
              >
                <span *ngIf="editEmpOTForm.get('date').errors?.required">
                  Please enter the date that the employee has worked overtime
                  on.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="updateOvertime()"
              [disabled]="!editEmpOTForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
