<div class="panel">
  <div class="panel panel-default">
    <div class="panel-body">
      <div
        id="  filterOTForm"
        name="  filterOTForm"
        class="form-group"
        [formGroup]="filterOTForm"
      >
        <div class="pull-right">
          <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
            <strong> <i class="fa fa-times"></i> Reset </strong>
          </button>
        </div>

        <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
          <div class="input-group input-group-lg" style="width: 100%;">
            <div class="col-lg-5">
              <label>Pay Period</label>
              <input
                class="form-control"
                style="border-radius: 3px;"
                type="month"
                formControlName="monthAndYear"
              />

              <span
                class="help-block"
                *ngIf="
                  (filterOTForm.get('monthAndYear').touched ||
                    filterOTForm.get('monthAndYear').dirty) &&
                  filterOTForm.get('monthAndYear').errors
                "
              >
                <span
                  style="color:red;"
                  *ngIf="filterOTForm.get('monthAndYear').errors?.required"
                >
                  Please enter the desired pay period!
                </span>
              </span>
            </div>
            <div class="col-lg-6">
              <label>Employee</label>
              <div class="input-group-btn" dropdown="">
                <select
                  style="border-radius: 3px;"
                  class="form-control"
                  id="employee"
                  formControlName="employee"
                  (change)="onEmployeeChange($event.target.value)"
                  *ngIf="!loading"
                >
                  <option>Select An Employee</option>
                  <option
                    *ngFor="let employee of employeeList"
                    [value]="employee.employeeId"
                    >{{ employee.name }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-lg-1">
              <label>&nbsp;</label>
              <span class="input-group-btn">
                <button
                  class="btn btn-info"
                  style="border-radius: 3px;"
                  type="button"
                  (click)="generateOTList()"
                  [disabled]="!filterOTForm.valid"
                >
                  <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp; Submit
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body" style="padding: 0px;">
      <div class="pull-right" style="padding: 9px;margin-right:9px;">
        <button
          *ngIf="!isUserGuest"
          class="btn btn-sm btn-info"
          type="button"
          data-toggle="modal"
          data-target="#createEmpOTModal"
        >
          <strong> <i class="fa fa-plus"></i> Add </strong>
        </button>
      </div>
    </div>

    <div class="panel-body" style="padding-top: 0px;">
      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: true,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        (excelExport)="onExcelExport($event)"
        [loading]="loading"
      >
        <kendo-grid-column title="Employee" width="110">
          <ng-template kendoGridCellTemplate let-employeeOT>
            {{ getEmployeeName(employeeOT.employeeId) }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Date" width="180">
          <ng-template kendoGridCellTemplate let-employeeOT>
            {{ employeeOT.date | date: "mediumDate" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="hours" title="Hours" width="54">
        </kendo-grid-column>
        <kendo-grid-column field="amount" title="Amount" width="54">
        </kendo-grid-column>
        <kendo-grid-column field="comment" title="Comment" width="180">
        </kendo-grid-column>
        <kendo-grid-column width="120">
          <ng-template kendoGridCellTemplate let-employeeOT>
            <button
              type="button"
              style="margin-right:9px; color: white;width:84.33px;"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#editEmpOTModal"
              (click)="selectOTToEdit(employeeOT)"
            >
              <i class="fa fa-edit"></i> Edit
            </button>
            <button
              type="button"
              style="margin-right:9px; color: white;"
              *ngIf="isUserAdmin"
              class="btn btn-danger"
              (click)="deleteOT(employeeOT)"
              [disabled]="loading"
            >
              <i class="fa fa-trash"></i> Delete
            </button>
          </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
          <button type="button" kendoGridExcelCommand icon="file-excel">
            Export
          </button>
        </ng-template>
        <kendo-grid-excel fileName="EmployeeOT.xlsx">
          <kendo-excelexport-column field="employeeId" title="Name">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="date" title="OT Date">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="hours" title="Hours">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="amount" title="Amount">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="comment" title="Comment">
          </kendo-excelexport-column>
        </kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>
</div>

<create-emp-ot (empOTCreated)="onCreated()"></create-emp-ot>
<edit-emp-ot
  [selectedOvertime]="selectedEmployeeOT"
  (empOTUpdated)="onUpdated()"
></edit-emp-ot>
