<div class="table-responsive b0">
  <div class="panel panel-default">
    <div class="panel-body">
      <div
        id="payPeriodForm"
        name="payPeriodForm"
        class="form-group"
        [formGroup]="payPeriodForm"
      >
        <div class="pull-right">
          <button
            class="btn btn-sm btn-danger"
            type="button"
            [disabled]="!isUserAdmin"
            (click)="reset()"
          >
            <strong> <i class="fa fa-times"></i> Reset </strong>
          </button>
        </div>

        <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
          <div
            class="input-group input-group-lg"
            style="width: 100%;"
            [ngClass]="{
              'has-error':
                (payPeriodForm.get('payMonth').touched ||
                  payPeriodForm.get('payMonth').dirty) &&
                payPeriodForm.get('payMonth').errors
            }"
          >
            <div class="col-lg-2">
              <div class="pull-right">
                Pay Month/Period :
              </div>
            </div>
            <div class="col-lg-8">
              <input
                class="form-control"
                style="border-radius: 3px;"
                type="month"
                formControlName="payMonth"
                [disabled]="!isUserAdmin"
                (keydown.enter)="generatePayPeriod()"
              />

              <span
                class="help-block"
                *ngIf="
                  (payPeriodForm.get('payMonth').touched ||
                    payPeriodForm.get('payMonth').dirty) &&
                  payPeriodForm.get('payMonth').errors
                "
              >
                <span
                  style="color:red;"
                  *ngIf="payPeriodForm.get('payMonth').errors?.required"
                >
                  Please enter the desired pay month/ period!
                </span>
              </span>
            </div>

            <div class="col-lg-2">
              <span class="input-group-btn">
                <button
                  class="btn btn-info"
                  style="border-radius: 3px;"
                  type="button"
                  (click)="generatePayPeriod()"
                  [disabled]="!payPeriodForm.valid || loading || !isUserAdmin"
                >
                  <img
                    *ngIf="loading"
                    src="assets/img/loading.gif"
                    style="width:20px; height:20px; margin-right:5px;"
                  />
                  <i class="fa fa-check" *ngIf="!loading"></i>&nbsp;&nbsp;&nbsp;Submit
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="border-color:white">
    <div
      class="panel-body"
      *ngIf="payBreakDownList && payBreakDownList.length > 0"
    >
      <kendo-grid
        [data]="gridView"
        (excelExport)="onExcelExport($event)"
        [groupable]="true"
        [group]="groups"
        (groupChange)="groupChange($event)"
        [sortable]="{
          mode: 'single'
        }"
        [sort]="sort"
      >
        <kendo-grid-column
          field="EmployeeCode"
          title="Code"
          width="63"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="EmployeeName"
          title="Name"
          width="90"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>

        <kendo-grid-column
          field="BasicSalary"
          title="Basic Salary"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="CurrentSalary"
          title="Current Salary"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="BonusAmount"
          title="Bonus"
          width="76"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <!--kendo-grid-column
          field="position"
          title="Job Title/ Position"
          width="90"
          
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
          <ng-template kendoGridCellTemplate let-employee>
            {{ getDesName(employee.position) }}
          </ng-template>
        </kendo-grid-column-->
        <kendo-grid-column
          field="CommissionAmount"
          title="Commission"
          width="65"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="CompensationAmount"
          title="Compensation"
          width="65"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="AdvancedSalaryAmount"
          title="Advance Salary"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="OverTimeAmount"
          title="Overtime"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="TripAllowanceAmount"
          title="Travelling"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="SSBAmount"
          title="SSB"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="TaxAmount"
          title="Tax"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="MDAllowanceAmount"
          title="MD Allowance"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="LoanAmount"
          title="Loan"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="AbsentAmount"
          title="Absent"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="LeaveDeductionAmount"
          title="Leave"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="LatePenaltyAmount"
          title="Late"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="TotalDeductionAmount"
          title="Deducted Amount"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="GrossSalary"
          title="Gross Salary"
          width="76"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="NetSalary"
          title="Net Salary"
          width="100"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>

        <ng-template kendoGridToolbarTemplate>
          <button type="button" kendoGridExcelCommand icon="file-excel">
            Export Monthly Summary Report to Excel
          </button>
          <button
            type="button"
            class="k-button"
            (click)="onMonthlyExcelExport(excelexport)"
            [disabled]="getMonthlySalaryMapLength() <= 0"
          >
            Export Monthly Salary Report to Excel
          </button>
        </ng-template>
        <kendo-grid-excel fileName="{{ reportName }}" [fetchData]="allData">
          <!--kendo-excelexport-column field="employeeCode" title="Employee Code">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="name" title="Name">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="email" title="Email">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="workPhone" title="Work Phone">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="position" title="Job Title">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="departmentCode" title="Department">
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="employmentDate"
            title="Employment Date"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column field="dateOfBirth" title="Date of Birth">
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="serviceYears"
            title="Service Year(s)"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column field="gender" title="Gender">
          </kendo-excelexport-column>

          <kendo-excelexport-column field="fingerPrintBadgeNo" title="Badge No">
          </kendo-excelexport-column-->
        </kendo-grid-excel>
      </kendo-grid>
    </div>
    <div class="row">
      <div
        class="col-md-12"
        *ngIf="payBreakDownList && payBreakDownList.length <= 0"
      >
        <div class="box-placeholder" style="margin:15px;height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            Select Desired Pay Period
          </h1>
        </div>
      </div>
    </div>

    <div class="row">
      <kendo-excelexport
        [data]="gridView"
        fileName="{{ reportName2 }}"
        #excelexport
      >
        <kendo-excelexport-column field="Sr" title="Sr" [width]="20">
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="DepartmentName"
          title="Department Name"
          [width]="120"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="Salary (Kyats)"
          title="Salary"
          [width]="120"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="% Based on Sales and Department Income"
          title="% Based on Sales and Department Income"
          [width]="300"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="Salary + Bonus (Kyats)"
          title="SalaryPlusBonus"
          [width]="120"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="DepartmentIncome"
          title="Department Income"
          [width]="150"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="% Based on Sales+Bonus and Department Income"
          title="% Based on Sales+Bonus and Department Income"
          [width]="300"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="APTIncome"
          title="APT Income"
          [width]="150"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="% Based on Sales+Bonus and Department Income & APT"
          title="% Based on Sales+Bonus and Department Income & APT"
          [width]="350"
        >
        </kendo-excelexport-column>
      </kendo-excelexport>
    </div>
  </div>
  <div></div>
</div>
