<div class="panel">
    <div class="panel-body">       
    <ul class="nav nav-tabs">
                <li [ngClass]="{'active' : showFixedList }">
                    <a  (click)="revealFixedList()" data-toggle="tab">Fixed Holidays</a>
                </li>
               
                <li [ngClass]="{ 'active' : showMovableList }"><a (click)="revealMovableList()" data-toggle="tab">Movable Holidays</a>
                </li>
                <!----li [ngClass]="{ 'active' : showWorkingDaysList }"><a (click)="revealWorkingDaysList()" data-toggle="tab">Working/Off Days</a>
                </li-->
            </ul>
    
                <div class="tab-content">
                  <div class="tab-pane active" id="1" *ngIf="showFixedList">
                            <fixed-list></fixed-list>
                    </div>
                    <div class="tab-pane active" id="2" *ngIf="showMovableList">
                        <movable-list></movable-list>
                    </div>
                    <!----div class="tab-pane active" id="2" *ngIf="showWorkingDaysList">
                        <working-days-list></working-days-list>
                    </div-->
            
                </div>
            </div>
            </div>