<div
  id="editLeaveModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Leave</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editLeaveForm"
            name="editLeaveForm"
            class="form-group"
            [formGroup]="editLeaveForm"
          >
            <!--div class="form-group" [ngClass]="{'has-error': (editLeaveForm.get('leaveDate').touched || 
                                editLeaveForm.get('leaveDate').dirty) && 
                                !editLeaveForm.get('leaveDate').valid }">
                                    <label>Leave Date</label>
                                    <input class="form-control" type="date" formControlName="leaveDate" />
                                    <span class="help-block" *ngIf="(editLeaveForm.get('leaveDate').touched || 
                                    editLeaveForm.get('leaveDate').dirty) && 
                                    (editLeaveForm.get('leaveDate').errors ||
                                     editLeaveForm.get('leaveDate').errors)">
                                        <span *ngIf="editLeaveForm.get('leaveDate').errors?.notSelected">
                                            Please select the leave date.
                                        </span>
                                    </span>
                                </div-->
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editLeaveForm.get('leaveType').touched ||
                    editLeaveForm.get('leaveType').dirty) &&
                  !editLeaveForm.get('leaveType').valid
              }"
            >
              <label>Leave Type</label>
              <select
                class="form-control"
                id="leaveType"
                formControlName="leaveType"
              >
                <option *ngFor="let lt of leaveTypes">{{ lt }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editLeaveForm.get('leaveType').touched ||
                    editLeaveForm.get('leaveType').dirty) &&
                  (editLeaveForm.get('leaveType').errors ||
                    editLeaveForm.get('leaveType').errors?.notSelected)
                "
              >
                <span
                  *ngIf="editLeaveForm.get('leaveType').errors?.notSelected"
                >
                  Please specify the leave type.
                </span>
              </span>
            </div>
            <!--div class="form-group" [ngClass]="{'has-error': (editLeaveForm.get('employee').touched || 
                                editLeaveForm.get('employee').dirty) && 
                                !editLeaveForm.get('employee').valid }">
                                    <label>Employee</label>
                                    <select class="form-control" formControlName="employee">
                                            <option>Select an Employee</option>
                                            <option *ngFor="let emp of empList">{{emp.EmployeeName}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="(editLeaveForm.get('employee').touched || 
                                            editLeaveForm.get('employee').dirty) && 
                                            (editLeaveForm.get('employee').errors ||
                                             editLeaveForm.get('employee').errors)">
                                        <span *ngIf="editLeaveForm.get('employee').errors?.notSelected">
                                            Please select the employee who is going to take leave.
                                        </span>
                                    </span>
                                </div-->
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editLeaveForm.get('description').touched ||
                    editLeaveForm.get('description').dirty) &&
                  !editLeaveForm.get('description').valid
              }"
            >
              <label>Description</label>
              <input
                class="form-control"
                type="text"
                formControlName="description"
                placeholder="description (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editLeaveForm.get('description').touched ||
                    editLeaveForm.get('description').dirty) &&
                  (editLeaveForm.get('description').errors ||
                    editLeaveForm.get('description').errors)
                "
              >
                <span *ngIf="editLeaveForm.get('description').errors?.required">
                  Please enter description for the leave about to be given.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <div class="form-group">
              <label>Half Day</label>
              <input
                type="checkbox"
                id="formCheckBox"
                formControlName="halfDay"
              />
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="updateLeave()"
              [disabled]="!editLeaveForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
