<div
  id="editLoanModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Loan</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editLoanForm"
            name="editLoanForm"
            class="form-group"
            [formGroup]="editLoanForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editLoanForm.get('loanDate').touched ||
                    editLoanForm.get('loanDate').dirty) &&
                  !editLoanForm.get('loanDate').valid
              }"
            >
              <label>Loan Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="loanDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editLoanForm.get('loanDate').touched ||
                    editLoanForm.get('loanDate').dirty) &&
                  (editLoanForm.get('loanDate').errors ||
                    editLoanForm.get('loanDate').errors)
                "
              >
                <span *ngIf="editLoanForm.get('loanDate').errors?.notSelected">
                  Please select the loan date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editLoanForm.get('loanAmt').touched ||
                    editLoanForm.get('loanAmt').dirty) &&
                  !editLoanForm.get('loanAmt').valid
              }"
            >
              <label>Loan Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="loanAmt"
                placeholder="Loan Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editLoanForm.get('loanAmt').touched ||
                    editLoanForm.get('loanAmt').dirty) &&
                  (editLoanForm.get('loanAmt').errors ||
                    editLoanForm.get('loanAmt').errors)
                "
              >
                <span *ngIf="editLoanForm.get('loanAmt').errors?.required">
                  Please enter the loan amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editLoanForm.get('reason').touched ||
                    editLoanForm.get('reason').dirty) &&
                  !editLoanForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editLoanForm.get('reason').touched ||
                    editLoanForm.get('reason').dirty) &&
                  (editLoanForm.get('reason').errors ||
                    editLoanForm.get('reason').errors)
                "
              >
                <span *ngIf="editLoanForm.get('reason').errors?.required">
                  Please enter reason for the loan about to be edited.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              [disabled]="!editLoanForm.valid || loading"
              (click)="updateLoan()"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
