<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div
      id="viewAttendanceForm"
      name="viewAttendanceForm"
      class="form-group"
      [formGroup]="viewAttendanceForm"
    >
      <div class="pull-right">
        <button
          class="btn btn-sm btn-danger"
          style="margin-right:9px;"
          *ngIf="attendanceList && attendanceList.length > 0"
          type="button"
          (click)="deleteAttendance()"
        >
          <strong> <i class="fa fa-trash"></i> Delete</strong>
        </button>
        <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
          <strong> <i class="fa fa-times"></i> Reset</strong>
        </button>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            (viewAttendanceForm.get('date').touched ||
              viewAttendanceForm.get('date').dirty) &&
            !viewAttendanceForm.get('date').valid
        }"
        style="padding-top: 36px;"
      >
        <label>Choose date</label>
        <input class="form-control" type="date" formControlName="date" (keydown.enter)="view()"/>
        <span
          class="help-block"
          *ngIf="
            (viewAttendanceForm.get('date').touched ||
              viewAttendanceForm.get('date').dirty) &&
            (viewAttendanceForm.get('date').errors ||
              viewAttendanceForm.get('date').errors)
          "
        >
          <span *ngIf="viewAttendanceForm.get('date').errors?.required">
            Please enter desired attendence date.
          </span>
        </span>
      </div>
      <div class="form-group">
        <button
          class="btn btn-sm btn-default"
          type="button"
          (click)="view()"
          [disabled]="!viewAttendanceForm.valid || loading"
        >
          <img
            *ngIf="loading"
            src="assets/img/loading.gif"
            style="width:20px; height:20px; margin-right:5px;"
          />
          <strong> <i *ngIf="!loading" class="fa fa-eye"></i> View</strong>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="row">
      <div
        class="col-md-12"
        *ngIf="attendanceList && attendanceList.length <= 0"
      >
        <div class="box-placeholder" style="height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            View/Manipulate Data
          </h1>
        </div>
      </div>
    </div>
    <kendo-grid
      [data]="gridView"
      [sortable]="{
        allowUnsort: allowUnsort,
        mode: 'single'
      }"
      [sort]="sort"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"
      *ngIf="attendanceList && attendanceList.length > 0"
      (excelExport)="onExcelExport($event)"
    >
      <kendo-grid-column field="attendanceDate" title="Date" width="72">
        <ng-template kendoGridCellTemplate let-attendance>
          {{ attendance.attendanceDate | date: "mediumDate" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="badgeNo" title="Badge No" width="81">
      </kendo-grid-column>
      <kendo-grid-column field="badgeName" title="Employee Name" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="inTime" title="In" width="180">
        <ng-template kendoGridCellTemplate let-attendance>
          {{ attendance.inTime }}
          <span
            *ngIf="getLateStatus(attendance.inTime).startsWith('LATE')"
            style="color:red;"
          >
            {{ getLateStatus(attendance.inTime) }}</span
          >
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="outTime" title="Out" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="onSite" title="On Site" width="120">
        <ng-template kendoGridCellTemplate let-attendance>
          <span *ngIf="attendance.onSite == true">
            Yes
          </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="onTrip" title="On Trip" width="120">
        <ng-template kendoGridCellTemplate let-attendance>
          <span *ngIf="attendance.onTrip == true">
            Yes
          </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="leaveType" title="Leave Type" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="remark" title="Remark" width="120">
      </kendo-grid-column>
      <kendo-grid-column width="120">
        <ng-template kendoGridCellTemplate let-attendance>
          <a
            type="button"
            style="margin-right:9px;"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#editAttendanceModal"
            (click)="selectAttendanceToEdit(attendance)"
          >
            <i class="fa fa-edit"></i> Edit
          </a>
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel">
          Export
        </button>
      </ng-template>
      <kendo-grid-excel
        fileName="EmployeeAttendance.xlsx"
        [fetchData]="allData"
      >
        <kendo-excelexport-column field="attendanceDate" title="Date">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="badgeNo" title="Badge No">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="badgeName" title="Employee Name">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="inTime" title="In Time">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="outTime" title="Out Time">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="late" title="Late">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="onSite" title="On Site">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="onTrip" title="On Trip">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="leaveType" title="Leave Type">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="remark" title="Remark">
        </kendo-excelexport-column>
      </kendo-grid-excel>
    </kendo-grid>
  </div>
</div>
<edit-attendance
  [selectedAttendance]="selectedAttendance"
  (attendanceUpdated)="onAttendanceEdited()"
></edit-attendance>
