<button type="button" class="btn btn-sm btn-info" (click)="save(excelexport1)">
  <strong><i class="fa fa-download"></i> Generate OT Template</strong>
</button>

<kendo-excelexport [data]="" fileName="OT_Import_Template.xlsx" #excelexport1>
  <kendo-excelexport-column
    field="EmployeeCode"
    [locked]="true"
    title="Employee_Code"
    [width]="200"
  >
  </kendo-excelexport-column>
  <kendo-excelexport-column field="EmployeeName" title="Name" [width]="350">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="Hours" [width]="120">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="OT_Date" [width]="120">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="OT_Amount" [width]="120">
  </kendo-excelexport-column>

  <kendo-excelexport-column field="u" title="Comment" [width]="120">
  </kendo-excelexport-column>
</kendo-excelexport>
