<router-outlet></router-outlet>
<div id="overlay" *ngIf="loading">
  <div
    class="ball-scale-ripple-multiple"
    style="width:90px;position:fixed;top: 50%;left: 50%;"
  >
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
