<div class="panel panel-default" id="detailPanel">

  <!--div class="pull-right" style="padding: 9px;" *ngIf="!isUserGuest">
    <button class="btn btn-sm btn-danger" type="button" (click)="deleteEmployee(employeeId)" [disabled]="loading">
      <strong><i class="fa fa-remove"></i> Delete</strong>
    </button>
  </div-->
  <div class="pull-right" style="padding: 9px;">
    <button *ngIf="!isUserGuest" class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#editEmployeeStatusModal"
      [disabled]="loading">
      <strong><i class="fa fa-edit"></i> Change Status</strong>
    </button>
  </div>
  <div class="pull-right" style="padding: 9px;">
    <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#editEmployeeModal"
      [disabled]="loading">
      <strong><i class="fa fa-edit"></i> Edit</strong>
    </button>
  </div>


  <div class="panel-heading" style="display: flex;justify-content: center;">
    <div class="panel-body text-center">
      <div class="pv-lg">
        <img class="center-block img-responsive img-circle img-thumbnail thumb96" src="assets/img/user/blank.png" alt="Contact" />
      </div>
      <h3 class="m0 text-bold">{{employeeToShowcase.name}}</h3>
    </div>

  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p class="lead bb" id="headings">Details</p>
        <form class="form-horizontal p-20">
          <div class="form-group">
            <div class="col-sm-4">Employee Code :</div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.employeeCode}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Name:</div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.name}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Gender:</div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.gender}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">DOB:</div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.dateOfBirth | date:'mediumDate'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Employment Date :</div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.employmentDate | date:'mediumDate'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Service Year(s) : </div>
            <div class="col-sm-8">
              <strong>{{this.serviceYears}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Position :</div>
            <div class="col-sm-8">
              <strong>{{designationName}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Department : </div>
            <div class="col-sm-8">
              <div class="label" *ngIf="departmentName == 'HR' || departmentName == 'Mechanical' || departmentName == 'Civil' || departmentName == 'Finance'"
                [ngClass]="{'label-success': departmentName == 'HR','label-info':  departmentName == 'Civil', 'label-warning':  departmentName == 'Finance', 'label-danger':  departmentName == 'Mechanical'}">{{departmentName}}</div>
              <div class="label label-default" style="color:black;" *ngIf="departmentName != 'HR' && departmentName != 'Mechanical' && departmentName != 'Civil' && departmentName != 'Finance'">{{departmentName}}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Section : </div>
            <div class="col-sm-8">
              <div class="label label-default" style="color:black;" *ngIf="sectionName != null && sectionName != '' && sectionName != undefined">{{sectionName}}</div>
              <div class="label label-default" style="color:black;" *ngIf="sectionName == null || sectionName == '' || sectionName == undefined">None</div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Status : </div>
            <div class="col-sm-8">
              <div class="label" 
                [ngClass]="{'label-success': employeeToShowcase.activeStatus == 'Permanent', 'label-warning':  employeeToShowcase.activeStatus == 'Provision', 'label-danger':  employeeToShowcase.activeStatus == 'Resign'}">{{employeeToShowcase.activeStatus}} {{ getStatusDates()}}</div>
            
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Education & Qualifications : </div>
            <div class="col-sm-8" *ngIf="qualList && qualList.length > 0">
              <strong *ngFor="let qual of qualList"> {{qual}} </strong>
            </div>
            <div class="col-sm-8" *ngIf="!qualList || qualList.length <= 0">
              <strong>None</strong>
            </div>

          </div>
          <div class="form-group">
            <div class="col-sm-4">Fingerprint Badge No : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.fingerPrintBadgeNo}}</strong>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-6">
        <p class="lead bb" id="headings">Contact Info</p>
        <form class="form-horizontal p-20">
          <div class="form-group">
            <div class="col-sm-4">Work Phone : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.workPhone}}</strong>
            </div>
            <div class="col-sm-8" *ngIf="!employeeToShowcase.workPhone || employeeToShowcase.workPhone.length <= 0">
              <strong>None</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Personal Phone : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.personalPhone}}</strong>
            </div>
            <div class="col-sm-8" *ngIf="!employeeToShowcase.personalPhone || employeeToShowcase.personalPhone.length <= 0">
              <strong>None</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Email : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.email}}</strong>
            </div>
            <div class="col-sm-8" *ngIf="!employeeToShowcase.email || employeeToShowcase.email.length <= 0">
              <strong>None</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Employment Site (s) : </div>
            <div class="col-sm-8" *ngIf="siteList && siteList.length > 0">
              <strong *ngFor="let site of siteList">{{site}} </strong>

            </div>
            <div class="col-sm-8" *ngIf="!siteList || siteList.length <= 0">
              <strong>None</strong>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead bb" id="headings">Address Detail</p>
        <form class="form-horizontal p-20">
          <div class="form-group">
            <div class="col-sm-4">Address : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.address}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">City : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.city}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">State : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.state}}</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">ZIP/Post Code : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.zip}}</strong>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="row" *ngIf="isUserAdmin">
      <div class="col-md-12">
        <p class="lead bb" id="headings">Additional Info</p>
        <form class="form-horizontal p-20">
          <div class="form-group">
            <div class="col-sm-4">Created User ID : </div>
            <div class="col-sm-8">
              <strong *ngIf="employeeToShowcase.createdUserId != ''">{{employeeToShowcase.createdUserId}}</strong>
              <strong *ngIf="employeeToShowcase.createdUserId == ''">Unknown</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">Created On : </div>
            <div class="col-sm-8">
              <strong *ngIf="employeeToShowcase.createdDate != '' && employeeToShowcase.createdDate != '1900-01-01T00:00:00'">{{employeeToShowcase.createdDate
                | date:'mediumDate'}} {{employeeToShowcase.createdDate | date:'mediumTime'}}</strong>
              <strong *ngIf="employeeToShowcase.createdDate == '' || employeeToShowcase.createdDate == '1900-01-01T00:00:00'">Unknown</strong>
            </div>
          </div>
          <div class="form-group" *ngIf="employeeToShowcase.updatedUserId != ''">
            <div class="col-sm-4">Updated User ID : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.updatedUserId}}</strong>
            </div>
          </div>
          <div class="form-group" *ngIf="employeeToShowcase.updatedDate != '' && employeeToShowcase.updatedDate != '1900-01-01T00:00:00'">
            <div class="col-sm-4">Updated On : </div>
            <div class="col-sm-8">
              <strong>{{employeeToShowcase.updatedDate | date:'mediumDate'}} {{employeeToShowcase.updatedDate |
                date:'mediumTime'}}</strong>

            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="row" *ngIf="isUserAdmin" style="margin-bottom:18px;">
      <div class="col-md-12">
        <p class="lead bb" id="headings">Salary Info</p>
        <div class="row">

          <div class="col-md-10">
            <form class="form-horizontal p-20">

              <div class="form-group">
                <div class="col-sm-4">Basic Salary Amount : </div>
                <div class="col-sm-8">
                  <strong>{{convertToFormattedString(employeeToShowcase.basicSalary)}} Ks</strong>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4"> Current Salary Amount : </div>
                <div class="col-sm-8">
                  <strong>{{convertToFormattedString(employeeToShowcase.currentSalary)}} Ks</strong>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">Bank Account No : </div>
                <div class="col-sm-8">
                  <strong>{{employeeToShowcase.bankAccountNo}}</strong>
                </div>
                <div class="col-sm-8" *ngIf="!employeeToShowcase.bankAccountNo || employeeToShowcase.bankAccountNo.length <= 0">
                  <strong>None</strong>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-2">
            <div class="pull-right" style="padding-right: 9px;">
              <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#editSalaryModal">
                <strong><i class="fa fa-arrow-up"></i> Promote/ Raise Salary</strong>
              </button>
            </div>
          </div>

        </div>
        <salary-timeline [employeeId]="employeeId" (salaryEdited)="onSalaryEdited()" [changesMade]="changesMade"></salary-timeline>
      </div>
    </div>
    <div class="row" *ngIf="isUserAdmin" style="margin-bottom:18px;">

      <div class="col-md-12">
        <div class="container" style="display: contents;">

          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetBonus()"><i class="fa fa-times"></i>
              Reset</button>
          </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createBonusModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
            <div id="bonusForm" name="bonusForm" class="form-group" [formGroup]="bonusForm">
              <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                (change)="generateBonusByMonth()" />
            </div>
          </div>

          <p class="lead bb" style="line-height: 2.0;" id="headings">Bonus Info </p>

        </div>
        <bonus [employeeId]="employeeId" [selectedBN]="selectedBN"></bonus>
      </div>
    </div>

    <div class="row" *ngIf="isUserAdmin" style="margin-bottom:18px;">
      <div class="col-md-12">
        <div class="container" style="display: contents;">
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">

            <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetCommission()"><i
                class="fa fa-times"></i>
              Reset</button>
          </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createCommissionModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
            <div id="commissionForm" name="commissionForm" class="form-group" [formGroup]="commissionForm">
              <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                (change)="generateCommissionByMonth()" />
            </div>
          </div>
          <p class="lead bb" style="line-height: 2.0;" id="headings">Commission Info</p>

        </div>
        <commission [employeeId]="employeeId" [selectedCM]="selectedCM"></commission>
      </div>
    </div>

    <div class="row" style="margin-bottom:18px;">
      <div class="col-md-12">
        <div class="container" style="display: contents;">
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetTripAllowance()"><i
                class="fa fa-times"></i>
              Reset</button>
          </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createTripAllowanceModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
            <div id="tripForm" name="tripForm" class="form-group" [formGroup]="tripForm">
              <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                (change)="generateTripAllowanceByMonth()" />
            </div>
          </div>
          <p class="lead bb" style="line-height: 2.0;" id="headings">Trip Allowance and Record Info</p>
          <trip-allowance [employeeId]="employeeId" [selectedTR]="selectedTR"></trip-allowance>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom:18px;">
      <div class="col-md-12">
        <div class="container" style="display: contents;">
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetCompensation()"><i
                class="fa fa-times"></i>
              Reset</button>
          </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createCompensationModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
            <div id="compensationForm" name="compensationForm" class="form-group" [formGroup]="compensationForm">
              <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                (change)="generateCompensationByMonth()" />
            </div>
          </div>
          <p class="lead bb" style="line-height: 2.0;" id="headings">Compensation Info</p>
        </div>
        <compensation [employeeId]="employeeId" [selectedCS]="selectedCS"></compensation>
      </div>
    </div>

    <div class="row" style="margin-bottom:18px;">
      <div class="col-md-12">
        <div class="container" style="display: contents;">
            <div class="pull-right" style="margin-left:18px;margin-top:5px;">
                <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetAdvance()"><i
                    class="fa fa-times"></i>
                  Reset</button>
              </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createAdvanceModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
              <div id="advanceForm" name="advanceForm" class="form-group" [formGroup]="advanceForm">
                <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                  (change)="generateAdvanceByMonth()" />
              </div>
            </div>
          <p class="lead bb" style="line-height: 2.0;" id="headings">Advance Salary Info</p>
        </div>
        <advance [employeeId]="employeeId" [selectedAV]="selectedAV"></advance>
      </div>
    </div>

    <div class="row" style="margin-bottom:18px;">
      <div class="col-md-12">
        <div class="container" style="display: contents;">
            <div class="pull-right" style="margin-left:18px;margin-top:5px;">
                <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetLoan()"><i
                    class="fa fa-times"></i>
                  Reset</button>
              </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createLoanModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
              <div id="loanForm" name="loanForm" class="form-group" [formGroup]="loanForm">
                <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                  (change)="generateLoanByMonth()" />
              </div>
            </div>
          <p class="lead bb" style="line-height: 2.0;" id="headings">Loan Info</p>
        </div>
        <loan [employeeId]="employeeId" [selectedLO]="selectedLO"></loan>
      </div>
    </div>
    <div class="row" style="margin-bottom:18px;">
      <div class="col-md-12">
        <div class="container" style="display: contents;">
            <div class="pull-right" style="margin-left:18px;margin-top:5px;">
                <button style="margin-right:9px;display: contents;" class="btn btn-default" (click)="resetMD()"><i
                    class="fa fa-times"></i>
                  Reset</button>
              </div>
          <div class="pull-right" style="margin-left:18px;margin-top:5px;">
            <button style="margin-right:9px;display: contents;" class="btn btn-default" data-toggle="modal" data-target="#createMDAllowanceModal"><i
                class="fa fa-plus"></i> Add</button>
          </div>
          <div class="pull-right">
              <div id="medicalForm" name="medicalForm" class="form-group" [formGroup]="medicalForm">
                <input class="form-control input-sm" style="border-radius: 3px;" type="month" formControlName="monthAndYear"
                  (change)="generateMDByMonth()" />
              </div>
            </div>
          <p class="lead bb" style="line-height: 2.0;" id="headings">Medical Allowance Info</p>
        </div>
        <mdAllowance [employeeId]="employeeId" [selectedMD]="selectedMD"></mdAllowance>
      </div>
    </div>
    <!--div class="pull-right" style="padding: 9px;">
      <button class="btn btn-sm btn-success" type="button" *ngIf="!employeeToShowcase.isSSBEnabled" (click)="enableSSB()" [disabled]="loading">
        <strong><i class="fa fa-check"></i> Enable SSB</strong>
      </button>
      <button class="btn btn-sm btn-danger" type="button" (click)="disableSSB()" *ngIf="employeeToShowcase.isSSBEnabled" [disabled]="loading">
        <strong><i class="fa fa-remove"></i> Disable SSB</strong>
      </button>
    </div-->

  </div>



</div>

<employee-edit [employeeId]="employeeId" (employeeEdited)='onEmployeeEdited()' (siteEdited)='onSiteEdited()'
  (qualEdited)='onQualEdited()' [changesMade]="changesMade"></employee-edit>
  <status-change [employeeId]="employeeId" (employeeEdited)='onEmployeeEdited()' [changesMade]="changesMade"></status-change>