<div
  id="editDepartmentModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Department</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editDepartmentForm"
            name="editDepartmentForm"
            class="form-group"
            [formGroup]="editDepartmentForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editDepartmentForm.get('departmentCode').touched ||
                    editDepartmentForm.get('departmentCode').dirty) &&
                  !editDepartmentForm.get('departmentCode').valid
              }"
            >
              <label>Department Code</label>
              <div class="row">
                <div class="col-md-3">
                  <input
                    class="form-control"
                    type="text"
                    value="APT-DEP-"
                    disabled
                  />
                </div>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="departmentCode"
                    disabled
                  />
                </div>
              </div>
              <span
                class="help-block"
                *ngIf="
                  (editDepartmentForm.get('departmentCode').touched ||
                    editDepartmentForm.get('departmentCode').dirty) &&
                  (editDepartmentForm.get('departmentCode').errors ||
                    editDepartmentForm.get('departmentCode').errors)
                "
              >
                <span
                  *ngIf="
                    editDepartmentForm.get('departmentCode').errors?.required
                  "
                >
                  Please enter the department code.
                </span>
                <span
                  *ngIf="
                    editDepartmentForm.get('departmentCode').errors?.pattern
                  "
                >
                  Invalid department code. It should only contain numbers and
                  has the length of 3.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editDepartmentForm.get('departmentName').touched ||
                    editDepartmentForm.get('departmentName').dirty) &&
                  !editDepartmentForm.get('departmentName').valid
              }"
            >
              <label>Department Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="departmentName"
              />
              <span
                class="help-block"
                *ngIf="
                  (editDepartmentForm.get('departmentName').touched ||
                    editDepartmentForm.get('departmentName').dirty) &&
                  (editDepartmentForm.get('departmentName').errors ||
                    editDepartmentForm.get('departmentName').errors)
                "
              >
                <span
                  *ngIf="
                    editDepartmentForm.get('departmentName').errors?.required
                  "
                >
                  Please enter the department name.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="updateDepartment()"
              [disabled]="!editDepartmentForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
