<div class="table-responsive b0">
    <div class="panel panel-default">
       

        <div class="panel-heading">
            <h3>Users</h3>
        </div>
        <div class="panel-body">
                <kendo-grid [data]="gridView" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
                [skip]="skip" [pageable]="true"
                [loading]="loading">
                <kendo-grid-column field="userCode" title="Code" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="name" title="Name" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
            </kendo-grid-column>
            <kendo-grid-column field="userRole" title="Role" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
            </kendo-grid-column>
            
                <kendo-grid-column field="createdDate" title="Created Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-usr>
                        {{usr.createdDate | date : 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="createdUser" title="Created User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-usr>
                        {{getUserName(usr.createdUserId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedDate" title="Updated Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-usr>
                        {{usr.updatedDate | date: 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedUser" title="Updated User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-usr>
                        {{getUserName(usr.updatedUserId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="120" *ngIf="isUserAdmin" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-user>
                            <a type="button" style="margin-right:9px; color: white;width:81.56px;" class="btn btn-primary" *ngIf="isUserAdmin" data-toggle="modal" data-target="#editUserModal" (click)="selectUserToEdit(user)"><i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-danger" style="margin-right:9px; color: white;" *ngIf="isUserAdmin" (click)=deleteUser(user)> <i class="fa fa-trash"></i> Delete</a>
                        </ng-template>
                </kendo-grid-column>
            </kendo-grid>
    </div>
</div>

<user-edit [selectedUser]="selectedUser" (userUpdated)="onUserEdited()"></user-edit>
