<div class="table-responsive b0">
  <div class="panel panel-default">
    <div class="panel-body">
      <div
        id="searchEmployeeForm"
        name="searchEmployeeForm"
        class="form-group"
        [formGroup]="searchEmployeeForm"
      >
        <div class="pull-right">
          <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
            <strong> <i class="fa fa-times"></i> Reset </strong>
          </button>
        </div>
        <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
          <div class="input-group">
            <input
              class="form-control"
              style=" width:100%;"
              type="text"
              placeholder="Enter ID or Name"
              formControlName="searchKey"
              (keydown.enter)="evokeSearch()"
            />
            <div class="input-group-btn" style=" width:20%;" dropdown="">
              <select
                class="form-control"
                id="searchType"
                formControlName="searchType"
              >
                <option>Search By</option>
                <option>Code</option>
                <option>Name</option>
              </select>
            </div>
            <span class="input-group-btn">
              <button
                class="btn btn-info"
                type="button"
                [disabled]="loading"
                (click)="evokeSearch()"
               
              >
              <img
              *ngIf="loading"
              src="assets/img/loading.gif"
              style="width:20px; height:20px; margin-right:5px;"
            />
            <i class="fa fa-search"  *ngIf="!loading"></i> 
                Search
              </button>
            </span>
          </div>

          <div class="row" style="margin-top:18px;margin-right:9px;">
            <div class="pull-right" *ngIf="!advanceOptions">
              <a (click)="showAdvanceOptions()">
                <strong> <i class="fa fa-plus"></i> Advanced Options</strong>
              </a>
            </div>
            <div class="pull-right" *ngIf="advanceOptions">
              <a (click)="showAdvanceOptions()">
                <strong> <i class="fa fa-minus"></i> Advanced Options</strong>
              </a>
            </div>
          </div>
          <div class="row" style="margin-top:36px;" *ngIf="advanceOptions">
            <div class="col-md-4">
              <select
                class="form-control"
                id="searchDepartment"
                formControlName="searchDepartment"
              >
                <option>Select a Department</option>
                <option *ngFor="let depName of departmentNames">{{
                  depName
                }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <select
                class="form-control"
                id="searchDesignation"
                formControlName="searchDesignation"
              >
                <option>Select a Designation</option>

                <option *ngFor="let desName of designationNames">{{
                  desName
                }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="form-control" formControlName="searchGender">
                <option selected>Select a Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top:36px;" *ngIf="advanceOptions">
            <div class="col-md-4">
              <select
                class="form-control"
                id="searchStatus"
                formControlName="searchStatus"
              >
                <option>Select Status</option>
                <option>Permanent</option>
                <option>Provision</option>
                <option>Resign</option>
              </select>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div
      class="pull-right"
      style="padding: 9px;margin-top:21px;margin-right:9px;"
    >
      <button class="btn btn-sm btn-default" type="button" (click)="refresh()">
        <strong>Show All</strong>
      </button>
    </div>
    <div
      class="pull-right"
      style="padding: 9px;margin-top:21px;margin-right:9px;"
    >
      <button
        *ngIf="!isUserGuest"
        class="btn btn-sm btn-info"
        type="button"
        data-toggle="modal"
        data-target="#createEmployeeModal"
      >
        <strong> <i class="fa fa-plus"></i> Add </strong>
      </button>
    </div>

    <div class="panel-heading">
      <h3>Employees</h3>
    </div>
    <div class="panel-body">
      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: true,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        (excelExport)="onExcelExport($event)"
        [loading]="loading"
        [style.height]="loading ? '100vh': 'auto'"
      >
        <kendo-grid-column
          field="employeeCode"
          title="Code"
          width="63"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="name"
          title="Name"
          width="90"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="email"
          title="Email"
          width="100"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="workPhone"
          title="Work Phone"
          width="76"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="position"
          title="Job Title/ Position"
          width="90"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
          <ng-template kendoGridCellTemplate let-employee>
            {{ getDesName(employee.position) }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="departmentCode"
          title="Department"
          width="65"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
          <ng-template kendoGridCellTemplate let-employee>
            <span
              class="label"
              *ngIf="
                getDepName(employee.departmentCode) == 'HR' ||
                getDepName(employee.departmentCode) == 'Mechanical' ||
                getDepName(employee.departmentCode) == 'Civil' ||
                getDepName(employee.departmentCode) == 'Finance'
              "
              [ngClass]="{
                'label-success': getDepName(employee.departmentCode) == 'HR',
                'label-info': getDepName(employee.departmentCode) == 'Civil',
                'label-warning':
                  getDepName(employee.departmentCode) == 'Finance',
                'label-danger':
                  getDepName(employee.departmentCode) == 'Mechanical'
              }"
              >{{ getDepName(employee.departmentCode) }}</span
            >
            <span
              class="label label-default"
              style="color:black;"
              *ngIf="
                getDepName(employee.departmentCode) != 'HR' &&
                getDepName(employee.departmentCode) != 'Mechanical' &&
                getDepName(employee.departmentCode) != 'Civil' &&
                getDepName(employee.departmentCode) != 'Finance'
              "
              >{{ getDepName(employee.departmentCode) }}</span
            >
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="employmentDate"
          title="Employment Date"
          width="65"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
          <ng-template kendoGridCellTemplate let-employee>
            {{ employee.employmentDate | date: "mediumDate" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="activeStatus"
          title="Status"
          width="65"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
          <ng-template kendoGridCellTemplate let-employee>
            <span
              class="label"
              *ngIf="
                employee.activeStatus == 'Permanent' ||
                employee.activeStatus == 'Provision' ||
                employee.activeStatus == 'Resign'
              "
              [ngClass]="{
                'label-success': employee.activeStatus == 'Permanent',
                'label-warning': employee.activeStatus == 'Provision',
                'label-danger': employee.activeStatus == 'Resign'
              }"
              >{{ employee.activeStatus }}</span
            >
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          width="120"
          [headerStyle]="{ 'background-color': '#fff', color: '#444' }"
          [style]="{
            'background-color': '#fff',
            'border-top': '1px solid #eee'
          }"
        >
          <ng-template kendoGridCellTemplate let-employee>
            <button
              style="margin-left:25%;margin-right:25%;"
              class="btn btn-sm btn-default"
              type="button"
              (click)="viewDetail(employee.employeeId, employee.employeeCode)"
            >
              <i class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;<strong>View Detail</strong>
            </button>
          </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
          <button type="button" kendoGridExcelCommand icon="file-excel">
            Export
          </button>
        </ng-template>
        <kendo-grid-excel fileName="Employees.xlsx" [fetchData]="allData">
          <kendo-excelexport-column field="employeeCode" title="Employee Code">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="name" title="Name">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="email" title="Email">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="workPhone" title="Work Phone">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="position" title="Job Title">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="departmentCode" title="Department">
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="employmentDate"
            title="Employment Date"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column field="dateOfBirth" title="Date of Birth">
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="serviceYears"
            title="Service Year(s)"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column field="gender" title="Gender">
          </kendo-excelexport-column>
        
          <kendo-excelexport-column field="fingerPrintBadgeNo" title="Badge No">
          </kendo-excelexport-column>
        </kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>

  <employee-create
    [departmentMap]="departmentMap"
    [designationMap]="designationMap"
    [designationIDMap]="designationIDMap"
    (employeeCreated)="onEmployeeCreated()"
  ></employee-create>
</div>
