#empTabHead{
    display: flex;
    justify-content: center;
}

#sortIconContainer{
    align-items: center;
    justify-content: space-between;
    padding-left:5px;
    padding-top: 3px;
}

#sortIconProperties {
    display: flex;
    text-decoration: none;
    height:0px;width:0px;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #000000;
}


