<!--div class="panel" id="panelChart9" *ngIf="isUserAdmin">
  <div class="panel-heading">
    <div class="panel-title">
      <b
        >Income and Expenses of the Year <i>{{ year }}</i></b
      >
      <div class="pull-right" style="margin-left: 9px;">
        <button
          class="btn btn-default btn-sm"
          type="button"
          (click)="showOrHideLabel()"
        >
          <strong> <i class="fa fa-eye"></i> Show/Hide Label</strong>
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div
      flot
      id="#flot"
      [dataset]="splineData"
      [options]="splineOptions"
      height="300"
    ></div>
  </div>
</div-->
<div
  class="panel panel-default"
  style="border-color:white;"
  *ngIf="isUserAdmin"
>
  <div class="panel-body">
    <div class="pull-right" style="margin-top:9px;">
      <div class="row" style="padding-right:9px;">
        <div class="col-lg-12">
          <div
            id="incomeExpensesForm"
            name="incomeExpensesForm"
            class="form-group"
            [formGroup]="incomeExpensesForm"
          >
            <input
              class="form-control"
              style="border-radius: 3px;float:left;"
              type="month"
              formControlName="monthAndYear"
              (change)="generateIncomeRecords()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top:0px;padding-bottom:0px;">
    <div class="pull-right" style="margin-top:9px;">
      <div class="row" style="padding-right:9px;">
        <div class="col-lg-12">
          <button
            *ngIf="!isUserGuest"
            class="btn btn-info"
            [disabled]="
              selectedPayPeriod == undefined || selectedPayPeriod == null
            "
            type="button"
            data-toggle="modal"
            data-target="#createIncomeModal"
            style="width: 193.75px;"
          >
            <strong> <i class="fa fa-plus"></i> Add Department Income</strong>
          </button>
        </div>
      </div>
    </div>
    <div class="pull-right" style="margin-top:9px;">
      <div class="row" style="padding-right:9px;">
        <div class="col-lg-12">
          <button
            *ngIf="!isUserGuest"
            class="btn btn-info"
            [disabled]="
              selectedPayPeriod == undefined || selectedPayPeriod == null
            "
            type="button"
            data-toggle="modal"
            data-target="#createTotalIncomeModal"
            style="width: 193.75px;"
          >
            <strong> <i class="fa fa-plus"></i> Add APT Income</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <income-outcome [selectedPayPeriod]="selectedPayPeriod"></income-outcome>
    </div>
  </div>
</div>
