<div
  id="createDesignationModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Designation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createDesignationForm"
            name="createDesignationForm"
            class="form-group"
            [formGroup]="createDesignationForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createDesignationForm.get('designationCode').touched ||
                    createDesignationForm.get('designationCode').dirty) &&
                  !createDesignationForm.get('designationCode').valid
              }"
            >
              <label>Designation Code</label>
              <div class="row">
                <div class="col-md-3">
                  <input
                    class="form-control"
                    type="text"
                    value="APT-DES-"
                    disabled
                  />
                </div>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="designationCode"
                    placeholder="Designation Code (Required)"
                  />
                </div>
              </div>
              <span
                class="help-block"
                *ngIf="
                  (createDesignationForm.get('designationCode').touched ||
                    createDesignationForm.get('designationCode').dirty) &&
                  (createDesignationForm.get('designationCode').errors ||
                    createDesignationForm.get('designationCode').errors)
                "
              >
                <span
                  *ngIf="
                    createDesignationForm.get('designationCode').errors
                      ?.required
                  "
                >
                  Please enter the designation code.
                </span>
                <span
                  *ngIf="
                    createDesignationForm.get('designationCode').errors?.pattern
                  "
                >
                  Invalid designation code. It should only contain numbers and
                  has the length of 3.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createDesignationForm.get('designationName').touched ||
                    createDesignationForm.get('designationName').dirty) &&
                  !createDesignationForm.get('designationName').valid
              }"
            >
              <label>Designation Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="designationName"
                placeholder="Designation Name (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createDesignationForm.get('designationName').touched ||
                    createDesignationForm.get('designationName').dirty) &&
                  (createDesignationForm.get('designationName').errors ||
                    createDesignationForm.get('designationName').errors)
                "
              >
                <span
                  *ngIf="
                    createDesignationForm.get('designationName').errors
                      ?.required
                  "
                >
                  Please enter the designation name.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createDesignationForm.get('basicPay').touched ||
                    createDesignationForm.get('basicPay').dirty) &&
                  !createDesignationForm.get('basicPay').valid
              }"
            >
              <label>Basic Salary</label>
              <input
                class="form-control"
                type="number"
                formControlName="basicPay"
                placeholder="Basic Pay (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createDesignationForm.get('basicPay').touched ||
                    createDesignationForm.get('basicPay').dirty) &&
                  (createDesignationForm.get('basicPay').errors ||
                    createDesignationForm.get('basicPay').errors)
                "
              >
                <span
                  *ngIf="createDesignationForm.get('basicPay').errors?.required"
                >
                  Please enter the basic pay amount.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createDesignation()"
              [disabled]="!createDesignationForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
