<div class="panel panel-default">

    <div class="panel-body">
        <div id="employeeProgressForm" name="employeeProgressForm" class="form-group" [formGroup]="employeeProgressForm">
            <div class="pull-right">
                <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
                    <strong>
                         <i class="fa fa-times"></i> Reset
                    </strong>
                </button>
            </div>
            
                           
            <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
                <div class="input-group input-group-lg" style="width: 100%;" [ngClass]="{'has-error': ((employeeProgressForm.get('employee').touched || 
                 employeeProgressForm.get('employee').dirty) && 
                 employeeProgressForm.get('employee').errors ) || ((employeeProgressForm.get('monthAndYear').touched || 
                 employeeProgressForm.get('monthAndYear').dirty) && 
                 employeeProgressForm.get('monthAndYear').errors)}">
                 <div class="col-lg-5"> 
                        <label>Pay Period</label>
                     <input class="form-control" style="border-radius: 3px;" type="month" formControlName="monthAndYear" (keydown.enter)="fetchEmployeeMonthlyAttendance()" />
                     
                            <span class="help-block" *ngIf="(employeeProgressForm.get('monthAndYear').touched || 
                            employeeProgressForm.get('monthAndYear').dirty) && 
                            employeeProgressForm.get('monthAndYear').errors">
                                    <span style="color:red;" *ngIf="employeeProgressForm.get('monthAndYear').errors?.required">
                                        Please enter the desired month and year!
                                    </span>
                                </span>
                </div>
                <div class="col-lg-5"> 
                        <label>Employee</label>
                        <div class="input-group-btn" dropdown="">
                                <select style="border-radius: 3px;" class="form-control" id="employee" formControlName="employee" (change)=onEmployeeChange($event.target.value)>
                                    <option>Select An Employee</option>
                                    <option *ngFor="let employee of employeeList"  [value]="employee.employeeId">{{employee.name}}</option>
                                    
                                </select>
                                
                            </div>
                            <span class="help-block" *ngIf="(employeeProgressForm.get('employee').touched || 
                            employeeProgressForm.get('employee').dirty) && 
                            employeeProgressForm.get('employee').errors">
                                    <span style="color:red;" *ngIf="employeeProgressForm.get('employee').errors?.notSelected">
                                        Please select an employee!
                                    </span>
                                </span>
                   </div>
                <div class="col-lg-2"> 
                        <label>&nbsp;</label>
                        <span class="input-group-btn">
                                <button class="btn btn-info" style="border-radius: 3px;" type="button" (click)="fetchEmployeeMonthlyAttendance()">
                                        <img
                                        *ngIf="loading"
                                        src="assets/img/loading.gif"
                                        style="width:20px; height:20px; margin-right:5px;"
                                      />
                                    <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;Submit</button>
                            </span>
                </div>
                </div>
                <div class="row" style="margin-top:9px;margin-right:9px;">
                    <div class="pull-right" *ngIf="!advanceOptions">
                        <a (click)="showAdvanceOptions()">
                            <strong>
                                <i class="fa fa-plus"></i> Advanced Options</strong>
                        </a>
                    </div>
                    <div class="pull-right" *ngIf="advanceOptions">
                        <a (click)="showAdvanceOptions()">
                            <strong>
                                <i class="fa fa-minus"></i> Advanced Options</strong>
                        </a>
                    </div>
                </div>
                <div class="input-group input-group-lg" style="width: 100%;" [ngClass]="{'has-error': ((employeeProgressForm.get('fromDate').touched || 
                employeeProgressForm.get('fromDate').dirty) && 
                employeeProgressForm.get('fromDate').errors ) || ((employeeProgressForm.get('toDate').touched || 
                employeeProgressForm.get('toDate').dirty) && 
                employeeProgressForm.get('toDate').errors)}">
                <div class="row" style="margin-top:9px;" *ngIf="advanceOptions">
                    <div class="col-md-12 offset-md-3">
                        <div class="col-md-5">
                            <label>From</label>
                            <input class="form-control" type="date" formControlName="fromDate" (keydown.enter)="fetchEmployeeMonthlyAttendance()"  />
                        </div>
                        <div class="col-md-5">
                            <label>To</label>
                            <input class="form-control" type="date" formControlName="toDate" (keydown.enter)="fetchEmployeeMonthlyAttendance()"  />
                        </div>
                    </div>
                    
                   
                </div> 
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="panel panel-default" style="border-color:white">
    <div class="panel-body" *ngIf="attendanceList && attendanceList.length > 0">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
          [skip]="skip" [pageable]="true" *ngIf="attendanceList && attendanceList.length > 0" (excelExport)="onExcelExport($event)">
       
          <kendo-grid-column field="attendanceDate" title="Date" width="72">
                  <ng-template kendoGridCellTemplate let-attendance>
                          {{attendance.attendanceDate | date : 'mediumDate'}}
                      </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="badgeNo" title="Badge No" width="81">
          </kendo-grid-column>
          <kendo-grid-column field="badgeName" title="Badge Name" width="110">
          </kendo-grid-column>
          <kendo-grid-column field="inTime" title="In" width="180">
                  <ng-template kendoGridCellTemplate let-attendance>
                          {{attendance.inTime}}
                          <span *ngIf="getLateStatus(attendance.inTime).startsWith('LATE')" style="color:red;">
                                  {{getLateStatus(attendance.inTime, attendance.attendanceDate)}}</span>
                      </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="outTime" title="Out" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="leaveType" title="Leave Type" width="120">
          </kendo-grid-column>
          <kendo-grid-column field="remark" title="Remark" width="120">
          </kendo-grid-column>
          <kendo-grid-column  title="Penalty" width="180">
                <ng-template kendoGridCellTemplate let-attendance>
                        <span *ngIf="getPenalty(attendance.inTime)" style="color:red;">
                                {{getPenalty(attendance.inTime, attendance.attendanceDate)}}</span>
                    </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
            <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
        </ng-template>
        <kendo-grid-excel fileName="EmployeeMonthlyProgress.xlsx" [fetchData]="allData">
                <kendo-excelexport-column field="attendanceDate" title="Date">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="badgeNo" title="Badge No">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="badgeName" title="Employee Name">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="inTime" title="In Time">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="outTime" title="Out Time">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="late" title="Late">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="penalty" title="Penalty">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="leaveType" title="Leave Type">
                    </kendo-excelexport-column>
                    <kendo-excelexport-column field="remark" title="Remark">
                    </kendo-excelexport-column>
        </kendo-grid-excel>
      </kendo-grid>
      <div class="pull-right" style="margin-top:9px;">
     
      <span *ngIf="isUserAdmin"><b >Total Bonus Amount : </b>{{totalBonusAmt}}<br/></span>
      <span *ngIf="isUserAdmin"><b >Total Commission Amount : </b>{{totalCommissionAmt}}<br/></span>
      <b>Total Trip Allowance Amount : </b>{{totalAllowanceAmt}}<br/>
      <b>Total Medical Allowance Amount : </b>{{totalMDAllowanceAmt}}<br/>
      <b>Total Penalty Amount : </b>- {{totalPenaltyAmt}}<br/>
      <b>Total Compensation Amount : </b>- {{totalCompensationAmt}}<br/>
      <b>Total Advance Amount : </b>- {{totalAdvanceAmt}}<br/>
      <b>Total Loan Amount : </b>- {{totalLoanAmt}}<br/>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="attendanceList && attendanceList.length <= 0">
            <div class="box-placeholder" style="margin:15px;height:600px;">
                <h1 style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;">Select Desired Employee Name, Month and Year</h1>
            </div>
        </div>
    </div>
</div>