<div class="table-responsive b0" *ngIf="isUserAdmin">
  <div class="panel panel-default">
    <div class="panel-body">
      <div
        id="filterBonusForm"
        name="filterBonusForm"
        class="form-group"
        [formGroup]="filterBonusForm"
      >
        <div class="pull-right">
          <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
            <strong> <i class="fa fa-times"></i> Reset </strong>
          </button>
        </div>

        <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
          <div class="input-group input-group-lg" style="width: 100%;">
            <div class="col-lg-5">
              <label>Pay Period</label>
              <input
                class="form-control"
                style="border-radius: 3px;"
                type="month"
                formControlName="monthAndYear"
                (keydown.enter)="generateBonusList()"
              />

              <span
                class="help-block"
                *ngIf="
                  (filterBonusForm.get('monthAndYear').touched ||
                    filterBonusForm.get('monthAndYear').dirty) &&
                  filterBonusForm.get('monthAndYear').errors
                "
              >
                <span
                  style="color:red;"
                  *ngIf="filterBonusForm.get('monthAndYear').errors?.required"
                >
                  Please enter the desired pay period!
                </span>
              </span>
            </div>
            <div class="col-lg-6">
              <label>Employee</label>
              <div class="input-group-btn" dropdown="">
                <select
                  style="border-radius: 3px;"
                  class="form-control"
                  id="employee"
                  formControlName="employee"
                  (change)="onEmployeeChange($event.target.value)"
                >
                  <option>Select An Employee</option>
                  <option
                    *ngFor="let employee of employeeList"
                    [value]="employee.employeeId"
                    >{{ employee.name }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-lg-1">
              <label>&nbsp;</label>
              <span class="input-group-btn">
                <button
                  class="btn btn-info"
                  style="border-radius: 3px;"
                  type="button"
                  (click)="generateBonusList()"
                  [disabled]="!filterBonusForm.valid"
                >
                <img
                  *ngIf="loading"
                  src="assets/img/loading.gif"
                  style="width:20px; height:20px; margin-right:5px;"
                />
                  <i class="fa fa-check"  *ngIf="!loading"></i>&nbsp;&nbsp;&nbsp;Submit
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top:9px;">
          <div class="input-group input-group-lg" style="width: 100%;">
            <div class="col-lg-5">
              <div class="input-group-btn" dropdown="">
                <label>Department</label>
                <select
                  style="border-radius: 3px;"
                  class="form-control"
                  formControlName="department"
                >
                  <option>Select a Department</option>
                  <option *ngFor="let department of departmentList">{{
                    department
                  }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div
      class="pull-right"
      style="padding: 9px;margin-top:21px;margin-right:9px;"
    >
      <button class="btn btn-sm btn-default" type="button" (click)="refresh()">
        <strong>Show All</strong>
      </button>
    </div>
    <div
      class="pull-right"
      style="padding: 9px;margin-top:21px;margin-right:9px;"
    ></div>

    <div class="panel-heading">
      <h3>Bonus</h3>
    </div>
    <div class="panel-body">
      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: true,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        (excelExport)="onExcelExport($event)"
        [loading]="loading"
        [style.height]="loading ? '100vh': 'auto'"
      >
        <kendo-grid-column field="bonusDate" title="Date" width="72">
          <ng-template kendoGridCellTemplate let-bonus>
            {{ bonus.bonusDate | date: "mediumDate" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="employeeCode"
          title="Employee Code"
          width="72"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="employeeName"
          title="Employee Name"
          width="110"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="bonusAmount"
          title="Amount"
          width="70"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="reason"
          title="Reason"
          width="180"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="comment"
          title="Comment"
          width="180"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column width="120" *ngIf="isUserAdmin">
          <ng-template kendoGridCellTemplate let-bonus>
            <a
              type="button"
              style="margin-right:9px; color: white;width:81px;"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#editBonusModal"
              (click)="selectBonusToEdit(bonus)"
              ><i class="fa fa-edit"></i> Edit
            </a>
            <a
              class="btn btn-danger"
              style="margin-right:9px; color: white;"
              (click)="deleteBonus(bonus)"
            >
              <i class="fa fa-trash"></i> Delete</a
            >
          </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
          <button type="button" kendoGridExcelCommand icon="file-excel">
            Export
          </button>
        </ng-template>
        <kendo-grid-excel fileName="EmployeeBonus.xlsx" [fetchData]="allData">
          <kendo-excelexport-column field="employeeCode" title="Emp Code">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="employeeName" title="Name">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="bonusDate" title="Date">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="bonusAmount" title="Amount">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="reason" title="Reason">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="comment" title="Comment">
          </kendo-excelexport-column>
        </kendo-grid-excel>
        <!--ng-template kendoGridToolbarTemplate>
          <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
      </ng-template>
      <kendo-grid-excel fileName="BonusRecord.xlsx"></kendo-grid-excel-->
      </kendo-grid>
    </div>
  </div>
  <!--create-training (trainingCreated)="onTrainingCreated()"></create-training-->
  <!--edit-training [selectedTraining]="selectedTraining" (trainingUpdated)="onTrainingEdited()"></edit-training-->
  <edit-bonus
    [selectedBonus]="selectedBonus"
    (bonusUpdated)="onBonusEdited()"
  ></edit-bonus>
</div>
