<div class="panel" *ngIf="isUserAdmin">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <!--div id="importBonusForm" name="importBonusForm" class="form-group" [formGroup]="importBonusForm"></div-->
    <div class="pull-right">
      <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
        <strong> <i class="fa fa-times"></i> Reset</strong>
      </button>
    </div>
    <!--div class="form-group" [ngClass]="{'has-error': (importBonusForm.get('date').touched || 
                        importBonusForm.get('date').dirty) && 
                        !importBonusForm.get('date').valid }"
                style="padding-top: 36px;">
                <label>Choose Pay Period</label>
                <input class="form-control" type="month" formControlName="date" />
                <span class="help-block" *ngIf="(importBonusForm.get('date').touched || 
                      importBonusForm.get('date').dirty) && 
                      (importBonusForm.get('date').errors ||
                       importBonusForm.get('date').errors)">
                    <span *ngIf="importBonusForm.get('date').errors?.required">
                        Please enter desired pay period/month.
                    </span>
                </span>
            </div-->
    <div class="form-group">
      <input
        type="file"
        class="btn btn-sm btn-default"
        id="bonusFileInput"
        (change)="fileChange($event)"
        style="width:200px"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-default" type="button" (click)="show()">
        <strong> <i class="fa fa-eye"></i> View</strong>
      </button>
    </div>
    <div class="form-group" style="color:red;">
      <!--span *ngIf="invalidDatesInSheet">
                        The attendance sheet should only contain records from only one distinct date!
                    </span-->
      <!--span *ngIf="alreadyExistsInDB">
                            The attendance data from this specific date already exists!
                        </span-->
    </div>
  </div>
</div>

<div class="panel" *ngIf="isUserAdmin">
  <div class="panel-heading">
    <div class="pull-left" style="margin-bottom: 9px;">
      <bonus-export></bonus-export>
    </div>
    <div class="pull-right" style="margin-bottom: 9px;">
      <button
        class="btn btn-sm btn-info"
        [disabled]="!bonusList || loading || bonusList.length <= 0"
        type="button"
        (click)="insertBonus()"
      >
        <strong> <i class="fa fa-save"></i> Save/ Insert</strong>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12" *ngIf="!bonusList || bonusList.length == 0">
        <div class="box-placeholder" style="height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            Preview Data
          </h1>
        </div>
      </div>
    </div>
    <div class="row" style="padding:15px;padding-top:0px;">
      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: allowUnsort,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        *ngIf="bonusList && bonusList.length > 0"
      >
        <kendo-grid-column
          field="Employee_Code"
          title="Employee_Code"
          width="80"
        >
        </kendo-grid-column>

        <kendo-grid-column field="Name" title="Employee Name" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="Bonus_Date" title="Bonus Date" width="81">
        </kendo-grid-column>

        <kendo-grid-column field="Bonus_Amount" title="Bonus Amount" width="81">
        </kendo-grid-column>
        <kendo-grid-column field="Reason" title="Reason" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="Comment" title="Comment" width="120">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
