<div
  id="parameterizedReportModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Generate Report</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="parameterizedReportForm"
            name="parameterizedReportForm"
            class="form-group"
            [formGroup]="parameterizedReportForm"
          >
            <div
              *ngIf="selectedReport?.extendableMonth"
              class="form-group"
              [ngClass]="{
                'has-error':
                  (parameterizedReportForm.get('month').touched ||
                    parameterizedReportForm.get('month').dirty) &&
                  !parameterizedReportForm.get('month').valid
              }"
            >
              <label>Month</label>
              <input
                class="form-control"
                type="number"
                formControlName="month"
              />
              <span
                class="help-block"
                *ngIf="
                  (parameterizedReportForm.get('month').touched ||
                    parameterizedReportForm.get('month').dirty) &&
                  (parameterizedReportForm.get('month').errors ||
                    parameterizedReportForm.get('month').errors)
                "
              >
                <span
                  *ngIf="parameterizedReportForm.get('month').errors?.required"
                >
                  Please enter the desired month.
                </span>
              </span>
            </div>
            <div
              *ngIf="selectedReport?.extendableYear"
              class="form-group"
              [ngClass]="{
                'has-error':
                  (parameterizedReportForm.get('year').touched ||
                    parameterizedReportForm.get('year').dirty) &&
                  !parameterizedReportForm.get('year').valid
              }"
            >
              <label>Year</label>
              <input
                class="form-control"
                type="number"
                formControlName="year"
              />
              <span
                class="help-block"
                *ngIf="
                  (parameterizedReportForm.get('year').touched ||
                    parameterizedReportForm.get('year').dirty) &&
                  (parameterizedReportForm.get('year').errors ||
                    parameterizedReportForm.get('year').errors)
                "
              >
                <span
                  *ngIf="parameterizedReportForm.get('year').errors?.required"
                >
                  Please enter the desired year.
                </span>
              </span>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="generateReport()"
              [disabled]="!parameterizedReportForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-download"></i> Download
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
