<div class="panel panel-default" style="border-color:white">
  <div class="panel-heading">
    <h3>Reports</h3>
  </div>
  <div class="panel-body">
    <kendo-grid
      [data]="gridView"
      [sortable]="{
        allowUnsort: true,
        mode: 'single'
      }"
      [sort]="sort"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"
    >
      <kendo-grid-column field="no" title="No." width="20"> </kendo-grid-column>
      <kendo-grid-column field="name" title="Name" width="300">
      </kendo-grid-column>
      <kendo-grid-column title="Action" width="36">
        <ng-template kendoGridCellTemplate let-report>
          <button
            class="btn btn-sm btn-info"
            *ngIf="
              !report.extendableYear && !report.extendableMonth && isUserAdmin
            "
            type="button"
            (click)="generateReport(report)"
          >
            <strong><i class="fa fa-download"></i> Generate</strong>
          </button>
          <a
            type="button"
            class="btn btn-sm btn-info"
            style="color:white;"
            *ngIf="report.extendableYear || report.extendableMonth"
            data-toggle="modal"
            data-target="#parameterizedReportModal"
            (click)="setSelectedReport(report)"
          >
            <i class="fa fa-download"></i> Generate
          </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<generate-parameterized-report
  [selectedReport]="selectedReport"
  [reportMap]="reportMap"
></generate-parameterized-report>
