<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div
      id="importAttendanceForm"
      name="importAttendanceForm"
      class="form-group"
      [formGroup]="importAttendanceForm"
    >
      <div class="pull-right">
        <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
          <strong> <i class="fa fa-times"></i> Reset</strong>
        </button>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            (importAttendanceForm.get('date').touched ||
              importAttendanceForm.get('date').dirty) &&
            !importAttendanceForm.get('date').valid
        }"
        style="padding-top: 36px;"
      >
        <label>Choose date</label>
        <input class="form-control" type="date" formControlName="date" />
        <span
          class="help-block"
          *ngIf="
            (importAttendanceForm.get('date').touched ||
              importAttendanceForm.get('date').dirty) &&
            (importAttendanceForm.get('date').errors ||
              importAttendanceForm.get('date').errors)
          "
        >
          <span *ngIf="importAttendanceForm.get('date').errors?.required">
            Please enter desired attendence date.
          </span>
        </span>
      </div>
      <div class="form-group">
        <input
          type="file"
          class="btn btn-sm btn-default"
          id="attendanceFileInput"
          (change)="fileChange($event)"
          style="width:200px"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-sm btn-default"
          type="button"
          (click)="show()"
          [disabled]="!importAttendanceForm.valid"
        >
          <strong> <i class="fa fa-eye"></i> View</strong>
        </button>
      </div>
      <div class="form-group" style="color:red;">
        <span *ngIf="doNotMatch">
          Selected date and the date in the attendance sheet do not match!
          Please reset and enter again!
        </span>
        <!--span *ngIf="invalidDatesInSheet">
                    The attendance sheet should only contain records from only one distinct date!
                </span-->
        <!--span *ngIf="alreadyExistsInDB">
                        The attendance data from this specific date already exists!
                    </span-->
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="pull-right" style="margin-bottom: 9px;">
      <button
        class="btn btn-sm btn-info"
        [disabled]="!attendanceList || loading || attendanceList.length <= 0"
        type="button"
        (click)="insertAttendance()"
      >
        <img
          *ngIf="loading"
          src="assets/img/loading.gif"
          style="width:20px; height:20px; margin-right:5px;"
        />
        <strong>
          <i *ngIf="!loading" class="fa fa-save"></i> Save/ Insert</strong
        >
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div
        class="col-md-12"
        *ngIf="!attendanceList || attendanceList.length == 0"
      >
        <div class="box-placeholder" style="height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            Preview Data
          </h1>
        </div>
      </div>
    </div>
    <div class="row" style="padding:15px;padding-top:0px;">
      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: allowUnsort,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        *ngIf="attendanceList && attendanceList.length > 0"
      >
        <kendo-grid-column field="Date" title="Date" width="72">
          <ng-template kendoGridCellTemplate let-attendance>
            {{ attendance.Date | date: "mediumDate" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ACNo" title="Badge No" width="81">
        </kendo-grid-column>
        <kendo-grid-column field="Name" title="Badge Name" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="In" title="In" width="180">
          <ng-template kendoGridCellTemplate let-attendance>
            {{ attendance.In }}
            <span
              *ngIf="getLateStatus(attendance.In).startsWith('LATE')"
              style="color:red;"
            >
              {{ getLateStatus(attendance.In) }}</span
            >
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Out" title="Out" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="leaveType" title="Leave Type" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="remark" title="Remark" width="120">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
