<div class="panel panel-default" id="detailPanel">

    <div class="pull-right" style="padding: 9px;">
        <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#editInfoModal">
            <strong>
                <i class="fa fa-edit"></i> Edit</strong>
        </button>
    </div>

    <div class="panel-heading" style="display: flex;justify-content: center;">
        <div class="panel-body text-center">
            <div class="pv-lg">
                <img class="center-block img-responsive img-circle img-thumbnail thumb96" src="assets/img/user/blank.png" alt="Contact" />
            </div>
            <h3 class="m0 text-bold">{{selectedInfo?.companyFullName}}</h3>
        </div>

    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p class="lead bb" id="headings">Details</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">Registration Code :</div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.registrationCode}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Company Full Name :</div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.companyFullName}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Trade Name :</div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.tradeName}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Website :</div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.website}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Established On :</div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.establishedOn | date :'mediumDate'}}</strong>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="lead bb" id="headings">Contact Info</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4"> Contact Name : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.contactName}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"> Phone : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.contactPhone}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Mobile Phone : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.contactMobilePhone}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Email : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.contactEmail}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Fax : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.contactFax}}</strong>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead bb" id="headings">Address Detail</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">Address 1 : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.address1}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Address 2 : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.address2}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Address 3 : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.address3}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">City : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.city}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">State : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.state}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Country : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.country}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">ZIP/Post Code : </div>
                        <div class="col-sm-8">
                            <strong>{{selectedInfo?.zipCode}}</strong>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

<company-info-edit (infoEdited)='onInfoEdited()'></company-info-edit>