<div id="editInfoModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
              <h4 class="modal-title">Edit Company Info</h4>
            </div>
            <div class="modal-body">
              <div class='panel-body'>
                <div id="editInfoForm" name="editInfoForm" class="form-group" [formGroup]="editInfoForm">
                  <div class="form-group">
                      <label>Info Code</label>
                      <input class="form-control" type="text" formControlName="id" disabled/>
                  </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('fullName').touched || 
                    editInfoForm.get('fullName').dirty) && 
                    !editInfoForm.get('fullName').valid }">
                        <label>Company Full Name</label>
                        <input class="form-control" type="text" formControlName="fullName" placeholder="Company Full Name (Required)" />
                        <span class="help-block" *ngIf="(editInfoForm.get('fullName').touched || 
                                editInfoForm.get('fullName').dirty) && 
                                (editInfoForm.get('fullName').errors ||
                                 editInfoForm.get('fullName').errors)">
                            <span *ngIf="editInfoForm.get('fullName').errors?.required">
                                Please enter the company's full name.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('tradeName').touched || 
                    editInfoForm.get('tradeName').dirty) && 
                    !editInfoForm.get('tradeName').valid }">
                        <label>Trade Name</label>
                        <input class="form-control" type="text" formControlName="tradeName" placeholder="Company Trade Name" />
                        <span class="help-block" *ngIf="(editInfoForm.get('tradeName').touched || 
                                editInfoForm.get('tradeName').dirty) && 
                                (editInfoForm.get('tradeName').errors ||
                                 editInfoForm.get('tradeName').errors)">
                            <span *ngIf="editInfoForm.get('tradeName').errors?.required">
                                Please enter the company's trade name.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('registrationCode').touched || 
                    editInfoForm.get('registrationCode').dirty) && 
                    !editInfoForm.get('registrationCode').valid }">
                        <label>Registration Code</label>
                        <input class="form-control" type="text" formControlName="registrationCode" placeholder="Company Registration Code" />
                        <span class="help-block" *ngIf="(editInfoForm.get('registrationCode').touched || 
                                editInfoForm.get('registrationCode').dirty) && 
                                (editInfoForm.get('registrationCode').errors ||
                                 editInfoForm.get('registrationCode').errors)">
                            <span *ngIf="editInfoForm.get('registrationCode').errors?.required">
                                Please enter the company's registration code.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('establishedOn').touched || 
                    editInfoForm.get('establishedOn').dirty) && 
                    !editInfoForm.get('establishedOn').valid }">
                        <label>Established On</label>
                        <input class="form-control" type="date" formControlName="establishedOn" />
                        <span class="help-block" *ngIf="(editInfoForm.get('establishedOn').touched || 
                        editInfoForm.get('establishedOn').dirty) && 
                        (editInfoForm.get('establishedOn').errors ||
                         editInfoForm.get('establishedOn').errors)">
                            <span *ngIf="editInfoForm.get('establishedOn').errors?.required">
                                Please select the established date.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('website').touched || 
                    editInfoForm.get('website').dirty) && 
                    !editInfoForm.get('website').valid }">
                        <label>Website</label>
                        <input class="form-control" type="text" formControlName="website" placeholder="Company Website" />
                        <span class="help-block" *ngIf="(editInfoForm.get('website').touched || 
                                editInfoForm.get('website').dirty) && 
                                (editInfoForm.get('website').errors ||
                                 editInfoForm.get('website').errors)">
                            <span *ngIf="editInfoForm.get('website').errors?.required">
                                Please enter the company's website.
                            </span>
                        </span>
                    </div>
                  
                  
      
                    
                    <div class="form-group" style="padding-top: 18px;">
                        <h4>Contact Info</h4>
                    </div>
                    <hr/>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('contactName').touched || 
                    editInfoForm.get('contactName').dirty) && 
                    !editInfoForm.get('contactName').valid }">
                        <label> Contact Name</label>
                        <input class="form-control" type="text" formControlName="contactName" placeholder="Contact Name (Required)" />
                        <span class="help-block" *ngIf="(editInfoForm.get('contactName').touched || 
                        editInfoForm.get('contactName').dirty) && 
                        (editInfoForm.get('contactName').errors ||
                         editInfoForm.get('contactName').errors)">
                            <span *ngIf="editInfoForm.get('contactName').errors?.required">
                                Please enter the contact name.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('contactPhone').touched || 
                    editInfoForm.get('contactPhone').dirty) && 
                    !editInfoForm.get('contactPhone').valid }">
                        <label> Phone</label>
                        <input class="form-control" type="text" formControlName="contactPhone" placeholder=" Phone (Required)" />
                        <span class="help-block" *ngIf="(editInfoForm.get('contactPhone').touched || 
                        editInfoForm.get('contactPhone').dirty) && 
                        (editInfoForm.get('contactPhone').errors ||
                         editInfoForm.get('contactPhone').errors)">
                            <span *ngIf="editInfoForm.get('contactPhone').errors?.required">
                                Please enter the company's contact phone.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('contactMobilePhone').touched || 
                    editInfoForm.get('contactMobilePhone').dirty) && 
                    !editInfoForm.get('contactMobilePhone').valid }">
                        <label>Mobile Phone</label>
                        <input class="form-control" type="text" formControlName="contactMobilePhone" placeholder="Mobile Phone (Required)" />
                        <span class="help-block" *ngIf="(editInfoForm.get('contactMobilePhone').touched || 
                        editInfoForm.get('contactMobilePhone').dirty) && 
                        (editInfoForm.get('contactMobilePhone').errors ||
                         editInfoForm.get('contactMobilePhone').errors)">
                            <span *ngIf="editInfoForm.get('contactMobilePhone').errors?.required">
                                Please enter the company's contact phone.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('contactFax').touched || 
                    editInfoForm.get('contactFax').dirty) && 
                    !editInfoForm.get('contactFax').valid }">
                        <label>Fax</label>
                        <input class="form-control" type="text" formControlName="contactFax" placeholder="Fax" />
                        <span class="help-block" *ngIf="(editInfoForm.get('contactFax').touched || 
                        editInfoForm.get('contactFax').dirty) && 
                        (editInfoForm.get('contactFax').errors ||
                         editInfoForm.get('contactFax').errors)">
                            <span *ngIf="editInfoForm.get('contactFax').errors?.required">
                                Please enter the company's fax number.
                            </span>
                        </span>
                    </div>
                    <div formGroupName="emailGroup" [ngClass]="{'has-error': editInfoForm.get('emailGroup').errors }">
      
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('emailGroup.email').touched || 
                        editInfoForm.get('emailGroup.email').dirty) && 
                        !editInfoForm.get('emailGroup.email').valid }">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="Email (Required)" formControlName="email" />
                            <span class="help-block" *ngIf="(editInfoForm.get('emailGroup.email').touched || 
                                editInfoForm.get('emailGroup.email').dirty) && 
                                (editInfoForm.get('emailGroup.email').errors ||
                                 editInfoForm.get('emailGroup').errors)">
                                <span *ngIf="editInfoForm.get('emailGroup.email').errors?.required">
                                    Please enter company's contact email address.
                                </span>
                                <span *ngIf="editInfoForm.get('emailGroup.email').errors?.pattern">
                                    Please enter a valid email address.
                                </span>
                            </span>
                        </div>
      
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('emailGroup.confirmEmail').touched || 
                                    editInfoForm.get('emailGroup.confirmEmail').dirty) && 
                                    !editInfoForm.get('emailGroup.confirmEmail').valid }">
                            <label>Confirm Email</label>
                            <input class="form-control" type="email" placeholder="Confirm Email (Required)" formControlName="confirmEmail" />
                            <span class="help-block" *ngIf="(editInfoForm.get('emailGroup.confirmEmail').touched || 
                                              editInfoForm.get('emailGroup.confirmEmail').dirty) && 
                                              (editInfoForm.get('emailGroup.confirmEmail').errors ||
                                               editInfoForm.get('emailGroup').errors)">
                                <span *ngIf="editInfoForm.get('emailGroup.confirmEmail').errors?.required">
                                    Please confirm the company's contact email address.
                                </span>
                                <span *ngIf="editInfoForm.get('emailGroup').errors?.match">
                                    The email addresses do not match.
                                </span>
                            </span>
      
                        </div>
                    </div>
                    
                    
      
                    <div class="form-group" style="padding-top: 18px;">
                        <h4>Address Info</h4>
                    </div>
                    <hr/>
                    <div formGroupName="addressGroup" [ngClass]="{'has-error': editInfoForm.get('addressGroup').errors }">
      
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.address1').touched || 
                    editInfoForm.get('addressGroup.address1').dirty) && 
                    !editInfoForm.get('addressGroup.address1').valid }">
                            <label>Address 1</label>
                            <input class="form-control" type="text" formControlName="address1" />
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.address1').touched || 
                        editInfoForm.get('addressGroup.address1').dirty) && 
                        (editInfoForm.get('addressGroup.address1').errors ||
                         editInfoForm.get('addressGroup').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.address1').errors?.required">
                                    Please enter company's address.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.address2').touched || 
                    editInfoForm.get('addressGroup.address2').dirty) && 
                    !editInfoForm.get('addressGroup.address2').valid }">
                            <label>Address 2</label>
                            <input class="form-control" type="text" formControlName="address2" />
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.address2').touched || 
                        editInfoForm.get('addressGroup.address2').dirty) && 
                        (editInfoForm.get('addressGroup.address2').errors ||
                         editInfoForm.get('addressGroup').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.address2').errors?.required">
                                    Please enter company's alternative address.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.address3').touched || 
                    editInfoForm.get('addressGroup.address3').dirty) && 
                    !editInfoForm.get('addressGroup.address3').valid }">
                            <label>Address 3</label>
                            <input class="form-control" type="text" formControlName="address3" />
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.address3').touched || 
                        editInfoForm.get('addressGroup.address3').dirty) && 
                        (editInfoForm.get('addressGroup.address3').errors ||
                         editInfoForm.get('addressGroup').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.address3').errors?.required">
                                    Please enter company's alternative address.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.city').touched || 
                        editInfoForm.get('addressGroup.city').dirty) && 
                        !editInfoForm.get('addressGroup.city').valid }">
                            <label>City</label>
                            <select class="form-control" id="position" formControlName="city">
                                <option>Select A City</option>
                                <option>Yangon</option>
                                <option>Mandalay</option>
                                <option>Naypyidaw</option>
                                <option>Taunggyi</option>
                                <option>Mawlamyine</option>
                                <option>Bago</option>
                                <option>Myitkyina</option>
                                <option>Monywa</option>
                                <option>Pathein</option>
                                <option>Pyay</option>
                                <option>Myeik</option>
                                <option>Meiktila</option>
                                <option>Taungoo</option>
                                <option>Sittwe</option>
                                <option>Magway</option>
                                <option>Pakokku</option>
                                <option>Myingyan</option>
                                <option>Thanlyin</option>
                                <option>Hinthada</option>
                                <option>Sagaing</option>
                                <option>Dawei</option>
                                <option>Mogok</option>
                                <option>Shwebo</option>
                                <option>Nyaunglebin</option>
                                <option>Bhamo</option>
                                <option>Aunglan</option>
                                <option>Yenangyaung</option>
                                <option>Bogale</option>
                                <option>Hlegu</option>
                                <option>Minbu</option>
                                <option>Tharrawaddy</option>
                                <option>Hakha</option>
                                <option>Thayet</option>
                            </select>
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.city').touched || 
                        editInfoForm.get('addressGroup.city').dirty) && 
                        (editInfoForm.get('addressGroup.city').errors ||
                         editInfoForm.get('addressGroup.city').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.city').errors?.notSelected">
                                    Please select the city that the company located.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.state').touched || 
                        editInfoForm.get('addressGroup.state').dirty) && 
                        !editInfoForm.get('addressGroup.state').valid }">
                            <label>State/ Region</label>
                            <select class="form-control" id="position" formControlName="state">
                                <option>Select A State/Region</option>
                                <option>Yangon Region</option>
                                <option>Mandalay Region</option>
                                <option>Naypyidaw Union Territory</option>
                                <option>Shan State</option>
                                <option>Mon State</option>
                                <option>Bago Region</option>
                                <option>Kachin State</option>
                                <option>Sagaing Region</option>
                                <option>Ayeyarwady Region</option>
                                <option>Tanintharyi Region</option>
                                <option>Rakhine State</option>
                                <option>Magway Region</option>
                                <option>Chin State</option>
                            </select>
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.state').touched || 
                            editInfoForm.get('addressGroup.state').dirty) && 
                            (editInfoForm.get('addressGroup.state').errors ||
                             editInfoForm.get('addressGroup.state').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.state').errors?.notSelected">
                                    Please select the state that the company located.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.country').touched || 
                        editInfoForm.get('addressGroup.country').dirty) && 
                        !editInfoForm.get('addressGroup.country').valid }">
                            <label>Country</label>
                            <select class="form-control" id="position" formControlName="country">
                                <option>Select A Country</option>
                                <option>Myanmar (Burma)</option>
                                
                            </select>
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.country').touched || 
                            editInfoForm.get('addressGroup.country').dirty) && 
                            (editInfoForm.get('addressGroup.country').errors ||
                             editInfoForm.get('addressGroup.country').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.country').errors?.notSelected">
                                    Please select the country that the company resides.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editInfoForm.get('addressGroup.zipCode').touched || 
                        editInfoForm.get('addressGroup.zipCode').dirty) && 
                        !editInfoForm.get('addressGroup.zipCode').valid }">
                            <label>Zip Code</label>
                            <input class="form-control" type="number" formControlName="zipCode" />
                            <span class="help-block" *ngIf="(editInfoForm.get('addressGroup.zipCode').touched || 
                            editInfoForm.get('addressGroup.zipCode').dirty) && 
                            (editInfoForm.get('addressGroup.zipCode').errors ||
                             editInfoForm.get('addressGroup.zipCode').errors)">
                                <span *ngIf="editInfoForm.get('addressGroup.zipCode').errors.required">
                                    Please enter the zip/postal code.
                                </span>
                                <span *ngIf="editInfoForm.get('addressGroup.zipCode').errors.invalid">
                                    The zip/postal code is invalid.
                                </span>
                               
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-info" type="button" (click)="editCompanyInfo()"><i class="fa fa-edit"></i> Update</button>
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
      
        </div>
      </div>