<div
  id="editWorkingDaysModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Working Days</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editWorkingDaysForm"
            name="editWorkingDaysForm"
            class="form-group"
            [formGroup]="editWorkingDaysForm"
          >
            <div class="form-group">
              <label>Sunday</label>
              <input
                style="margin-left:43px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="sunday"
              />
            </div>
            <div class="form-group">
              <label>Monday</label>
              <input
                style="margin-left:41px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="monday"
              />
            </div>
            <div class="form-group">
              <label>Tuesday</label>
              <input
                style="margin-left:39px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="tuesday"
              />
            </div>
            <div class="form-group">
              <label>Wednesday</label>
              <input
                style="margin-left:20px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="wednesday"
              />
            </div>
            <div class="form-group">
              <label>Thursday</label>
              <input
                style="margin-left:34px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="thursday"
              />
            </div>
            <div class="form-group">
              <label>Friday</label>
              <input
                style="margin-left:51px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="friday"
              />
            </div>
            <div class="form-group">
              <label>Saturday</label>
              <input
                style="margin-left:34px;"
                type="checkbox"
                id="formCheckBox"
                formControlName="saturday"
              />
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="editWorkingDays()"
              [disabled]="!editWorkingDaysForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
