<div class="panel">
    <div class="panel-body" style="padding: 0px;">
    <div class="pull-right" style="padding-bottom: 9px;">

            <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#editWorkingDaysModal">
                <strong>
                    <i class="fa fa-plus"></i> Edit
                </strong>
            </button>
        </div>
        </div>
<div class="panel-body" style="padding: 0px;">
  
    <kendo-grid [data]="gridView" [sortable]="{
        allowUnsort: allowUnsort,
        mode: 'single'
        }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
        [pageable]="true" *ngIf="workingDaysList && workingDaysList.length > 0">
        <kendo-grid-column field="dayName" title="Day" width="270">
        </kendo-grid-column>
        <kendo-grid-column field="dayNo" title="Day Number" width="270">
        </kendo-grid-column>
        <kendo-grid-column field="isWorkingDay" title="Is Working Day" width="120">
            <ng-template kendoGridCellTemplate let-workingDay>
                <input type="checkbox" [checked]="workingDay.isWorkingDay" disabled/>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

</div>


<edit-working-days (workingDaysUpdated)="onUpdated()"></edit-working-days>