<div id="editBalanceModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Edit Leave Balance</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="editLBForm" name="editLBForm" class="form-group" [formGroup]="editLBForm">
                       
                        <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('employee').touched || 
                            editLBForm.get('employee').dirty) && 
                            !editLBForm.get('employee').valid }">
                                <label>Employee</label>
                                <input class="form-control" type="text" formControlName="employee" disabled/>
                                <span class="help-block" *ngIf="(editLBForm.get('employee').touched || 
                                editLBForm.get('employee').dirty) && 
                                (editLBForm.get('employee').errors ||
                                 editLBForm.get('employee').errors)">
                                    <span *ngIf="editLBForm.get('employee').errors?.required">
                                        Please enter the number of Leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('absentLeave').touched || 
                            editLBForm.get('absentLeave').dirty) && 
                            !editLBForm.get('absentLeave').valid }">
                                <label>Absent Leave</label>
                                <input class="form-control" type="number" formControlName="absentLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('absentLeave').touched || 
                                editLBForm.get('absentLeave').dirty) && 
                                (editLBForm.get('absentLeave').errors ||
                                 editLBForm.get('absentLeave').errors)">
                                    <span *ngIf="editLBForm.get('absentLeave').errors?.required">
                                        Please enter the number of absent leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('annualLeave').touched || 
                            editLBForm.get('annualLeave').dirty) && 
                            !editLBForm.get('annualLeave').valid }">
                                <label>Annual Leave</label>
                                <input class="form-control" type="number" formControlName="annualLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('annualLeave').touched || 
                                editLBForm.get('annualLeave').dirty) && 
                                (editLBForm.get('annualLeave').errors ||
                                 editLBForm.get('annualLeave').errors)">
                                    <span *ngIf="editLBForm.get('annualLeave').errors?.required">
                                        Please enter the number of annual leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('casualLeave').touched || 
                            editLBForm.get('casualLeave').dirty) && 
                            !editLBForm.get('casualLeave').valid }">
                                <label>Casual Leave</label>
                                <input class="form-control" type="number" formControlName="casualLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('casualLeave').touched || 
                                editLBForm.get('casualLeave').dirty) && 
                                (editLBForm.get('casualLeave').errors ||
                                 editLBForm.get('casualLeave').errors)">
                                    <span *ngIf="editLBForm.get('casualLeave').errors?.required">
                                        Please enter the number of casual leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>   
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('funeralLeave').touched || 
                            editLBForm.get('funeralLeave').dirty) && 
                            !editLBForm.get('funeralLeave').valid }">
                                <label>Funeral Leave</label>
                                <input class="form-control" type="number" formControlName="funeralLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('funeralLeave').touched || 
                                editLBForm.get('funeralLeave').dirty) && 
                                (editLBForm.get('funeralLeave').errors ||
                                 editLBForm.get('funeralLeave').errors)">
                                    <span *ngIf="editLBForm.get('funeralLeave').errors?.required">
                                        Please enter the number of funeral eave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('marrigeLeave').touched || 
                            editLBForm.get('marrigeLeave').dirty) && 
                            !editLBForm.get('marrigeLeave').valid }">
                                <label>Marrige Leave</label>
                                <input class="form-control" type="number" formControlName="marrigeLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('marrigeLeave').touched || 
                                editLBForm.get('marrigeLeave').dirty) && 
                                (editLBForm.get('marrigeLeave').errors ||
                                 editLBForm.get('marrigeLeave').errors)">
                                    <span *ngIf="editLBForm.get('marrigeLeave').errors?.required">
                                        Please enter the number of marrige leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('maternityLeave').touched || 
                            editLBForm.get('maternityLeave').dirty) && 
                            !editLBForm.get('maternityLeave').valid }">
                                <label>Maternity Leave</label>
                                <input class="form-control" type="number" formControlName="maternityLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('maternityLeave').touched || 
                                editLBForm.get('maternityLeave').dirty) && 
                                (editLBForm.get('maternityLeave').errors ||
                                 editLBForm.get('maternityLeave').errors)">
                                    <span *ngIf="editLBForm.get('maternityLeave').errors?.required">
                                        Please enter the number of maternity leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('medicalLeave').touched || 
                            editLBForm.get('medicalLeave').dirty) && 
                            !editLBForm.get('medicalLeave').valid }">
                                <label>Medical Leave</label>
                                <input class="form-control" type="number" formControlName="medicalLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('medicalLeave').touched || 
                                editLBForm.get('medicalLeave').dirty) && 
                                (editLBForm.get('medicalLeave').errors ||
                                 editLBForm.get('medicalLeave').errors)">
                                    <span *ngIf="editLBForm.get('medicalLeave').errors?.required">
                                        Please enter the number of medical leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>   <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('paternityLeave').touched || 
                            editLBForm.get('paternityLeave').dirty) && 
                            !editLBForm.get('paternityLeave').valid }">
                                <label>Paternity Leave</label>
                                <input class="form-control" type="number" formControlName="paternityLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('paternityLeave').touched || 
                                editLBForm.get('paternityLeave').dirty) && 
                                (editLBForm.get('paternityLeave').errors ||
                                 editLBForm.get('paternityLeave').errors)">
                                    <span *ngIf="editLBForm.get('paternityLeave').errors?.required">
                                        Please enter the number of paternity leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': (editLBForm.get('recupLeave').touched || 
                            editLBForm.get('recupLeave').dirty) && 
                            !editLBForm.get('recupLeave').valid }">
                                <label>Recup Leave</label>
                                <input class="form-control" type="number" formControlName="recupLeave" />
                                <span class="help-block" *ngIf="(editLBForm.get('recupLeave').touched || 
                                editLBForm.get('recupLeave').dirty) && 
                                (editLBForm.get('recupLeave').errors ||
                                 editLBForm.get('recupLeave').errors)">
                                    <span *ngIf="editLBForm.get('recupLeave').errors?.required">
                                        Please enter the number of recup leave for the respective employee.
                                    </span>
                                    
                                </span>  
                            </div>                                                                                                                                                           
                        <button class="btn btn-info" type="button" (click)="editLeaveBalance()" [disabled]="!editLBForm.valid">
                                <img
                                *ngIf="loading"
                                  src="assets/img/loading.gif"
                                  style="width:20px; height:20px; margin-right:5px;"
                                />
                            <i *ngIf="!loading" class="fa fa-plus"></i> Update</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>