<div id="generateBalanceModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Generate Leave Balances</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="createLBForm" name="createLBForm" class="form-group" [formGroup]="createLBForm">
                            <div class="form-group" [ngClass]="{'has-error': (createLBForm.get('year').touched || 
                            createLBForm.get('year').dirty) && 
                            !createLBForm.get('year').valid }">
                                <label>Year</label>
                                <input class="form-control" type="number" formControlName="year" />
                                <span class="help-block" *ngIf="(createLBForm.get('year').touched || 
                                createLBForm.get('year').dirty) && 
                                (createLBForm.get('year').errors ||
                                 createLBForm.get('year').errors)">
                                    <span *ngIf="createLBForm.get('year').errors?.required">
                                        Please enter the desired year.
                                    </span>
                                    
                                </span>
                                <span *ngIf="invalidYear" style="color:red;">
                                    Please enter a valid year.
                                </span>   
                            </div>  
                                                                                                                                                                   
                        <button class="btn btn-info" type="button" (click)="generateLeaveBalance()" [disabled]="!createLBForm.valid"><i class="fa fa-plus"></i> Generate</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>