<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div
      id="viewBalanceForm"
      name="viewBalanceForm"
      class="form-group"
      [formGroup]="viewBalanceForm"
    >
      <div class="pull-right">
        <a
          type="button"
          style="margin-right:9px;"
          class="btn btn-sm btn-info"
          data-toggle="modal"
          data-target="#generateBalanceModal"
        >
          <i class="fa fa-plus"></i> Generate New Leave Balance
        </a>
        <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
          <strong> <i class="fa fa-times"></i> Reset</strong>
        </button>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            (viewBalanceForm.get('year').touched ||
              viewBalanceForm.get('year').dirty) &&
            !viewBalanceForm.get('year').valid
        }"
        style="padding-top: 36px;"
      >
        <label>Enter Year</label>
        <input class="form-control" type="number" formControlName="year" (keydown.enter)="view()" />
        <span
          class="help-block"
          *ngIf="
            (viewBalanceForm.get('year').touched ||
              viewBalanceForm.get('year').dirty) &&
            (viewBalanceForm.get('year').errors ||
              viewBalanceForm.get('year').errors)
          "
        >
          <span *ngIf="viewBalanceForm.get('year').errors?.required">
            Please enter desired year.
          </span>
        </span>
      </div>
      <div class="form-group">
        <button
          class="btn btn-sm btn-default"
          type="button"
          (click)="view()"
          [disabled]="!viewBalanceForm.valid || loading"
        >
          <strong>
            <img
              *ngIf="loading"
              src="assets/img/loading.gif"
              style="width:20px; height:20px; margin-right:5px;"
            />
            <i *ngIf="!loading" class="fa fa-eye"></i> Load</strong
          >
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12" *ngIf="balanceList && balanceList.length <= 0">
        <div class="box-placeholder" style="height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            Insert Desired Year
          </h1>
        </div>
      </div>
    </div>
    <kendo-grid
      [data]="gridView"
      [sortable]="{
        allowUnsort: allowUnsort,
        mode: 'single'
      }"
      [sort]="sort"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"
      *ngIf="balanceList && balanceList.length > 0"
      (excelExport)="onExcelExport($event)"
    >
      <kendo-grid-column field="year" title="Year" width="68">
      </kendo-grid-column>
      <kendo-grid-column field="employeeCode" title="Employee Code" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="employeeName" title="Employee Name" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="annualLeave" title="Annual" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="casualLeave" title="Casual" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="maternityLeave" title="Maternity" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="paternityLeave" title="Paternity" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="medicalLeave" title="Medical" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="funeralLeave" title="Funeral" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="marriageLeave" title="Marriage" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="recupLeave" title="Recup" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="absentLeave" title="Absent" width="70">
      </kendo-grid-column>
      <kendo-grid-column width="120">
        <ng-template kendoGridCellTemplate let-balance>
          <a
            type="button"
            style="margin-right:9px;"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#editBalanceModal"
            (click)="selectLeaveBalanceToEdit(balance)"
          >
            <i class="fa fa-edit"></i> Edit
          </a>
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel">
          Export
        </button>
      </ng-template>
      <kendo-grid-excel
        fileName="EmployeeLeaveBalances.xlsx"
        [fetchData]="allData"
      >
        <kendo-excelexport-column field="year" title="Year">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="employeeCode" title="Employee Code">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="employeeName" title="Employee Name">
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="annualLeave"
          title="Remaining Annual Leave"
          width="160"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="annualLeave"
          title="Taken Annual Leave"
          width="125"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="casualLeave"
          title="Remaining Casual Leave"
          width="155"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="casualLeave"
          title="Taken Casual Leave"
          width="125"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="maternityLeave"
          title="Remaining Maternity Leave"
          width="180"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="maternityLeave"
          title="Taken Maternity Leave"
          width="150"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="paternityLeave"
          title="Remaining Paternity Leave"
          width="180"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="paternityLeave"
          title="Taken Paternity Leave"
          width="150"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="medicalLeave"
          title="Remaining Medical Leave"
          width="160"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="medicalLeave"
          title="Taken Medical Leave"
          width="135"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="recupLeave"
          title="Remaining Recup Leave"
          width="155"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="recupLeave"
          title="Taken Recup Leave"
          width="120"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="absentLeave"
          title="Remaining Absent Leave"
          width="150"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="absentLeave"
          title="Taken Absent Leave"
          width="125"
        >
        </kendo-excelexport-column>
        <kendo-excelexport-column
          field="employeeID"
          title="Employee ID"
          width="0"
        >
        </kendo-excelexport-column>
      </kendo-grid-excel>
    </kendo-grid>
  </div>
</div>
<edit-leave-balance
  [selectedLB]="selectedLB"
  (lbEdited)="onLeaveBalanceEdited()"
></edit-leave-balance>
<generate-leave-balance
  (lbCreated)="onLeaveBalanceGenerated()"
></generate-leave-balance>
