<div class="table-responsive b0">
    <div class="panel panel-default">
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">

            <button  *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createSectionModal">
                <strong>
                    <i class="fa fa-plus"></i> Add</strong>
            </button>
        </div>
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">

            <button class="btn btn-sm btn-default" type="button" (click)="count()">
                <strong>
                    <i class="fa fa-refresh"></i></strong>
            </button>
        </div>

        <div class="panel-heading">
            <h3>Sections</h3>
        </div>
        <div class="panel-body">
                <kendo-grid [data]="gridView" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort" (excelExport)="onExcelExport($event)" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
                [skip]="skip" [pageable]="true" [loading]="loading">
                <kendo-grid-column field="sectionCode" title="Code" width="72" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="name" title="Section Name" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
            </kendo-grid-column>
                <kendo-grid-column field="departmentCode" title="Department Name" width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-sec>
                            {{getDepName(sec.departmentCode)}}
                        </ng-template>
                </kendo-grid-column>
               
                <kendo-grid-column field="totalEmployees" title="Number of Ppl" width="63" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>

                <kendo-grid-column field="createdDate" title="Created Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-sec>
                        {{sec.createdDate | date : 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="createdUser" title="Created User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-sec>
                        {{getUserName(sec.createdUserId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedDate" title="Updated Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-sec>
                        {{sec.updatedDate | date: 'mediumDate'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="updatedUser" title="Updated User" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-sec>
                        {{getUserName(sec.updatedUserId)}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column width="120" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-sec>
                            <button type="button"  style="margin-right:9px; color: white;width:81px;"  class="btn btn-primary" data-toggle="modal" data-target="#editSectionModal" (click)="selectSectionToEdit(sec)"  *ngIf="!isUserGuest"><i class="fa fa-edit"></i> Edit </button>
                            <button class="btn btn-danger"  style="margin-right:9px; color: white;"  *ngIf="isUserAdmin && !isUserGuest" (click)=deleteSection(sec) [disabled]="loading"> <i class="fa fa-trash"></i> Delete</button>
                        </ng-template>
                </kendo-grid-column>
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="Sections.xlsx" [fetchData]="allData">
                        <kendo-excelexport-column field="sectionCode" title="Section Code">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="name" title="Section Name">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="departmentCode" title="Department Name" >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="totalEmployees" title="Number of People" >
                            </kendo-excelexport-column>
                </kendo-grid-excel>
            </kendo-grid>
      
    </div>

    
</div>
<section-create [departmentMap]="departmentMap" (sectionCreated)="onSectionCreated()"></section-create>
<section-edit [selectedSection]="selectedSection" [departmentMap]="departmentMap" (sectionUpdated)="onSectionEdited()"></section-edit>
