<div id="editEmployeeModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Edit Employee</h4>
      </div>
      <div class="modal-body">
        <div class='panel-body'>
          <div id="editEmployeeForm" name="editEmployeeForm" class="form-group" [formGroup]="editEmployeeForm">
           
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('code').touched || 
                            editEmployeeForm.get('code').dirty) && 
                            !editEmployeeForm.get('code').valid }">
                            <label>Employee Code</label>
                            <div class="row">
                                <div class="col-md-2">
                                    <input class="form-control" type="text" value="APT-EMP-" disabled />
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" formControlName="code" placeholder="Employee Code (Required)" />
                                </div>
                            </div>
                            <span class="help-block" *ngIf="(editEmployeeForm.get('code').touched || 
                          editEmployeeForm.get('code').dirty) && 
                          (editEmployeeForm.get('code').errors ||
                           editEmployeeForm.get('code').errors)">
                                <span *ngIf="editEmployeeForm.get('code').errors?.required">
                                    Please enter desired employee's code.
                                </span>
                                <span *ngIf="editEmployeeForm.get('code').errors?.pattern">
                                       Invalid Employee code. It should only contain numbers and has the length of 5.
                                    </span>
                            </span>
                        </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('name').touched || 
              editEmployeeForm.get('name').dirty) && 
              !editEmployeeForm.get('name').valid }">
              <label>Name</label>
              <input class="form-control" type="text" formControlName="name" placeholder="Name (Required)" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('name').touched || 
                          editEmployeeForm.get('name').dirty) && 
                          (editEmployeeForm.get('name').errors ||
                           editEmployeeForm.get('name').errors)">
                <span *ngIf="editEmployeeForm.get('name').errors?.required">
                  Please enter the employee's name.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('employmentDate').touched || 
              editEmployeeForm.get('employmentDate').dirty) && 
              !editEmployeeForm.get('employmentDate').valid }">
              <label>Employment Date</label>
              <input class="form-control" type="date" formControlName="employmentDate" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('employmentDate').touched || 
                  editEmployeeForm.get('employmentDate').dirty) && 
                  (editEmployeeForm.get('employmentDate').errors ||
                   editEmployeeForm.get('employmentDate').errors)">
                <span *ngIf="editEmployeeForm.get('employmentDate').errors?.notSelected">
                  Please select the employment date.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('dob').touched || 
              editEmployeeForm.get('dob').dirty) && 
              !editEmployeeForm.get('dob').valid }">
              <label>Date of Birth</label>
              <input class="form-control" id="dob" type="date" formControlName="dob" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('dob').touched || 
                  editEmployeeForm.get('dob').dirty) && 
                  (editEmployeeForm.get('dob').errors ||
                   editEmployeeForm.get('dob').errors)">
                <span *ngIf="editEmployeeForm.get('dob').errors?.notSelected">
                  Please select the employee's date of birth.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('gender').touched || 
              editEmployeeForm.get('gender').dirty) && 
              !editEmployeeForm.get('gender').valid }">
              <label>Gender</label>
              <select class="form-control" id="gender" formControlName="gender">
                <option>Select Employee's Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
              <span class="help-block" *ngIf="(editEmployeeForm.get('gender').touched || 
                  editEmployeeForm.get('gender').dirty) && 
                  (editEmployeeForm.get('gender').errors ||
                   editEmployeeForm.get('gender').errors)">
                <span *ngIf="editEmployeeForm.get('gender').errors?.notSelected">
                  Please select the employee's gender.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('department').touched || 
              editEmployeeForm.get('department').dirty) && 
              !editEmployeeForm.get('department').valid }">
              <label>Department</label>
              <select class="form-control" id="department" formControlName="department" (change)="departmentOnChange($event.target.value)">
                
                <option *ngFor="let depId of getDepartments()">{{depId + " - " +getDepName(depId)}}</option>
              </select>
              <span class="help-block" *ngIf="(editEmployeeForm.get('department').touched || 
                  editEmployeeForm.get('department').dirty) && 
                  (editEmployeeForm.get('department').errors ||
                   editEmployeeForm.get('department').errors)">
                <span *ngIf="editEmployeeForm.get('department').errors?.notSelected">
                  Please select the department that the employee is responsible for and placed in.
                </span>
              </span>
            </div>
            <div *ngIf="sectionMap && sectionMap.size > 0" class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('section').touched || 
                editEmployeeForm.get('section').dirty) && 
                !editEmployeeForm.get('section').valid }">
              <label>Section</label>
              <select class="form-control" id="section" formControlName="section">
                
                <option *ngFor="let secId of getSec()">{{secId + " - " + getSectionName(secId)}}</option>
              </select>
              <span class="help-block" *ngIf="(editEmployeeForm.get('section').touched || 
                    editEmployeeForm.get('section').dirty) && 
                    (editEmployeeForm.get('section').errors ||
                     editEmployeeForm.get('section').errors)">
                <span *ngIf="editEmployeeForm.get('section').errors?.notSelected && sectionMap.size > 0">
                  Please select the section that the employee is responsible for and placed in.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('jobPosition').touched || 
              editEmployeeForm.get('jobPosition').dirty) && 
              !editEmployeeForm.get('jobPosition').valid }">
              <label>Job Position</label>
              <select class="form-control" id="position" formControlName="jobPosition" (change)="designationOnChange($event.target.value)">
                
                <option *ngFor="let desId of getDesignations()">{{desId + " - " + getDesignationName(desId)}}</option>
              </select>
              <span class="help-block" *ngIf="(editEmployeeForm.get('jobPosition').touched || 
                  editEmployeeForm.get('jobPosition').dirty) && 
                  (editEmployeeForm.get('jobPosition').errors ||
                   editEmployeeForm.get('jobPosition').errors)">
                <span *ngIf="editEmployeeForm.get('jobPosition').errors?.notSelected">
                  Please select the employee's job position.
                </span>
              </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('education').touched || 
              editEmployeeForm.get('education').dirty) && 
              !editEmployeeForm.get('education').valid }">
              <label>Education</label>
              <div id="tagInput">
                <tag-input theme='minimal' name="qualifications" formControlName="education"></tag-input>
              </div>
              <span class="help-block" *ngIf="(editEmployeeForm.get('education').touched || 
                  editEmployeeForm.get('education').dirty) && 
                  (editEmployeeForm.get('education').errors ||
                   editEmployeeForm.get('education').errors)">
                <span *ngIf="editEmployeeForm.get('education').errors?.required">
                  Please enter the employee's education level.
                </span>
              </span>
            </div>
            <div class="form-group" style="padding-top: 18px;">
              <h4>Contact Info</h4>
            </div>
            <hr />
            <div formGroupName="emailGroup" [ngClass]="{'has-error': editEmployeeForm.get('emailGroup').errors }">

              <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('emailGroup.email').touched || 
                  editEmployeeForm.get('emailGroup.email').dirty) && 
                  !editEmployeeForm.get('emailGroup.email').valid }">
                <label>Email</label>
                <input class="form-control" type="text" placeholder="Email (Required)" formControlName="email" />
                <span class="help-block" *ngIf="(editEmployeeForm.get('emailGroup.email').touched || 
                          editEmployeeForm.get('emailGroup.email').dirty) && 
                          (editEmployeeForm.get('emailGroup.email').errors ||
                           editEmployeeForm.get('emailGroup').errors)">
                  <span *ngIf="editEmployeeForm.get('emailGroup.email').errors?.required">
                    Please enter employee's email address.
                  </span>
                  <span *ngIf="editEmployeeForm.get('emailGroup.email').errors?.pattern">
                    Please enter a valid employee email address.
                  </span>
                </span>
              </div>

              <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('emailGroup.confirmEmail').touched || 
                              editEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                              !editEmployeeForm.get('emailGroup.confirmEmail').valid }">
                <label>Confirm Email</label>
                <input class="form-control" type="email" placeholder="Confirm Email (Required)" formControlName="confirmEmail" />
                <span class="help-block" *ngIf="(editEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                        editEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                        (editEmployeeForm.get('emailGroup.confirmEmail').errors ||
                                         editEmployeeForm.get('emailGroup').errors)">
                  <span *ngIf="editEmployeeForm.get('emailGroup.confirmEmail').errors?.required">
                    Please confirm the employee's email address.
                  </span>
                  <span *ngIf="editEmployeeForm.get('emailGroup').errors?.match">
                    The email addresses do not match.
                  </span>
                </span>

              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('workPhone').touched || 
              editEmployeeForm.get('workPhone').dirty) && 
              !editEmployeeForm.get('workPhone').valid }">
              <label>Work Phone</label>
              <input class="form-control" type="text" formControlName="workPhone" placeholder="Work Phone (Required)" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('workPhone').touched || 
                  editEmployeeForm.get('workPhone').dirty) && 
                  (editEmployeeForm.get('workPhone').errors ||
                   editEmployeeForm.get('workPhone').errors)">
                <span *ngIf="editEmployeeForm.get('workPhone').errors?.required">
                  Please enter the employee's work phone.
                </span>
                <span *ngIf="editEmployeeForm.get('workPhone').errors?.pattern">
                  The phone number should only contain numbers.
              </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('personalPhone').touched || 
              editEmployeeForm.get('personalPhone').dirty) && 
              !editEmployeeForm.get('personalPhone').valid }">
              <label>Personal Phone</label>
              <input class="form-control" type="text" formControlName="personalPhone" placeholder="Personal Phone (Required)" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('personalPhone').touched || 
                  editEmployeeForm.get('personalPhone').dirty) && 
                  (editEmployeeForm.get('personalPhone').errors ||
                   editEmployeeForm.get('personalPhone').errors)">
                <span *ngIf="editEmployeeForm.get('personalPhone').errors?.required">
                  Please enter the employee's personal phone.
                </span>
                <span *ngIf="editEmployeeForm.get('personalPhone').errors?.pattern">
                  The phone number should only contain numbers.
              </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('employmentSites').touched || 
              editEmployeeForm.get('employmentSites').dirty) && 
              !editEmployeeForm.get('employmentSites').valid }">
              <label>Employment Site(s)</label>
              <div id="tagInput">
                <tag-input theme='minimal' name="empSites" formControlName="employmentSites"></tag-input>
              </div>
              <span class="help-block" *ngIf="(editEmployeeForm.get('employmentSites').touched || 
                  editEmployeeForm.get('employmentSites').dirty) && 
                  (editEmployeeForm.get('employmentSites').errors ||
                   editEmployeeForm.get('employmentSites').errors)">
                <span *ngIf="editEmployeeForm.get('employmentSites').errors?.required">
                  Please enter at least one employment site.
                </span>
              </span>
            </div>

            <div class="form-group" style="padding-top: 18px;">
              <h4>Address Info</h4>
            </div>
            <hr />
            <div formGroupName="addressGroup" [ngClass]="{'has-error': editEmployeeForm.get('addressGroup').errors }">

              <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('addressGroup.address').touched || 
              editEmployeeForm.get('addressGroup.address').dirty) && 
              !editEmployeeForm.get('addressGroup.address').valid }">
                <label>Address</label>
                <input class="form-control" type="text" formControlName="address" />
                <span class="help-block" *ngIf="(editEmployeeForm.get('addressGroup.address').touched || 
                  editEmployeeForm.get('addressGroup.address').dirty) && 
                  (editEmployeeForm.get('addressGroup.address').errors ||
                   editEmployeeForm.get('addressGroup').errors)">
                  <span *ngIf="editEmployeeForm.get('addressGroup.address').errors?.required">
                    Please enter employee's address.
                  </span>
                </span>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('addressGroup.city').touched || 
                  editEmployeeForm.get('addressGroup.city').dirty) && 
                  !editEmployeeForm.get('addressGroup.city').valid }">
                <label>City</label>
                <select class="form-control" id="position" formControlName="city">
                  <!--option *ngFor="let dep of getJobPositions()">{{emp}}</option-->
                  <option>Select A City</option>
                  <option>Yangon</option>
                  <option>Mandalay</option>
                  <option>Naypyidaw</option>
                  <option>Taunggyi</option>
                  <option>Mawlamyine</option>
                  <option>Bago</option>
                  <option>Myitkyina</option>
                  <option>Monywa</option>
                  <option>Pathein</option>
                  <option>Pyay</option>
                  <option>Myeik</option>
                  <option>Meiktila</option>
                  <option>Taungoo</option>
                  <option>Sittwe</option>
                  <option>Magway</option>
                  <option>Pakokku</option>
                  <option>Myingyan</option>
                  <option>Thanlyin</option>
                  <option>Hinthada</option>
                  <option>Sagaing</option>
                  <option>Dawei</option>
                  <option>Mogok</option>
                  <option>Shwebo</option>
                  <option>Nyaunglebin</option>
                  <option>Bhamo</option>
                  <option>Aunglan</option>
                  <option>Yenangyaung</option>
                  <option>Bogale</option>
                  <option>Hlegu</option>
                  <option>Minbu</option>
                  <option>Tharrawaddy</option>
                  <option>Hakha</option>
                  <option>Thayet</option>
                </select>
                <span class="help-block" *ngIf="(editEmployeeForm.get('addressGroup.city').touched || 
                  editEmployeeForm.get('addressGroup.city').dirty) && 
                  (editEmployeeForm.get('addressGroup.city').errors ||
                   editEmployeeForm.get('addressGroup.city').errors)">
                  <span *ngIf="editEmployeeForm.get('addressGroup.city').errors?.notSelected">
                    Please select the city that the employee lives in.
                  </span>
                </span>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('addressGroup.state').touched || 
                  editEmployeeForm.get('addressGroup.state').dirty) && 
                  !editEmployeeForm.get('addressGroup.state').valid }">
                <label>State/ Region</label>
                <select class="form-control" id="position" formControlName="state">
                  <!--option *ngFor="let dep of getJobPositions()">{{emp}}</option-->
                  <option>Select A State/Region</option>
                  <option>Yangon Region</option>
                  <option>Mandalay Region</option>
                  <option>Naypyidaw Union Territory</option>
                  <option>Shan State</option>
                  <option>Mon State</option>
                  <option>Bago Region</option>
                  <option>Kachin State</option>
                  <option>Sagaing Region</option>
                  <option>Ayeyarwady Region</option>
                  <option>Tanintharyi Region</option>
                  <option>Rakhine State</option>
                  <option>Magway Region</option>
                  <option>Chin State</option>
                </select>
                <span class="help-block" *ngIf="(editEmployeeForm.get('addressGroup.state').touched || 
                      editEmployeeForm.get('addressGroup.state').dirty) && 
                      (editEmployeeForm.get('addressGroup.state').errors ||
                       editEmployeeForm.get('addressGroup.state').errors)">
                  <span *ngIf="editEmployeeForm.get('addressGroup.state').errors?.notSelected">
                    Please select the state that the employee lives in.
                  </span>
                </span>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('addressGroup.zipCode').touched || 
                  editEmployeeForm.get('addressGroup.zipCode').dirty) && 
                  !editEmployeeForm.get('addressGroup.zipCode').valid }">
                <label>Zip Code</label>
                <input class="form-control" type="number" formControlName="zipCode" />
                <span class="help-block" *ngIf="(editEmployeeForm.get('addressGroup.zipCode').touched || 
                      editEmployeeForm.get('addressGroup.zipCode').dirty) && 
                      (editEmployeeForm.get('addressGroup.zipCode').errors ||
                       editEmployeeForm.get('addressGroup.zipCode').errors)">
                  <span *ngIf="editEmployeeForm.get('addressGroup.zipCode').errors.required">
                    Please enter the zip/postal code.
                  </span>
                  <span *ngIf="editEmployeeForm.get('addressGroup.zipCode').errors.invalid">
                    The zip/postal code is invalid.
                  </span>

                </span>
              </div>
            </div>
            <div class="form-group" style="padding-top: 18px;">
              <h4>Salary Info</h4>
            </div>
            <hr />
            <div *ngIf="isUserAdmin" class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('basicSalary').touched || 
              editEmployeeForm.get('basicSalary').dirty) && 
              !editEmployeeForm.get('basicSalary').valid }">
              <label>Basic Salary</label>
              <input class="form-control" type="number" formControlName="basicSalary" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('basicSalary').touched || 
                  editEmployeeForm.get('basicSalary').dirty) && 
                  (editEmployeeForm.get('basicSalary').errors ||
                   editEmployeeForm.get('basicSalary').errors)">
                <span *ngIf="editEmployeeForm.get('basicSalary').errors?.required">
                  Please enter the employee's basic salary amount.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('badgeNo').touched || 
              editEmployeeForm.get('badgeNo').dirty) && 
              !editEmployeeForm.get('badgeNo').valid }">
              <label>Badge No</label>
              <input class="form-control" type="number" formControlName="badgeNo" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('badgeNo').touched || 
                  editEmployeeForm.get('badgeNo').dirty) && 
                  (editEmployeeForm.get('badgeNo').errors ||
                   editEmployeeForm.get('badgeNo').errors)">
                <span *ngIf="editEmployeeForm.get('badgeNo').errors?.required">
                  Please enter the employee's finger print badge no.
                </span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (editEmployeeForm.get('bankAccountNo').touched || 
              editEmployeeForm.get('bankAccountNo').dirty) && 
              !editEmployeeForm.get('bankAccountNo').valid }">
              <label>Bank Account No</label>
              <input class="form-control" type="text" formControlName="bankAccountNo" />
              <span class="help-block" *ngIf="(editEmployeeForm.get('bankAccountNo').touched || 
                  editEmployeeForm.get('bankAccountNo').dirty) && 
                  (editEmployeeForm.get('bankAccountNo').errors ||
                   editEmployeeForm.get('bankAccountNo').errors)">
                <span *ngIf="editEmployeeForm.get('bankAccountNo').errors?.required">
                  Please enter the employee's bank account no.
                </span>
              </span>
            </div>

            <!--div class="form-group">
              <label>Picture</label>
              <input type="file" id="image-input" (change)="fileChange($event)" accept=".jpg,.jpeg,.png" placeholder="Upload Picture">
            </div-->
            <!--p>
              <small class="text-muted">If no pictures are uploaded, a blank avater placeholder will be used!</small>
            </p-->
            <button class="btn btn-info" type="button" (click)="editEmployee()" [disabled]="loading">
                <img
              *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i>
              Update</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()" [disabled]="loading"><i
            class="fa fa-times"></i> Close</button>
      </div>
    </div>

  </div>
</div>
