<div
  id="createOvertimeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Overtime</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createOvertimeForm"
            name="createOvertimeForm"
            class="form-group"
            [formGroup]="createOvertimeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createOvertimeForm.get('designationName').touched ||
                    createOvertimeForm.get('designationName').dirty) &&
                  !createOvertimeForm.get('designationName').valid
              }"
            >
              <label>Designation</label>

              <select
                class="form-control"
                id="designationName"
                formControlName="designationName"
              >
                <option>Select A Designation</option>
                <option *ngFor="let desName of getDesignations()">{{
                  desName
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (createOvertimeForm.get('designationName').touched ||
                    createOvertimeForm.get('designationName').dirty) &&
                  (createOvertimeForm.get('designationName').errors ||
                    createOvertimeForm.get('designationName').errors)
                "
              >
                <span
                  *ngIf="
                    createOvertimeForm.get('designationName').errors
                      ?.notSelected
                  "
                >
                  Please select a designation.
                </span>
              </span>
            </div>

            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createOvertimeForm.get('rate').touched ||
                    createOvertimeForm.get('rate').dirty) &&
                  !createOvertimeForm.get('rate').valid
              }"
            >
              <label>Hourly Rate</label>
              <input
                class="form-control"
                type="number"
                formControlName="rate"
              />
              <span
                class="help-block"
                *ngIf="
                  (createOvertimeForm.get('rate').touched ||
                    createOvertimeForm.get('rate').dirty) &&
                  (createOvertimeForm.get('rate').errors ||
                    createOvertimeForm.get('rate').errors)
                "
              >
                <span *ngIf="createOvertimeForm.get('rate').errors?.required">
                  Please enter a overtime rate.
                </span>
              </span>
            </div>
            <!--div class="form-group" [ngClass]="{'has-error': (createOvertimeForm.get('perHour').touched || 
                                        createOvertimeForm.get('perHour').dirty) && 
                                        !createOvertimeForm.get('perHour').valid }">
                                <label>Per Hour</label>
                                <input class="form-control" type="number" formControlName="perHour" />
                                <span class="help-block" *ngIf="(createOvertimeForm.get('perHour').touched || 
                                            createOvertimeForm.get('perHour').dirty) && 
                                            (createOvertimeForm.get('perHour').errors ||
                                            createOvertimeForm.get('perHour').errors)">
                                    <span *ngIf="createOvertimeForm.get('perHour').errors?.required">
                                        Please enter the hourly rate for specific overtime.
                                    </span>
                                </span>
                            </div-->

            <button
              class="btn btn-info"
              type="button"
              (click)="createOvertime()"
              [disabled]="!createOvertimeForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
