<div
  id="editOvertimeModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Overtime</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editOvertimeForm"
            name="editOvertimeForm"
            class="form-group"
            [formGroup]="editOvertimeForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editOvertimeForm.get('designationName').touched ||
                    editOvertimeForm.get('designationName').dirty) &&
                  !editOvertimeForm.get('designationName').valid
              }"
            >
              <label>Designation</label>
              <select
                class="form-control"
                id="designationName"
                formControlName="designationName"
              >
                <option>Select A Designation</option>
                <option *ngFor="let desName of getDesignations()">{{
                  desName
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editOvertimeForm.get('designationName').touched ||
                    editOvertimeForm.get('designationName').dirty) &&
                  (editOvertimeForm.get('designationName').errors ||
                    editOvertimeForm.get('designationName').errors)
                "
              >
                <span
                  *ngIf="
                    editOvertimeForm.get('designationName').errors?.notSelected
                  "
                >
                  Please select a designation.
                </span>
              </span>
            </div>

            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editOvertimeForm.get('rate').touched ||
                    editOvertimeForm.get('rate').dirty) &&
                  !editOvertimeForm.get('rate').valid
              }"
            >
              <label>Hourly Rate</label>
              <input
                class="form-control"
                type="number"
                formControlName="rate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editOvertimeForm.get('rate').touched ||
                    editOvertimeForm.get('rate').dirty) &&
                  (editOvertimeForm.get('rate').errors ||
                    editOvertimeForm.get('rate').errors)
                "
              >
                <span *ngIf="editOvertimeForm.get('rate').errors?.required">
                  Please enter a overtime rate.
                </span>
              </span>
            </div>
            <!--div class="form-group" [ngClass]="{'has-error': (editOvertimeForm.get('perHour').touched || 
                                    editOvertimeForm.get('perHour').dirty) && 
                                    !editOvertimeForm.get('perHour').valid }">
                            <label>Per Hour</label>
                            <input class="form-control" type="number" formControlName="perHour" />
                            <span class="help-block" *ngIf="(editOvertimeForm.get('perHour').touched || 
                                        editOvertimeForm.get('perHour').dirty) && 
                                        (editOvertimeForm.get('perHour').errors ||
                                        editOvertimeForm.get('perHour').errors)">
                                <span *ngIf="editOvertimeForm.get('perHour').errors?.required">
                                    Please enter the hourly rate for specific overtime.
                                </span>
                            </span>
                        </div-->

            <button
              class="btn btn-info"
              type="button"
              (click)="updateOvertime()"
              [disabled]="!editOvertimeForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
