<div class="panel">
    <div class="panel-body" style="padding: 0px;">
        <div class="pull-right" style="padding: 9px;margin-right:9px;">
            <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createOvertimeModal">
                <strong>
                    <i class="fa fa-plus"></i> Add
                </strong>
            </button>
        </div>
    </div>


    <div class="panel-body"  style="padding-top: 0px;">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true">
            <kendo-grid-column field="designationCode" title="Designation Code" width="110">
                    <ng-template kendoGridCellTemplate let-otSetting>
                           {{getOTDesignationCode(otSetting.designationID)}}
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="designationName" title="Designation Name" width="180">
                    <ng-template kendoGridCellTemplate let-otSetting>
                            {{getOTDesignationName(otSetting.designationID)}}
                         </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="rate" title="Hourly Rate" width="63">
            </kendo-grid-column>
            <!--kendo-grid-column field="perHours" title="Per Hour" width="54">
            </kendo-grid-column-->
            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-otSetting>
                    <button type="button" style="margin-right:9px; color: white;width:84.33px;" class="btn btn-primary" data-toggle="modal" data-target="#editOvertimeModal"
                        (click)="selectOTToEdit(otSetting)">
                        <i class="fa fa-edit"></i> Edit
                    </button>
                    <button type="button" [disabled]="loading" style="margin-right:9px; color: white;" class="btn btn-danger" (click)="deleteOT(otSetting)">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>


    </div>
</div>

<create-overtime (overtimeCreated)="onCreated()"></create-overtime>
<edit-overtime [selectedOvertime]="selectedOvertime" (overTimeUpdated)="onUpdated()"></edit-overtime>