<div id="createTripAllowanceModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Create Trip Allowance</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="createTripAllowanceForm" name="createTripAllowanceForm" class="form-group" [formGroup]="createTripAllowanceForm">
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('tripAllowanceDate').touched || 
                            createTripAllowanceForm.get('tripAllowanceDate').dirty) && 
                            !createTripAllowanceForm.get('tripAllowanceDate').valid }">
                            <label>Allowance Date</label>
                            <input class="form-control" type="date" formControlName="tripAllowanceDate" />
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('tripAllowanceDate').touched || 
                                createTripAllowanceForm.get('tripAllowanceDate').dirty) && 
                                (createTripAllowanceForm.get('tripAllowanceDate').errors ||
                                 createTripAllowanceForm.get('tripAllowanceDate').errors)">
                                <span *ngIf="createTripAllowanceForm.get('tripAllowanceDate').errors?.notSelected">
                                    Please select the allowance date.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('tripAllowanceAmt').touched || 
                            createTripAllowanceForm.get('tripAllowanceAmt').dirty) && 
                            !createTripAllowanceForm.get('tripAllowanceAmt').valid }">
                            <label>Allowance Amount</label>
                            <input class="form-control" type="number" formControlName="tripAllowanceAmt" placeholder="Allowance Amount (Required)" />
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('tripAllowanceAmt').touched || 
                                        createTripAllowanceForm.get('tripAllowanceAmt').dirty) && 
                                        (createTripAllowanceForm.get('tripAllowanceAmt').errors ||
                                         createTripAllowanceForm.get('tripAllowanceAmt').errors)">
                                <span *ngIf="createTripAllowanceForm.get('tripAllowanceAmt').errors?.required">
                                    Please enter the allowance amount.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('location').touched || 
                            createTripAllowanceForm.get('location').dirty) && 
                            !createTripAllowanceForm.get('location').valid }">
                            <label>Location</label>
                            <input class="form-control" type="text" formControlName="location" placeholder="Location (Required)" />
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('location').touched || 
                                        createTripAllowanceForm.get('location').dirty) && 
                                        (createTripAllowanceForm.get('location').errors ||
                                         createTripAllowanceForm.get('location').errors)">
                                <span *ngIf="createTripAllowanceForm.get('location').errors?.required">
                                    Please enter the location of the trip.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('fromDate').touched || 
                            createTripAllowanceForm.get('fromDate').dirty) && 
                            !createTripAllowanceForm.get('fromDate').valid }">
                            <label>From Date</label>
                            <input class="form-control" type="date" formControlName="fromDate" />
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('fromDate').touched || 
                                        createTripAllowanceForm.get('fromDate').dirty) && 
                                        (createTripAllowanceForm.get('fromDate').errors ||
                                         createTripAllowanceForm.get('fromDate').errors)">
                                <span *ngIf="createTripAllowanceForm.get('fromDate').errors?.required">
                                    Please enter the from date of the trip.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('toDate').touched || 
                            createTripAllowanceForm.get('toDate').dirty) && 
                            !createTripAllowanceForm.get('toDate').valid }">
                            <label>To Date</label>
                            <input class="form-control" type="date" formControlName="toDate"/>
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('toDate').touched || 
                                        createTripAllowanceForm.get('toDate').dirty) && 
                                        (createTripAllowanceForm.get('toDate').errors ||
                                         createTripAllowanceForm.get('toDate').errors)">
                                <span *ngIf="createTripAllowanceForm.get('toDate').errors?.required">
                                    Please enter the to date for the trip.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('type').touched || 
                        createTripAllowanceForm.get('type').dirty) && 
                        !createTripAllowanceForm.get('type').valid }">
                            <label>Trip Type</label>
                            <select class="form-control" id="type" formControlName="type">
                                <option selected>Select an Trip Type</option>
                                <option>Trip</option>
                                <option>Driving</option>
                                <option>Other</option>
                            </select>
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('type').touched || 
                            createTripAllowanceForm.get('type').dirty) && 
                            (createTripAllowanceForm.get('type').errors ||
                             createTripAllowanceForm.get('type').errors)">
                                <span *ngIf="createTripAllowanceForm.get('type').errors?.notSelected">
                                    Please select the allowance type.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createTripAllowanceForm.get('reason').touched || 
                            createTripAllowanceForm.get('reason').dirty) && 
                            !createTripAllowanceForm.get('reason').valid }">
                            <label>Reason</label>
                            <input class="form-control" type="text" formControlName="reason" placeholder="Reason (Required)" />
                            <span class="help-block" *ngIf="(createTripAllowanceForm.get('reason').touched || 
                                        createTripAllowanceForm.get('reason').dirty) && 
                                        (createTripAllowanceForm.get('reason').errors ||
                                         createTripAllowanceForm.get('reason').errors)">
                                <span *ngIf="createTripAllowanceForm.get('reason').errors?.required">
                                    Please enter reason for the allowance about to be given.
                                </span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea class="form-control animation-1" placeholder="Comment (Optional)" style="resize:vertical;" rows="6" formControlName="comment"></textarea>
                        </div>
                        <button class="btn btn-info" type="button" (click)="createTripAllowance()" [disabled]="!createTripAllowanceForm.valid || loading">
                                <img
                                *ngIf="loading"
                                  src="assets/img/loading.gif"
                                  style="width:20px; height:20px; margin-right:5px;"
                                />
                            <i *ngIf="!loading" class="fa fa-plus"></i> Create</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>