<div
  id="editTripAllowanceModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Trip Allowance</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editTripAllowanceForm"
            name="editTripAllowanceForm"
            class="form-group"
            [formGroup]="editTripAllowanceForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editTripAllowanceForm.get('tripAllowanceDate').touched ||
                    editTripAllowanceForm.get('tripAllowanceDate').dirty) &&
                  !editTripAllowanceForm.get('tripAllowanceDate').valid
              }"
            >
              <label>Allowance Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="tripAllowanceDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editTripAllowanceForm.get('tripAllowanceDate').touched ||
                    editTripAllowanceForm.get('tripAllowanceDate').dirty) &&
                  (editTripAllowanceForm.get('tripAllowanceDate').errors ||
                    editTripAllowanceForm.get('tripAllowanceDate').errors)
                "
              >
                <span
                  *ngIf="
                    editTripAllowanceForm.get('tripAllowanceDate').errors
                      ?.notSelected
                  "
                >
                  Please select the allowance date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editTripAllowanceForm.get('tripAllowanceAmt').touched ||
                    editTripAllowanceForm.get('tripAllowanceAmt').dirty) &&
                  !editTripAllowanceForm.get('tripAllowanceAmt').valid
              }"
            >
              <label>Allowance Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="tripAllowanceAmt"
                placeholder="Allowance Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editTripAllowanceForm.get('tripAllowanceAmt').touched ||
                    editTripAllowanceForm.get('tripAllowanceAmt').dirty) &&
                  (editTripAllowanceForm.get('tripAllowanceAmt').errors ||
                    editTripAllowanceForm.get('tripAllowanceAmt').errors)
                "
              >
                <span
                  *ngIf="
                    editTripAllowanceForm.get('tripAllowanceAmt').errors
                      ?.required
                  "
                >
                  Please enter the allowance amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editTripAllowanceForm.get('fromDate').touched ||
                    editTripAllowanceForm.get('fromDate').dirty) &&
                  !editTripAllowanceForm.get('fromDate').valid
              }"
            >
              <label>From Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="fromDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editTripAllowanceForm.get('fromDate').touched ||
                    editTripAllowanceForm.get('fromDate').dirty) &&
                  (editTripAllowanceForm.get('fromDate').errors ||
                    editTripAllowanceForm.get('fromDate').errors)
                "
              >
                <span
                  *ngIf="editTripAllowanceForm.get('fromDate').errors?.required"
                >
                  Please enter the from date of the trip.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editTripAllowanceForm.get('toDate').touched ||
                    editTripAllowanceForm.get('toDate').dirty) &&
                  !editTripAllowanceForm.get('toDate').valid
              }"
            >
              <label>To Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="toDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editTripAllowanceForm.get('toDate').touched ||
                    editTripAllowanceForm.get('toDate').dirty) &&
                  (editTripAllowanceForm.get('toDate').errors ||
                    editTripAllowanceForm.get('toDate').errors)
                "
              >
                <span
                  *ngIf="editTripAllowanceForm.get('toDate').errors?.required"
                >
                  Please enter the to date for the trip.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editTripAllowanceForm.get('type').touched ||
                    editTripAllowanceForm.get('type').dirty) &&
                  !editTripAllowanceForm.get('type').valid
              }"
            >
              <label>Allowance Type</label>
              <select class="form-control" id="type" formControlName="type">
                <option>Select an Allowance Type</option>
                <option>Trip</option>
                <option>Driving</option>
                <option>Other</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (editTripAllowanceForm.get('type').touched ||
                    editTripAllowanceForm.get('type').dirty) &&
                  (editTripAllowanceForm.get('type').errors ||
                    editTripAllowanceForm.get('type').errors)
                "
              >
                <span
                  *ngIf="editTripAllowanceForm.get('type').errors?.notSelected"
                >
                  Please select the allowance type.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editTripAllowanceForm.get('reason').touched ||
                    editTripAllowanceForm.get('reason').dirty) &&
                  !editTripAllowanceForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editTripAllowanceForm.get('reason').touched ||
                    editTripAllowanceForm.get('reason').dirty) &&
                  (editTripAllowanceForm.get('reason').errors ||
                    editTripAllowanceForm.get('reason').errors)
                "
              >
                <span
                  *ngIf="editTripAllowanceForm.get('reason').errors?.required"
                >
                  Please enter reason for the allowance about to be given.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="updateTripAllowance()"
              [disabled]="!editTripAllowanceForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
