<div class="table-responsive" id="tripAllowanceTable">

    <kendo-grid [data]="gridView" [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [sort]="sort" (sortChange)="sortChange($event)"  (excelExport)="onExcelExport($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
        [pageable]="true">
        <kendo-grid-column field="date" title="Date" width="110">
            <ng-template kendoGridCellTemplate let-tripAllowance>
                {{tripAllowance.date | date : 'mediumDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amount" title="Amount" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="location" title="Location" width="180">
        </kendo-grid-column>
        <kendo-grid-column field="fromDate" title="From Date" width="120">
                <ng-template kendoGridCellTemplate let-tripAllowance>
                        {{tripAllowance.fromDate | date : 'mediumDate'}}
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="toDate" title="To Date" width="120">
                <ng-template kendoGridCellTemplate let-tripAllowance>
                        {{tripAllowance.toDate | date : 'mediumDate'}}
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="totalDays" title="Total Days" width="90">
        </kendo-grid-column>
        <kendo-grid-column field="type" title="Type" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="reason" title="Reason" width="130">
        </kendo-grid-column>
        <kendo-grid-column field="comment" title="Comment" width="130">
        </kendo-grid-column>
        <kendo-grid-column width="120">
            <ng-template kendoGridCellTemplate let-tripAllowance>

                <button type="button" style="margin-right:9px; color: white;width:81.56px;" class="btn btn-primary" data-toggle="modal" data-target="#editTripAllowanceModal"
                    (click)="selectTripAllowanceToEdit(tripAllowance)">
                    <i class="fa fa-edit"></i> Edit </button>

                <button class="btn btn-danger" [disabled]="loading" style="margin-right:9px; color: white;" (click)=deleteTripAllowance(tripAllowance)>
                    <i class="fa fa-trash"></i> Delete</button>

            </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridToolbarTemplate>
            <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
        </ng-template>
        <kendo-grid-excel fileName="AllowanceRecord.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>

<create-trip-allowance [employeeId]="employeeId" (tripAllowanceCreated)="onTripAllowanceCreated()"></create-trip-allowance>
<edit-trip-allowance [selectedTripAllowance]="selectedTripAllowance" (tripAllowanceUpdated)="onTripAllowanceEdited()"></edit-trip-allowance>