<div
  id="editSSBModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Fixed Holiday</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editSSBForm"
            name="editSSBForm"
            class="form-group"
            [formGroup]="editSSBForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editSSBForm.get('taxAmount').touched ||
                    editSSBForm.get('taxAmount').dirty) &&
                  !editSSBForm.get('taxAmount').valid
              }"
            >
              <label>Tax Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="taxAmount"
              />
              <span
                class="help-block"
                *ngIf="
                  (editSSBForm.get('taxAmount').touched ||
                    editSSBForm.get('taxAmount').dirty) &&
                  (editSSBForm.get('taxAmount').errors ||
                    editSSBForm.get('taxAmount').errors)
                "
              >
                <span *ngIf="editSSBForm.get('taxAmount').errors?.required">
                  Please enter the tax amount.
                </span>
              </span>
            </div>

            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editSSBForm.get('ssbAmount').touched ||
                    editSSBForm.get('ssbAmount').dirty) &&
                  !editSSBForm.get('ssbAmount').valid
              }"
            >
              <label>SSB Amount</label>
              <input
                class="form-control"
                type="text"
                formControlName="ssbAmount"
              />
              <span
                class="help-block"
                *ngIf="
                  (editSSBForm.get('ssbAmount').touched ||
                    editSSBForm.get('ssbAmount').dirty) &&
                  (editSSBForm.get('ssbAmount').errors ||
                    editSSBForm.get('ssbAmount').errors)
                "
              >
                <span *ngIf="editSSBForm.get('ssbAmount').errors?.required">
                  Please enter the ssb amount.
                </span>
              </span>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="editEmployee()"
              [disabled]="!editSSBForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Update
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
