<div class="panel">
  <div class="panel-header" style="padding:12px;">
    <h3>Employee Taxes and SSBs</h3>
  </div>
  <div class="panel-body">
    <kendo-grid
      [data]="gridView"
      [sortable]="{
        allowUnsort: true,
        mode: 'single'
      }"
      [sort]="sort"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"
      [loading]="loading"
    >
      <kendo-grid-column field="employeeCode" title="Employee Code" width="90">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Employee Name" width="90">
      </kendo-grid-column>
      <kendo-grid-column field="taxAmount" title="Tax Amount" width="90">
      </kendo-grid-column>
      <kendo-grid-column field="ssbAmount" title="SSB Amount" width="90">
      </kendo-grid-column>

      <kendo-grid-column width="54" title="Action">
        <ng-template kendoGridCellTemplate let-emp>
          <button
            type="button"
            [disabled]="loading"
            style="margin-right:9px; color: white;"
            data-toggle="modal"
            data-target="#editSSBModal"
            class="btn btn-info"
            (click)="setSelectedEmployee(emp)"
          >
            <i class="fa fa-edit"></i> Edit
          </button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<edit-ssb
  [selectedEmployee]="selectedEmployee"
  (employeeSSBEdited)="ssbEdited()"
></edit-ssb>
