<div
  id="createTrainingModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Training</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createTrainingForm"
            name="createTrainingForm"
            class="form-group"
            [formGroup]="createTrainingForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTrainingForm.get('topicName').touched ||
                    createTrainingForm.get('topicName').dirty) &&
                  !createTrainingForm.get('topicName').valid
              }"
            >
              <label>Topic Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="topicName"
                placeholder=" Topic Name (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createTrainingForm.get('topicName').touched ||
                    createTrainingForm.get('topicName').dirty) &&
                  (createTrainingForm.get('topicName').errors ||
                    createTrainingForm.get('topicName').errors)
                "
              >
                <span
                  *ngIf="createTrainingForm.get('topicName').errors?.required"
                >
                  Please enter the topic name for the training.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTrainingForm.get('supplierName').touched ||
                    createTrainingForm.get('supplierName').dirty) &&
                  !createTrainingForm.get('supplierName').valid
              }"
            >
              <label>Supplier Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="supplierName"
                placeholder=" Supplier Name (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createTrainingForm.get('supplierName').touched ||
                    createTrainingForm.get('supplierName').dirty) &&
                  (createTrainingForm.get('supplierName').errors ||
                    createTrainingForm.get('supplierName').errors)
                "
              >
                <span
                  *ngIf="
                    createTrainingForm.get('supplierName').errors?.required
                  "
                >
                  Please enter the topic name for the training.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTrainingForm.get('date').touched ||
                    createTrainingForm.get('date').dirty) &&
                  !createTrainingForm.get('date').valid
              }"
            >
              <label>Training Date</label>
              <input class="form-control" type="date" formControlName="date" />
              <span
                class="help-block"
                *ngIf="
                  (createTrainingForm.get('date').touched ||
                    createTrainingForm.get('date').dirty) &&
                  (createTrainingForm.get('date').errors ||
                    createTrainingForm.get('date').errors)
                "
              >
                <span *ngIf="createTrainingForm.get('date').errors?.required">
                  Please select the training date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTrainingForm.get('employee').touched ||
                    createTrainingForm.get('employee').dirty) &&
                  !createTrainingForm.get('employee').valid
              }"
            >
              <label>Employee Name</label>
              <select
                class="form-control"
                id="employee"
                formControlName="employee"
              >
                <option>Select an Employee</option>
                <option *ngFor="let employee of employeeNames">{{
                  employee
                }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (createTrainingForm.get('employee').touched ||
                    createTrainingForm.get('employee').dirty) &&
                  (createTrainingForm.get('employee').errors ||
                    createTrainingForm.get('employee').errors)
                "
              >
                <span
                  *ngIf="createTrainingForm.get('employee').errors?.notSelected"
                >
                  Please select an employee.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTrainingForm.get('country').touched ||
                    createTrainingForm.get('country').dirty) &&
                  !createTrainingForm.get('country').valid
              }"
            >
              <label>Country</label>
              <input
                class="form-control"
                type="text"
                formControlName="country"
                placeholder="Country (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createTrainingForm.get('country').touched ||
                    createTrainingForm.get('country').dirty) &&
                  (createTrainingForm.get('country').errors ||
                    createTrainingForm.get('country').errors)
                "
              >
                <span
                  *ngIf="createTrainingForm.get('country').errors?.required"
                >
                  Please enter the country name where the training will be
                  occured.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createTrainingForm.get('trainingType').touched ||
                    createTrainingForm.get('trainingType').dirty) &&
                  !createTrainingForm.get('trainingType').valid
              }"
            >
              <label>Training Type</label>
              <select
                class="form-control"
                id="trainingType"
                formControlName="trainingType"
              >
                <option>Select a Training Type</option>
                <option>Learning</option>
                <option>Teaching</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (createTrainingForm.get('trainingType').touched ||
                    createTrainingForm.get('trainingType').dirty) &&
                  (createTrainingForm.get('trainingType').errors ||
                    createTrainingForm.get('trainingType').errors)
                "
              >
                <span
                  *ngIf="
                    createTrainingForm.get('trainingType').errors?.notSelected
                  "
                >
                  Please select an Training Type.
                </span>
              </span>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="createTraining()"
              [disabled]="loading || !createTrainingForm.valid"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
