<div id="editTrainingModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Edit Training</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="editTrainingForm" name="editTrainingForm" class="form-group" [formGroup]="editTrainingForm">
                            <div class="form-group" [ngClass]="{'has-error': (editTrainingForm.get('topicName').touched || 
                            editTrainingForm.get('topicName').dirty) && 
                            !editTrainingForm.get('topicName').valid }">
                            <label>Topic Name</label>
                            <input class="form-control" type="text" formControlName="topicName" placeholder=" Topic Name (Required)" />
                            <span class="help-block" *ngIf="(editTrainingForm.get('topicName').touched || 
                                        editTrainingForm.get('topicName').dirty) && 
                                        (editTrainingForm.get('topicName').errors ||
                                         editTrainingForm.get('topicName').errors)">
                                <span *ngIf="editTrainingForm.get('topicName').errors?.required">
                                    Please enter the topic name for the training.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editTrainingForm.get('supplierName').touched || 
                        editTrainingForm.get('supplierName').dirty) && 
                        !editTrainingForm.get('supplierName').valid }">
                        <label>Supplier Name</label>
                        <input class="form-control" type="text" formControlName="supplierName" placeholder=" Supplier Name (Required)" />
                        <span class="help-block" *ngIf="(editTrainingForm.get('supplierName').touched || 
                                    editTrainingForm.get('supplierName').dirty) && 
                                    (editTrainingForm.get('supplierName').errors ||
                                     editTrainingForm.get('supplierName').errors)">
                            <span *ngIf="editTrainingForm.get('supplierName').errors?.required">
                                Please enter the topic name for the training.
                            </span>
                        </span>
                    </div>
                        <div class="form-group" [ngClass]="{'has-error': (editTrainingForm.get('date').touched || 
                            editTrainingForm.get('date').dirty) && 
                            !editTrainingForm.get('date').valid }">
                            <label>Training Date</label>
                            <input class="form-control" type="date" formControlName="date" />
                            <span class="help-block" *ngIf="(editTrainingForm.get('date').touched || 
                                editTrainingForm.get('date').dirty) && 
                                (editTrainingForm.get('date').errors ||
                                 editTrainingForm.get('date').errors)">
                                <span *ngIf="editTrainingForm.get('date').errors?.required">
                                    Please select the training date.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editTrainingForm.get('employee').touched || 
                            editTrainingForm.get('employee').dirty) && 
                            !editTrainingForm.get('employee').valid }">
                            <label>Employee Name</label>
                            <select class="form-control" id="employee" formControlName="employee">
                                <option>Select an Employee</option>
                                <option *ngFor="let employee of employeeNames">{{employee}}</option>
                            </select>
                            <span class="help-block" *ngIf="(editTrainingForm.get('employee').touched || 
                                        editTrainingForm.get('employee').dirty) && 
                                        (editTrainingForm.get('employee').errors ||
                                         editTrainingForm.get('employee').errors)">
                                <span *ngIf="editTrainingForm.get('employee').errors?.notSelected">
                                    Please select an employee.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (editTrainingForm.get('country').touched || 
                        editTrainingForm.get('country').dirty) && 
                        !editTrainingForm.get('country').valid }">
                        <label>Country</label>
                        <input class="form-control" type="text" formControlName="country" placeholder="Country (Required)" />
                        <span class="help-block" *ngIf="(editTrainingForm.get('country').touched || 
                                    editTrainingForm.get('country').dirty) && 
                                    (editTrainingForm.get('country').errors ||
                                     editTrainingForm.get('country').errors)">
                            <span *ngIf="editTrainingForm.get('country').errors?.required">
                                Please enter the country name where the training will be occured.
                            </span>
                        </span>
                    </div>
                        <div class="form-group" [ngClass]="{'has-error': (editTrainingForm.get('trainingType').touched || 
                            editTrainingForm.get('trainingType').dirty) && 
                            !editTrainingForm.get('trainingType').valid }">
                            <label>Training Type</label>
                            <select class="form-control" id="trainingType" formControlName="trainingType">
                                <option>Select a Training Type</option>
                                <option>Learning</option>
                                <option>Teaching</option>
                            </select>
                            <span class="help-block" *ngIf="(editTrainingForm.get('trainingType').touched || 
                                        editTrainingForm.get('trainingType').dirty) && 
                                        (editTrainingForm.get('trainingType').errors ||
                                         editTrainingForm.get('trainingType').errors)">
                                <span *ngIf="editTrainingForm.get('trainingType').errors?.notSelected">
                                    Please select an Training Type.
                                </span>
                            </span>
                        </div>
                        
                        <button class="btn btn-info" type="button" (click)="updateTraining()" [disabled]="loading || !editTrainingForm.valid">
                                <img
                                *ngIf="loading"
                                  src="assets/img/loading.gif"
                                  style="width:20px; height:20px; margin-right:5px;"
                                />
                            <i *ngIf="!loading" class="fa fa-edit"></i> Edit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>