<div class="table-responsive b0">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="searchTrainingForm" name="searchTrainingForm" class="form-group" [formGroup]="searchTrainingForm">
                <div class="pull-right">
                    <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
                        <strong>
                            <i class="fa fa-times"></i> Reset
                        </strong>
                    </button>
                </div>
                <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
                    <div class="input-group">
                        <input class="form-control" style=" width:100%;" type="text" placeholder="Enter Topic Name" formControlName="topicName" (keydown.enter)="evokeSearch()"/>
                        <div class="input-group-btn" style=" width:20%;" dropdown="">
                            <select class="form-control" id="trainingType" formControlName="trainingType">
                                <option>Training Type</option>
                                <option>Learning</option>
                                <option>Teaching</option>
                            </select>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" [disabled]="loading" (click)="evokeSearch()">
                                <img
                                *ngIf="loading"
                                src="assets/img/loading.gif"
                                style="width:20px; height:20px; margin-right:5px;"
                              />
                              <i class="fa fa-search"  *ngIf="!loading"></i> 
                              Search
                            </button>
                        </span>
                    </div>


                    <div class="row" style="margin-top:18px;margin-right:9px;">
                       
                        <div class="pull-right" *ngIf="!advanceOptions">
                            <a (click)="showAdvanceOptions()">
                                <strong>
                                    <i class="fa fa-plus"></i> Advanced Options</strong>
                            </a>
                        </div>
                        <div class="pull-right" *ngIf="advanceOptions">
                            <a (click)="showAdvanceOptions()">
                                <strong>
                                    <i class="fa fa-minus"></i> Advanced Options</strong>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:36px;" *ngIf="advanceOptions">
                        <div class="col-md-4">
                                <label>Country</label>
                            <input class="form-control" type="text" placeholder="Enter Country Name" formControlName="country" (keydown.enter)="evokeSearch()"/>
                        </div>
                        <div class="col-md-4">
                                <label>Supplier</label>
                            <input class="form-control" type="text" placeholder="Enter Supplier Name" formControlName="supplierName" (keydown.enter)="evokeSearch()" />
                        </div>
                        <div class="col-md-4">
                                <label>Employee</label>
                            <select class="form-control" id="employee" formControlName="employee">
                                <option>Select an Employee</option>
                                <option *ngFor="let employee of employeeNames">{{employee}}</option>
                            </select>
                        </div>
                        <br/>
                        <br/>
                        
                        <div class="col-md-4">
                                <label>From</label>
                            <input class="form-control" type="date" formControlName="date" />
                        </div>
                        <div class="col-md-4">
                                <label>To</label>
                            <input class="form-control" type="date" formControlName="toDate" />
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">
            <button class="btn btn-sm btn-default" type="button" (click)="refresh()">
                <strong>Show All</strong>
            </button>
        </div>
        <div class="pull-right" style="padding: 9px;margin-top:21px;margin-right:9px;">

            <button *ngIf="!isUserGuest" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#createTrainingModal">
                <strong>
                    <i class="fa fa-plus"></i> Add
                </strong>
            </button>
        </div>

        <div class="panel-heading">
            <h3>Trainings</h3>
        </div>
        <div class="panel-body">
            <kendo-grid [data]="gridView" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize"
                [skip]="skip" [pageable]="true" (excelExport)="onExcelExport($event)" [loading]="loading">
                <kendo-grid-column field="topicName" title="Topic Name" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="employeeId" title="Employee Name" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-training>
                        {{getEmployeeName(training.employeeId)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="date" title="Training Date" width="110" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                <ng-template kendoGridCellTemplate let-training>
                    {{training.date | date:'mediumDate'}}
                </ng-template>
            </kendo-grid-column>
                <kendo-grid-column field="supplierName" title="Supplier" width="90" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="country" title="Country" width="100" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column field="trainingType" title="Training Type" width="100" [headerStyle]="{'background-color': '#fff','color': '#444'}"
                    [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                </kendo-grid-column>
                <kendo-grid-column width="120" title="Action" [headerStyle]="{'background-color': '#fff','color': '#444'}" [style]="{'background-color': '#fff', 'border-top': '1px solid #eee'}">
                    <ng-template kendoGridCellTemplate let-training>
                        <a type="button" style="margin-right:9px; color: white;width:81.56px;"  *ngIf="!isUserGuest" class="btn btn-primary" data-toggle="modal" data-target="#editTrainingModal" (click)="selectTrainingToEdit(training)">
                            <i class="fa fa-edit"></i> Edit </a>
                        <a class="btn btn-danger" style="margin-right:9px; color: white;"  *ngIf="isUserAdmin && !isUserGuest" (click)=deleteTraining(training)>
                        <i class="fa fa-trash"></i> Delete</a>
                    </ng-template>
                </kendo-grid-column>
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="Trainings.xlsx" [fetchData]="allData"></kendo-grid-excel>
            </kendo-grid>
        </div>
    </div>
<create-training  (trainingCreated)="onTrainingCreated()"></create-training>
<edit-training [selectedTraining]="selectedTraining" (trainingUpdated)="onTrainingEdited()"></edit-training>