<div class="table-responsive b0">
  <div class="panel panel-default">
    <div class="panel-body">
      <div
        id="payPeriodForm"
        name="payPeriodForm"
        class="form-group"
        [formGroup]="payPeriodForm"
      >
        <div class="pull-right">
          <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
            <strong> <i class="fa fa-times"></i> Reset </strong>
          </button>
        </div>

        <div class="col-sm-12" style="margin-top:54px;margin-bottom:9px;">
          <div
            class="input-group input-group-lg"
            style="width: 100%;"
            [ngClass]="{
              'has-error':
                (payPeriodForm.get('payMonth').touched ||
                  payPeriodForm.get('payMonth').dirty) &&
                payPeriodForm.get('payMonth').errors
            }"
          >
            <div class="col-lg-2">
              <div class="pull-right">
                Pay Month/Period :
              </div>
            </div>
            <div class="col-lg-8">
              <input
                class="form-control"
                style="border-radius: 3px;"
                type="month"
                formControlName="payMonth"
                (keydown.enter)="generatePayPeriod()"
              />

              <span
                class="help-block"
                *ngIf="
                  (payPeriodForm.get('payMonth').touched ||
                    payPeriodForm.get('payMonth').dirty) &&
                  payPeriodForm.get('payMonth').errors
                "
              >
                <span
                  style="color:red;"
                  *ngIf="payPeriodForm.get('payMonth').errors?.required"
                >
                  Please enter the desired pay month/ period!
                </span>
              </span>
            </div>

            <div class="col-lg-2">
              <span class="input-group-btn">
                <button
                  class="btn btn-info"
                  style="border-radius: 3px;"
                  type="button"
                  (click)="generatePayPeriod()"
                  [disabled]="!payPeriodForm.valid || loading"
                >
                  <img
                    *ngIf="loading"
                    src="assets/img/loading.gif"
                    style="width:20px; height:20px; margin-right:5px;"
                  />
                  <i class="fa fa-check"  *ngIf="!loading"></i>&nbsp;&nbsp;&nbsp;Submit
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--div class="row" style="margin-top:18px;margin-right:9px;">

            <div class="pull-right" *ngIf="!advanceOptions">
                <a (click)="showAdvanceOptions()">
                    <strong>
                        <i class="fa fa-plus"></i> Advanced Options</strong>
                </a>
            </div>
            <div class="pull-right" *ngIf="advanceOptions">
                <a (click)="showAdvanceOptions()">
                    <strong>
                        <i class="fa fa-minus"></i> Advanced Options</strong>
                </a>
            </div>
        </div-->
      <!--div class="row" style="margin-top:9px;" *ngIf="advanceOptions">
            <div id="advancedPayperiodForm" name="advancedPayperiodForm" class="form-group" [formGroup]="advancedPayperiodForm">



                <div class="col-sm-12" style="margin-bottom:9px;">
                    <div formGroupName="dateGroup" [ngClass]="{'has-error': (advancedPayperiodForm.get('dateGroup').touched || 
                    advancedPayperiodForm.get('dateGroup').dirty) && advancedPayperiodForm.get('dateGroup').errors }">

                        <div class="input-group input-group-lg" style="width: 100%;">

                            <div class="col-lg-2">
                                <div class="pull-right">
                                    Pay Month/Period :
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" style="border-radius: 3px;margin-left: 3%;" type="date" formControlName="startDate"
                                />

                                <span class="help-block" *ngIf="(advancedPayperiodForm.get('dateGroup.startDate').touched || 
                                    advancedPayperiodForm.get('dateGroup.startDate').dirty) && 
                                    advancedPayperiodForm.get('dateGroup.startDate').errors">
                                    <span style="color:red;" *ngIf="advancedPayperiodForm.get('dateGroup.startDate').errors?.required">
                                        Please select the desired start date!
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-4" style="width: 32.5%;">
                                <input class="form-control" style="border-radius: 3px;" type="date" formControlName="endDate" />

                                <span class="help-block" *ngIf="(advancedPayperiodForm.get('dateGroup.endDate').touched || 
                                   advancedPayperiodForm.get('dateGroup.endDate').dirty) && 
                                   advancedPayperiodForm.get('dateGroup.endDate').errors">
                                    <span style="color:red;" *ngIf="advancedPayperiodForm.get('dateGroup.endDate').errors?.required">
                                        Please select the desired end date!
                                    </span>
                                </span>
                                <span class="help-block" *ngIf="(advancedPayperiodForm.get('dateGroup').touched || 
                                   advancedPayperiodForm.get('dateGroup').dirty) && 
                                   (advancedPayperiodForm.get('dateGroup').errors?.notMatch || advancedPayperiodForm.get('dateGroup').errors?.theSame)">
                                    <span *ngIf="advancedPayperiodForm.get('dateGroup').errors?.notMatch">
                                        The end date should not be earlier than the start date.
                                    </span>
                                    <span *ngIf="advancedPayperiodForm.get('dateGroup').errors?.theSame">
                                        The dates shouldn't be the same.
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-2">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" style="border-radius: 3px;" type="button" (click)="generatePayPeriodAdvanced()" [disabled]="!advancedPayperiodForm.valid || loading">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div-->
    </div>
  </div>
  <div class="panel panel-default" style="border-color:white">
    <div
      class="panel-body"
      *ngIf="payBreakDownList && payBreakDownList.length > 0"
    >
      <div
        class="row"
        style="margin-left: 0px; margin-right: 0px;    padding-bottom: 9px; "
      >
        <div class="pull-right">
          <button
            *ngIf="isUserAdmin"
            class="btn btn-sm btn-default"
            type="button"
            data-toggle="modal"
            data-target="#payslipPDFModal"
          >
            <strong>Export All Payslips In PDF Format</strong>
          </button>
        </div>
      </div>

      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: allowUnsort,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        *ngIf="payBreakDownList && payBreakDownList.length > 0 && !loading"
      >
        <kendo-grid-column
          field="EmployeeCode"
          title="Employee Code"
          width="81"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="EmployeeName"
          title="Employee Name"
          width="120"
        >
        </kendo-grid-column>

        <kendo-grid-column title="Start Date" width="72">
          <ng-template kendoGridCellTemplate let-bd>
            {{ bd.PeriodStart | date: "mediumDate" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="End Date" width="72">
          <ng-template kendoGridCellTemplate let-bd>
            {{ bd.PeriodEnd | date: "mediumDate" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="BasicSalaryString"
          title="Basic Salary"
          width="80"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="CurrentSalaryString"
          title="Current Salary"
          width="80"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="GrossPayString"
          title="Gross Pay"
          width="80"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="NetPayString"
          title="Net Pay"
          width="80"
          *ngIf="isUserAdmin"
        >
        </kendo-grid-column>
        <kendo-grid-column title="Status" width="72">
          <ng-template kendoGridCellTemplate let-pr>
            <span
              class="label"
              [ngClass]="{
                'label-success': pr.PayProcessed,
                'label-danger': !pr.PayProcessed
              }"
              >{{ getStatusName(pr.PayProcessed) }}</span
            >
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Pay Run" width="90" *ngIf="isUserAdmin">
          <ng-template kendoGridCellTemplate let-pr>
            <div class="text-center">
              <button
                *ngIf="!pr.PayProcessed && isUserAdmin"
                [disabled]="loading"
                class="btn btn-sm btn-success"
                type="button"
                (click)="processPay(pr)"
              >
              <i class="fa fa-check"></i><strong>&nbsp;&nbsp;&nbsp;Run&nbsp;&nbsp;&nbsp;</strong>
              </button>
              <button
                *ngIf="pr.PayProcessed && isUserAdmin"
                [disabled]="loading"
                class="btn btn-sm btn-info"
                type="button"
                (click)="reprocessPay(pr)"
              >
                <i class="fa fa-refresh"></i><strong>&nbsp;&nbsp;&nbsp;Re-Run&nbsp;&nbsp;&nbsp;</strong>
              </button>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Payslip" width="90" *ngIf="isUserAdmin">
          <ng-template kendoGridCellTemplate let-pr>
            <button
              *ngIf="isUserAdmin && pr.PayProcessed"
              class="btn btn-sm btn-default"
              type="button"
              (click)="generatePaySlip(pr)"
              data-toggle="modal"
              data-target="#payslipModal"
            >
            <i class="fa fa-receipt"></i><strong>Payslip</strong>
            </button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>

      <div class="row" class="pull-right" style="padding-top:18px;">
        <div class="col-md-12">
          <span *ngIf="isUserAdmin"
            ><b>Total Gross Pay:</b> {{ totalGP }} Ks</span
          ><br />
          <span *ngIf="isUserAdmin"
            ><b>Total Net Pay:</b> {{ totalNP }} Ks</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12"
        *ngIf="payBreakDownList && payBreakDownList.length <= 0"
      >
        <div class="box-placeholder" style="margin:15px;height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            Select Desired Pay Period
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div>
    <payslip
      [paySlipData_2]="paySlipData_2"
      [paySlipData_1]="paySlipData_1"
    ></payslip>
    <payroll-pdf-export
      [payruns]="dataForExport"
      [paySlipData_1]="paySlipData_1"
    ></payroll-pdf-export>
  </div>
</div>
