<div class="table-responsive" id="advanceTable">
  <kendo-grid
    [data]="gridView"
    [sortable]="{
      allowUnsort: true,
      mode: 'single'
    }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    (excelExport)="onExcelExport($event)"
    (pageChange)="pageChange($event)"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
  >
    <kendo-grid-column field="date" title="Date" width="110">
      <ng-template kendoGridCellTemplate let-advance>
        {{ advance.date | date: "mediumDate" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="amount" title="Amount" width="180">
    </kendo-grid-column>
    <kendo-grid-column field="reason" title="Reason" width="130">
    </kendo-grid-column>
    <kendo-grid-column field="comment" title="Comment" width="130">
    </kendo-grid-column>
    <kendo-grid-column width="120">
      <ng-template kendoGridCellTemplate let-advance>
        <button
          style="margin-right:9px; color: white;width:81.56px;"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#editAdvanceModal"
          (click)="selectAdvanceToEdit(advance)"
        >
          <i class="fa fa-edit"></i> Edit
        </button>
        <button
          class="btn btn-danger"
          [disabled]="loading"
          style="margin-right:9px; color: white;"
          (click)="deleteAdvance(advance)"
        >
          <i class="fa fa-trash"></i> Delete
        </button>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridToolbarTemplate>
      <button type="button" kendoGridExcelCommand icon="file-excel">
        Export
      </button>
    </ng-template>
    <kendo-grid-excel fileName="AdvanceRecord.xlsx"></kendo-grid-excel>
  </kendo-grid>
</div>

<create-advance
  [employeeId]="employeeId"
  (advanceCreated)="onAdvanceCreated()"
></create-advance>
<edit-advance
  [selectedAdvance]="selectedAdvance"
  (advanceUpdated)="onAdvanceEdited()"
></edit-advance>
