<div
  id="editAdvanceModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit Advance</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="editAdvanceForm"
            name="editAdvanceForm"
            class="form-group"
            [formGroup]="editAdvanceForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editAdvanceForm.get('advanceDate').touched ||
                    editAdvanceForm.get('advanceDate').dirty) &&
                  !editAdvanceForm.get('advanceDate').valid
              }"
            >
              <label>Advance Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="advanceDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (editAdvanceForm.get('advanceDate').touched ||
                    editAdvanceForm.get('advanceDate').dirty) &&
                  (editAdvanceForm.get('advanceDate').errors ||
                    editAdvanceForm.get('advanceDate').errors)
                "
              >
                <span
                  *ngIf="editAdvanceForm.get('advanceDate').errors?.notSelected"
                >
                  Please select the advance date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editAdvanceForm.get('advanceAmt').touched ||
                    editAdvanceForm.get('advanceAmt').dirty) &&
                  !editAdvanceForm.get('advanceAmt').valid
              }"
            >
              <label>Advance Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="advanceAmt"
                placeholder="Advance Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editAdvanceForm.get('advanceAmt').touched ||
                    editAdvanceForm.get('advanceAmt').dirty) &&
                  (editAdvanceForm.get('advanceAmt').errors ||
                    editAdvanceForm.get('advanceAmt').errors)
                "
              >
                <span
                  *ngIf="editAdvanceForm.get('advanceAmt').errors?.required"
                >
                  Please enter the advance amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (editAdvanceForm.get('reason').touched ||
                    editAdvanceForm.get('reason').dirty) &&
                  !editAdvanceForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (editAdvanceForm.get('reason').touched ||
                    editAdvanceForm.get('reason').dirty) &&
                  (editAdvanceForm.get('reason').errors ||
                    editAdvanceForm.get('reason').errors)
                "
              >
                <span *ngIf="editAdvanceForm.get('reason').errors?.required">
                  Please enter reason for the advance about to be given.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="updateAdvance()"
              [disabled]="!editAdvanceForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
