<div class="table-responsive" id="commissionTable">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)"  (excelExport)="onExcelExport($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true">
            <kendo-grid-column field="commissionDate" title="Date" width="110">
                    <ng-template kendoGridCellTemplate let-commission>
                            {{commission.commissionDate | date : 'mediumDate'}}
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="commissionAmount" title="Amount" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="reason" title="Reason" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="comment" title="Comment" width="180">
            </kendo-grid-column>
            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-commission>
                <button type="button" style="margin-right:9px; color: white;width:81.56px;" class="btn btn-primary" data-toggle="modal" data-target="#editCommissionModal" (click)="selectCommissionToEdit(commission)"><i class="fa fa-edit"></i> Edit </button>   
                <button class="btn btn-danger" style="margin-right:9px; color: white;" [disabled]="loading"  (click)=deleteCommission(commission)> <i class="fa fa-trash"></i> Delete</button>
                </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="CommissionRecord.xlsx"></kendo-grid-excel>
        </kendo-grid>
</div>

<create-commission [employeeId]="employeeId" (commissionCreated)="onCommissionCreated()"></create-commission>
<edit-commission [selectedCommission]="selectedCommission" (commissionUpdated)="onCommissionEdited()"></edit-commission>