<div
  id="createCommissionModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Create Commission</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="createCommissionForm"
            name="createCommissionForm"
            class="form-group"
            [formGroup]="createCommissionForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createCommissionForm.get('commissionDate').touched ||
                    createCommissionForm.get('commissionDate').dirty) &&
                  !createCommissionForm.get('commissionDate').valid
              }"
            >
              <label>Commission Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="commissionDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (createCommissionForm.get('commissionDate').touched ||
                    createCommissionForm.get('commissionDate').dirty) &&
                  (createCommissionForm.get('commissionDate').errors ||
                    createCommissionForm.get('commissionDate').errors)
                "
              >
                <span
                  *ngIf="
                    createCommissionForm.get('commissionDate').errors
                      ?.notSelected
                  "
                >
                  Please select the commission date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createCommissionForm.get('commissionAmt').touched ||
                    createCommissionForm.get('commissionAmt').dirty) &&
                  !createCommissionForm.get('commissionAmt').valid
              }"
            >
              <label>Commission Amount</label>
              <input
                class="form-control"
                type="number"
                formControlName="commissionAmt"
                placeholder="Commission Amount (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createCommissionForm.get('commissionAmt').touched ||
                    createCommissionForm.get('commissionAmt').dirty) &&
                  (createCommissionForm.get('commissionAmt').errors ||
                    createCommissionForm.get('commissionAmt').errors)
                "
              >
                <span
                  *ngIf="
                    createCommissionForm.get('commissionAmt').errors?.required
                  "
                >
                  Please enter the commission amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (createCommissionForm.get('reason').touched ||
                    createCommissionForm.get('reason').dirty) &&
                  !createCommissionForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (createCommissionForm.get('reason').touched ||
                    createCommissionForm.get('reason').dirty) &&
                  (createCommissionForm.get('reason').errors ||
                    createCommissionForm.get('reason').errors)
                "
              >
                <span
                  *ngIf="createCommissionForm.get('reason').errors?.required"
                >
                  Please enter reason for the commission about to be given.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="createCommission()"
              [disabled]="loading || !createCommissionForm.valid"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-plus"></i> Create
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
