<div
  id="editUserModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <form
            [formGroup]="userEditForm"
            class="form-validate mb-lg"
            role="form"
            name="userEditForm"
            novalidate=""
          >
            <div class="form-group has-feedback">
              <label class="text-muted">User Code</label>
              <!--input class="form-control" type="text" name="account_userCode" placeholder="Enter User Code" autocomplete="off" formControlName="userCode" required="" /-->
              <div class="row">
                <div class="col-md-4">
                  <input
                    class="form-control"
                    type="text"
                    value="APT-USR-"
                    disabled
                  />
                </div>
                <div class="col-md-8">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="userCode"
                    placeholder="User Code (Required)"
                    disabled
                  />
                </div>
              </div>

              <!--span class="fa fa-user form-control-feedback text-muted"></span-->
              <span
                class="text-danger"
                *ngIf="
                  userEditForm.controls['userCode'].hasError('required') &&
                  (userEditForm.controls['userCode'].dirty ||
                    userEditForm.controls['userCode'].touched)
                "
                >This field is required</span
              >
              <span *ngIf="userEditForm.get('userCode').errors?.pattern">
                Invalid user code. It should only contain numbers and has the
                length of 3.
              </span>
            </div>
            <div class="form-group has-feedback">
              <label class="text-muted">User Name</label>
              <input
                class="form-control"
                type="text"
                name="account_userName"
                placeholder="Enter User Name"
                autocomplete="off"
                formControlName="userName"
                required=""
              />
              <span class="fa fa-user form-control-feedback text-muted"></span>
              <span
                class="text-danger"
                *ngIf="
                  userEditForm.controls['userName'].hasError('required') &&
                  (userEditForm.controls['userName'].dirty ||
                    userEditForm.controls['userName'].touched)
                "
                >This field is required</span
              >
            </div>
            <div class="form-group has-feedback">
              <label class="text-muted">User Role</label>
              <select
                class="form-control"
                id="userRole"
                formControlName="userRole"
              >
                <option>Select A User Role</option>
                <option>Admin</option>
                <option>Normal</option>
              </select>
              <span class="fa fa-user form-control-feedback text-muted"></span>
              <span
                class="text-danger"
                *ngIf="
                  userEditForm.controls['userRole'].hasError('notSelected') &&
                  (userEditForm.controls['userRole'].dirty ||
                    userEditForm.controls['userRole'].touched)
                "
                >Please select a user role!</span
              >
            </div>

            <div class="form-group has-feedback">
              <label class="text-muted">Password</label>
              <input
                class="form-control"
                id="id-password"
                type="password"
                name="password"
                formControlName="password"
                [formControl]="userEditForm.get('password')"
              />
              <span class="fa fa-lock form-control-feedback text-muted"></span>
              <span
                class="text-danger"
                *ngIf="
                  userEditForm.get('password').hasError('required') &&
                  (userEditForm.get('password').dirty ||
                    userEditForm.get('password').touched)
                "
                >This field is required</span
              >
              <span
                class="text-danger"
                *ngIf="
                  userEditForm.get('password').hasError('pattern') &&
                  (userEditForm.get('password').dirty ||
                    userEditForm.get('password').touched)
                "
                >Input should match 'a-zA-Z0-9' and 6-10 length</span
              >
            </div>

            <div class="clearfix">
              <div class="checkbox c-checkbox pull-left mt0"></div>
            </div>

            <button
              class="btn btn-block btn-primary mt-lg"
              [disabled]="!userEditForm.valid || loading"
              (click)="submitForm(userEditForm.value)"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Edit
            </button>
            <!--button class="btn btn-block btn-danger mt-lg" (click)="reset()">Reset</button-->
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
