<div
  id="payslipPDFModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Generate/Export Payslip</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="row" style="padding-bottom:18px;">
            
            <div class="pull-right">
              <button
                class="btn btn-info"
                [disabled]="loading"
                kendo-button
                (click)="savePDF()"
              >
                <img
                  *ngIf="loading"
                  src="assets/img/loading.gif"
                  style="width:20px; height:20px; margin-right:5px;"
                />
                <i
                  class="fa fa-floppy-o"
                  *ngIf="!loading"
                  aria-hidden="true"
                ></i>
                Save As PDF
              </button>
            </div>
          </div>

          <div class="row">
            <kendo-pdf-export #pdf margin="0cm" paperSize="A5">
              <div
                class="well"
                style="padding-bottom: 0px;border: 0px solid #dde6e9;"
                id="print-content"
                *ngFor="let payslip of payruns"
              >
                <div class="row">
                  <table class="table" style="margin-bottom:0px;">
                    <tbody>
                      <tr>
                        <td
                          class="col-md-7 text-left"
                          style="margin-bottom:0px;border:0px;position:absolute;"
                        >
                          <strong>Code:</strong>
                          {{ getEmployeeCode(payslip.EmployeeID) }}
                          <br />
                          <strong>Name:</strong>
                          {{ getEmployeeName(payslip.EmployeeID) }}
                          <br />

                          <strong>From&nbsp;&nbsp;</strong>
                          <u>{{
                            getFromDate(payslip.PayPeriod) | date: "mediumDate"
                          }}</u>
                          <strong>&nbsp;&nbsp;To&nbsp;</strong
                          ><u>
                            {{
                              getToDate(payslip.PayPeriod) | date: "mediumDate"
                            }}</u
                          >
                        </td>

                        <td
                          class="col-md-5 text-right"
                          style="margin-bottom:0px;border:0px;vertical-align:top;"
                        >
                          <!--h1 style ="margin:0px;">Payslip</h1-->
                          <div>
                            <img
                              class="img-responsive"
                              style="height: 90px;display:initial;"
                              src="https://i.imgur.com/yMn3vZs.png"
                              alt="APT Logo"
                            />
                          </div>
                          <p style="margin-top:10.5px;">
                            <strong>Date:</strong>
                            {{ today | date: "mediumDate" }}
                          </p>
                          <p>
                            <strong>Slip No #:</strong> {{ payslip.PayslipID }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <table class="table table-hover" style="margin-bottom:0px;">
                    <thead>
                      <tr>
                        <th class="text-left" style="color:black;">Earnings</th>
                        <th></th>
                        <th class="text-left" style="color:black;">
                          Deductions
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          <!-- Color black added  -->
                          Salary
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          <!-- Color black added  -->
                          {{ payslip.CurrentSalary }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Leave
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.LeaveDeductionAmount }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Bonus
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.BonusAmount }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Late
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.LatePenaltyAmount }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Overtime
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.OverTimeAmount }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Advance Salary
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.AdvancedSalaryAmount }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Commission
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.CommissionAmount }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Compensation
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.CompensationAmount }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Travelling
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.TripAllowanceAmount }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Tax
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.TaxAmount }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Medical Allowance
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.MDAllowanceAmount }} Ks
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          SSB
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.SSBAmount }} Ks
                        </td>
                      </tr>

                      <tr>
                        <td class="col-md-3 text-left"></td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                        ></td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Loan
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.LoanAmount }} Ks
                        </td>
                      </tr>
                      <tr>
                        <td class="col-md-3 text-left"></td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                        ></td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          Absent Amount
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          {{ payslip.AbsentAmount }} Ks
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Total Earnings</strong>
                        </td>
                        <td
                          class="col-md-3 text-right column-right"
                          id="earningsDetail"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>{{ payslip.GrossSalary }} Ks</strong>
                        </td>
                        <td
                          class="col-md-3 text-left"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Total Deductions</strong>
                        </td>
                        <td
                          class="col-md-3 text-right"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>{{ payslip.TotalDeductionAmount }} Ks</strong>
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                        <td></td>
                        <td
                          class="text-right"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Gross Salary: </strong>
                        </td>
                        <td
                          class="text-right text-danger"
                          style="font-size: 9px;"
                        >
                          <strong>{{ payslip.GrossSalary }} Ks</strong>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td
                          class="text-right"
                          style="font-size: 9px; color:black;"
                        >
                          <strong>Net Salary: </strong>
                        </td>
                        <td
                          class="text-right text-danger"
                          style="font-size: 9px;"
                        >
                          <strong>{{ payslip.NetSalary }} Ks</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </kendo-pdf-export>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
