<div class="wrapper">
  <div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
        <a href="#">
          <img
            class="block-center img-rounded img-responsive"
            style="width:54px;"
            src="assets/img/APT_Logo_Trans.png"
            alt="Image"
          />
        </a>
      </div>
      <div class="panel-body">
        <p class="text-center pv">CREATE A USER TO GRANT ACCESS.</p>
        <form
          [formGroup]="userCreateForm"
          class="form-validate mb-lg"
          role="form"
          name="userCreateForm"
          novalidate=""
        >
          <div class="form-group has-feedback">
            <label class="text-muted">User Code</label>

            <div class="row">
              <div class="col-md-5">
                <input
                  class="form-control"
                  type="text"
                  value="APT-USR-"
                  style="padding-right: 0px;"
                  disabled
                />
              </div>
              <div class="col-md-7">
                <input
                  class="form-control"
                  type="text"
                  name="account_userCode"
                  placeholder="Enter User Code"
                  autocomplete="off"
                  formControlName="userCode"
                  required=""
                />
              </div>
            </div>

            <span
              class="text-danger"
              *ngIf="
                userCreateForm.controls['userCode'].hasError('required') &&
                (userCreateForm.controls['userCode'].dirty ||
                  userCreateForm.controls['userCode'].touched)
              "
              >This field is required</span
            >
          </div>
          <div class="form-group has-feedback">
            <label class="text-muted">User Name</label>
            <input
              class="form-control"
              type="text"
              name="account_userName"
              placeholder="Enter User Name"
              autocomplete="off"
              formControlName="userName"
              required=""
            />
            <span class="fa fa-user form-control-feedback text-muted"></span>
            <span
              class="text-danger"
              *ngIf="
                userCreateForm.controls['userName'].hasError('required') &&
                (userCreateForm.controls['userName'].dirty ||
                  userCreateForm.controls['userName'].touched)
              "
              >This field is required</span
            >
          </div>
          <div class="form-group has-feedback">
            <label class="text-muted">User Role</label>
            <select
              class="form-control"
              id="userRole"
              formControlName="userRole"
            >
              <option>Select A User Role</option>
              <option>Admin</option>
              <option>Normal</option>
            </select>
            <span class="fa fa-user form-control-feedback text-muted"></span>
            <span
              class="text-danger"
              *ngIf="
                userCreateForm.controls['userRole'].hasError('notSelected') &&
                (userCreateForm.controls['userRole'].dirty ||
                  userCreateForm.controls['userRole'].touched)
              "
              >Please select a user role!</span
            >
          </div>
          <div formGroupName="passwordGroup">
            <div class="form-group has-feedback">
              <label class="text-muted">Password</label>
              <input
                class="form-control"
                id="id-password"
                type="password"
                name="password"
                formControlName="password"
                [formControl]="userCreateForm.get('passwordGroup.password')"
              />
              <span class="fa fa-lock form-control-feedback text-muted"></span>
              <span
                class="text-danger"
                *ngIf="
                  userCreateForm
                    .get('passwordGroup.password')
                    .hasError('required') &&
                  (userCreateForm.get('passwordGroup.password').dirty ||
                    userCreateForm.get('passwordGroup.password').touched)
                "
                >This field is required</span
              >
              <!--span
                class="text-danger"
                *ngIf="
                  userCreateForm.get('passwordGroup.password').dirty ||
                  userCreateForm.get('passwordGroup.password').touched
                "
                >Input should match 'a-zA-Z0-9' and 6-10 length</span-->
            </div>
            <div class="form-group has-feedback">
              <label class="text-muted">Retype Password</label>
              <input
                class="form-control"
                type="password"
                name="confirmPassword"
                formControlName="confirmPassword"
                [formControl]="
                  userCreateForm.get('passwordGroup.confirmPassword')
                "
              />
              <span class="fa fa-lock form-control-feedback text-muted"></span>

              <span
                class="text-danger"
                *ngIf="
                  userCreateForm
                    .get('passwordGroup.confirmPassword')
                    .hasError('equalTo')
                "
                >Password does Not match</span
              >
            </div>
          </div>
          <div class="clearfix">
            <div class="checkbox c-checkbox pull-left mt0"></div>
          </div>

          <button
            class="btn btn-block btn-primary mt-lg"
            (click)="submitForm(userCreateForm.value)"
            [disabled]="!userCreateForm.valid || loading"
          >
            <img
              *ngIf="loading"
              src="assets/img/loading.gif"
              style="width:20px; height:20px; margin-right:5px;"
            />
            Create account
          </button>
          <!--button class="btn btn-block btn-danger mt-lg" (click)="reset()">Reset</button-->
        </form>
        <!-- <div class="alert alert-danger text-center"></div> -->
        <p class="pt-lg text-center">Have an account?</p>
        <a class="btn btn-block btn-default" [routerLink]="'/login'">Login</a>
      </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
      <span>&copy;</span>
      <span>{{ settings.app.year }}</span>
      <span>-</span>
      <span>{{ settings.app.name }}</span>
      <br />
      <span>{{ settings.app.description }}</span>
    </div>
  </div>
</div>
