<button type="button" class="btn btn-sm btn-info" (click)="save(excelexport1)">
  <strong><i class="fa fa-download"></i> Generate Bonus Template</strong>
</button>

<kendo-excelexport
  [data]=""
  fileName="Bonus_Import_Template.xlsx"
  #excelexport1
>
  <kendo-excelexport-column
    field="EmployeeCode"
    [locked]="true"
    title="Employee_Code"
    [width]="200"
  >
  </kendo-excelexport-column>
  <kendo-excelexport-column field="EmployeeName" title="Name" [width]="350">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="Bonus_Date" [width]="120">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="Bonus_Amount" [width]="120">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="Reason" [width]="120">
  </kendo-excelexport-column>
  <kendo-excelexport-column field="u" title="Comment" [width]="120">
  </kendo-excelexport-column>
</kendo-excelexport>
