label{
    font-weight: lighter;
}

#tagInput{
    border-width: 0.5px;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}




    