<div id="createEmployeeModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Create Employee</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div id="createEmployeeForm" name="createEmployeeForm" class="form-group" [formGroup]="createEmployeeForm">
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('code').touched || 
                            createEmployeeForm.get('code').dirty) && 
                            !createEmployeeForm.get('code').valid }">
                            <label>Employee Code</label>
                            <div class="row">
                                <div class="col-md-2">
                                    <input class="form-control" type="text" value="APT-EMP-" disabled />
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" formControlName="code" placeholder="Employee Code (Required)" />
                                </div>
                            </div>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('code').touched || 
                          createEmployeeForm.get('code').dirty) && 
                          (createEmployeeForm.get('code').errors ||
                           createEmployeeForm.get('code').errors)">
                                <span *ngIf="createEmployeeForm.get('code').errors?.required">
                                    Please enter desired employee's code.
                                </span>
                                <span *ngIf="createEmployeeForm.get('code').errors?.pattern">
                                       Invalid Employee code. It should only contain numbers and has the length of 5.
                                    </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('name').touched || 
                        createEmployeeForm.get('name').dirty) && 
                        !createEmployeeForm.get('name').valid }">
                            <label>Name</label>
                            <input class="form-control" type="text" formControlName="name" placeholder="Name (Required)" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('name').touched || 
                                    createEmployeeForm.get('name').dirty) && 
                                    (createEmployeeForm.get('name').errors ||
                                     createEmployeeForm.get('name').errors)">
                                <span *ngIf="createEmployeeForm.get('name').errors?.required">
                                    Please enter the employee's name.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('employmentDate').touched || 
                        createEmployeeForm.get('employmentDate').dirty) && 
                        !createEmployeeForm.get('employmentDate').valid }">
                            <label>Employment Date</label>
                            <input class="form-control" type="date" formControlName="employmentDate" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('employmentDate').touched || 
                            createEmployeeForm.get('employmentDate').dirty) && 
                            (createEmployeeForm.get('employmentDate').errors ||
                             createEmployeeForm.get('employmentDate').errors)">
                                <span *ngIf="createEmployeeForm.get('employmentDate').errors?.notSelected">
                                    Please select the employment date.
                                </span>
                                <span *ngIf="createEmployeeForm.get('employmentDate').errors?.InvalidYear">
                                    The year for the entered date is invalid.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('dob').touched || 
                        createEmployeeForm.get('dob').dirty) && 
                        !createEmployeeForm.get('dob').valid }">
                            <label>Date of Birth</label>
                            <input class="form-control" type="date" formControlName="dob" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('dob').touched || 
                            createEmployeeForm.get('dob').dirty) && 
                            (createEmployeeForm.get('dob').errors ||
                             createEmployeeForm.get('dob').errors)">
                                <span *ngIf="createEmployeeForm.get('dob').errors?.notSelected">
                                    Please select the employee's date of birth.
                                </span>
                                <span *ngIf="createEmployeeForm.get('dob').errors?.InvalidAge">
                                    The employee shouldn't be older than 70.
                                </span>
                                <span *ngIf="createEmployeeForm.get('dob').errors?.InvalidYear">
                                    The year for the entered date is invalid.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('gender').touched || 
                        createEmployeeForm.get('gender').dirty) && 
                        !createEmployeeForm.get('gender').valid }">
                            <label>Gender</label>
                            <select class="form-control" id="gender" formControlName="gender">
                                <option>Select Employee's Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('gender').touched || 
                            createEmployeeForm.get('gender').dirty) && 
                            (createEmployeeForm.get('gender').errors ||
                             createEmployeeForm.get('gender').errors)">
                                <span *ngIf="createEmployeeForm.get('gender').errors?.notSelected">
                                    Please select the employee's gender.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('department').touched || 
                        createEmployeeForm.get('department').dirty) && 
                        !createEmployeeForm.get('department').valid }">
                            <label>Department</label>
                            <select class="form-control" id="department" formControlName="department" (change)="departmentOnChange($event.target.value)">
                                <option>Select A Department</option>
                                <option *ngFor="let depId of getDepartments()">{{depId + " - " +getDepartmentName(depId)}}</option>
                            </select>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('department').touched || 
                            createEmployeeForm.get('department').dirty) && 
                            (createEmployeeForm.get('department').errors ||
                             createEmployeeForm.get('department').errors)">
                                <span *ngIf="createEmployeeForm.get('department').errors?.notSelected">
                                    Please select the department that the employee is responsible for and placed in.
                                </span>
                            </span>
                        </div>
                        <div *ngIf="sectionMap && sectionMap.size > 0" class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('section').touched || 
                        createEmployeeForm.get('section').dirty) && 
                        !createEmployeeForm.get('section').valid }">
                            <label>Section</label>
                            <select class="form-control" id="section" formControlName="section">
                                <option>Select A Section</option>
                                <option *ngFor="let secId of getSec()">{{secId + " - " + getSectionName(secId)}}</option>
                            </select>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('section').touched || 
                            createEmployeeForm.get('section').dirty) && 
                            (createEmployeeForm.get('section').errors ||
                             createEmployeeForm.get('section').errors)">
                                <span *ngIf="createEmployeeForm.get('section').errors?.notSelected && sectionMap.size > 0">
                                    Please select the section that the employee is responsible for and placed in.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('jobPosition').touched || 
                        createEmployeeForm.get('jobPosition').dirty) && 
                        !createEmployeeForm.get('jobPosition').valid }">
                            <label>Job Position</label>
                            <select class="form-control" id="position" formControlName="jobPosition" (change)="designationOnChange($event.target.value)">
                                <option>Select A Job Position</option>
                                <option *ngFor="let desId of getDesignations()">{{desId + " - " + getDesignationName(desId)}}</option>
                            </select>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('jobPosition').touched || 
                            createEmployeeForm.get('jobPosition').dirty) && 
                            (createEmployeeForm.get('jobPosition').errors ||
                             createEmployeeForm.get('jobPosition').errors)">
                                <span *ngIf="createEmployeeForm.get('jobPosition').errors?.notSelected">
                                    Please select the employee's job position.
                                </span>
                            </span>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('education').touched || 
                        createEmployeeForm.get('education').dirty) && 
                        !createEmployeeForm.get('education').valid }">
                            <label>Education</label>
                            <div id="tagInput">
                                <tag-input theme='minimal' name="qualifications" formControlName="education"></tag-input>
                            </div>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('education').touched || 
                            createEmployeeForm.get('education').dirty) && 
                            (createEmployeeForm.get('education').errors ||
                             createEmployeeForm.get('education').errors)">
                                <span *ngIf="createEmployeeForm.get('education').errors?.required">
                                    Please enter the employee's education level.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" style="padding-top: 18px;">
                            <h4>Contact Info</h4>
                        </div>
                        <hr/>
                        <div formGroupName="emailGroup" [ngClass]="{'has-error': createEmployeeForm.get('emailGroup').errors }">

                            <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('emailGroup.email').touched || 
                            createEmployeeForm.get('emailGroup.email').dirty) && 
                            !createEmployeeForm.get('emailGroup.email').valid }">
                                <label>Email</label>
                                <input class="form-control" type="text" placeholder="Email (Required)" formControlName="email" />
                                <span class="help-block" *ngIf="(createEmployeeForm.get('emailGroup.email').touched || 
                                    createEmployeeForm.get('emailGroup.email').dirty) && 
                                    (createEmployeeForm.get('emailGroup.email').errors ||
                                     createEmployeeForm.get('emailGroup').errors)">
                                    <span *ngIf="createEmployeeForm.get('emailGroup.email').errors?.required">
                                        Please enter employee's email address.
                                    </span>
                                    <span *ngIf="createEmployeeForm.get('emailGroup.email').errors?.pattern">
                                        Please enter a valid employee email address.
                                    </span>
                                </span>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                        createEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                        !createEmployeeForm.get('emailGroup.confirmEmail').valid }">
                                <label>Confirm Email</label>
                                <input class="form-control" type="email" placeholder="Confirm Email (Required)" formControlName="confirmEmail" />
                                <span class="help-block" *ngIf="(createEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                                  createEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                                  (createEmployeeForm.get('emailGroup.confirmEmail').errors ||
                                                   createEmployeeForm.get('emailGroup').errors)">
                                    <span *ngIf="createEmployeeForm.get('emailGroup.confirmEmail').errors?.required">
                                        Please confirm the employee's email address.
                                    </span>
                                    <span *ngIf="createEmployeeForm.get('emailGroup').errors?.match">
                                        The email addresses do not match.
                                    </span>
                                </span>

                            </div>
                        </div>



                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('workPhone').touched || 
                        createEmployeeForm.get('workPhone').dirty) && 
                        !createEmployeeForm.get('workPhone').valid }">
                            <label>Work Phone</label>
                            <input class="form-control" type="text" formControlName="workPhone" placeholder="Work Phone (Required)" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('workPhone').touched || 
                            createEmployeeForm.get('workPhone').dirty) && 
                            (createEmployeeForm.get('workPhone').errors ||
                             createEmployeeForm.get('workPhone').errors)">
                                <span *ngIf="createEmployeeForm.get('workPhone').errors?.required">
                                    Please enter the employee's work phone.
                                </span>
                                <span *ngIf="createEmployeeForm.get('workPhone').errors?.pattern">
                                    The phone number should only contain numbers.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('personalPhone').touched || 
                        createEmployeeForm.get('personalPhone').dirty) && 
                        !createEmployeeForm.get('personalPhone').valid }">
                            <label>Personal Phone</label>
                            <input class="form-control" type="text" formControlName="personalPhone" placeholder="Personal Phone (Required)" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('personalPhone').touched || 
                            createEmployeeForm.get('personalPhone').dirty) && 
                            (createEmployeeForm.get('personalPhone').errors ||
                             createEmployeeForm.get('personalPhone').errors)">
                                <span *ngIf="createEmployeeForm.get('personalPhone').errors?.required">
                                    Please enter the employee's personal phone.
                                </span>
                                <span *ngIf="createEmployeeForm.get('personalPhone').errors?.pattern">
                                    The phone number should only contain numbers.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('employmentSites').touched || 
                        createEmployeeForm.get('employmentSites').dirty) && 
                        !createEmployeeForm.get('employmentSites').valid }">
                            <label>Employment Site(s)</label>
                            <div id="tagInput">
                                <tag-input theme='minimal' name="empSites" formControlName="employmentSites"></tag-input>
                            </div>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('employmentSites').touched || 
                            createEmployeeForm.get('employmentSites').dirty) && 
                            (createEmployeeForm.get('employmentSites').errors ||
                             createEmployeeForm.get('employmentSites').errors)">
                                <span *ngIf="createEmployeeForm.get('employmentSites').errors?.required">
                                    Please enter at least one employment site.
                                </span>
                            </span>
                        </div>

                        <div class="form-group" style="padding-top: 18px;">
                            <h4>Address Info</h4>
                        </div>
                        <hr/>
                        <div formGroupName="addressGroup" [ngClass]="{'has-error': createEmployeeForm.get('addressGroup').errors }">

                            <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('addressGroup.address').touched || 
                        createEmployeeForm.get('addressGroup.address').dirty) && 
                        !createEmployeeForm.get('addressGroup.address').valid }">
                                <label>Address</label>
                                <input class="form-control" type="text" formControlName="address" />
                                <span class="help-block" *ngIf="(createEmployeeForm.get('addressGroup.address').touched || 
                            createEmployeeForm.get('addressGroup.address').dirty) && 
                            (createEmployeeForm.get('addressGroup.address').errors ||
                             createEmployeeForm.get('addressGroup').errors)">
                                    <span *ngIf="createEmployeeForm.get('addressGroup.address').errors?.required">
                                        Please enter employee's address.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('addressGroup.city').touched || 
                            createEmployeeForm.get('addressGroup.city').dirty) && 
                            !createEmployeeForm.get('addressGroup.city').valid }">
                                <label>City</label>
                                <select class="form-control" id="position" formControlName="city">
                                    <!--option *ngFor="let dep of getJobPositions()">{{emp}}</option-->
                                    <option>Select A City</option>
                                    <option>Aunglan</option>
                                    <option>Bago</option>
                                    <option>Bhamo</option>
                                    <option>Bogale</option>
                                    <option>Dawei</option>
                                    <option>Hakha</option>
                                    <option>Hinthada</option>
                                    <option>Hlegu</option>
                                    <option>Magway</option>
                                    <option>Mandalay</option>
                                    <option>Mawlamyine</option>
                                    <option>Meiktila</option>
                                    <option>Minbu</option>
                                    <option>Mogok</option>
                                    <option>Monywa</option>
                                    <option>Myeik</option>
                                    <option>Myingyan</option>
                                    <option>Myitkyina</option>
                                    <option>Naypyidaw</option>
                                    <option>Nyaunglebin</option>
                                    <option>Pakokku</option>
                                    <option>Pathein</option>
                                    <option>Pyay</option>
                                    <option>Sagaing</option>
                                    <option>Shwebo</option>
                                    <option>Sittwe</option>
                                    <option>Taunggyi</option>
                                    <option>Taungoo</option>
                                    <option>Thanlyin</option>
                                    <option>Tharrawaddy</option>
                                    <option>Thayet</option>
                                    <option>Yenangyaung</option>
                                    <option>Yangon</option>
                                </select>
                                <span class="help-block" *ngIf="(createEmployeeForm.get('addressGroup.city').touched || 
                            createEmployeeForm.get('addressGroup.city').dirty) && 
                            (createEmployeeForm.get('addressGroup.city').errors ||
                             createEmployeeForm.get('addressGroup.city').errors)">
                                    <span *ngIf="createEmployeeForm.get('addressGroup.city').errors?.notSelected">
                                        Please select the city that the employee lives in.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('addressGroup.state').touched || 
                            createEmployeeForm.get('addressGroup.state').dirty) && 
                            !createEmployeeForm.get('addressGroup.state').valid }">
                                <label>State/ Region</label>
                                <select class="form-control" id="position" formControlName="state">
                                    <option>Select A State/Region</option>
                                    <option>Ayeyarwady Region</option>
                                    <option>Bago Region</option>
                                    <option>Chin State</option>
                                    <option>Kachin State</option>
                                    <option>Magway Region</option>
                                    <option>Mandalay Region</option>
                                    <option>Mon State</option>
                                    <option>Naypyidaw Union Territory</option>
                                    <option>Rakhine State</option>
                                    <option>Sagaing Region</option>
                                    <option>Shan State</option>
                                    <option>Tanintharyi Region</option>
                                    <option>Yangon Region</option>
                                </select>
                                <span class="help-block" *ngIf="(createEmployeeForm.get('addressGroup.state').touched || 
                                createEmployeeForm.get('addressGroup.state').dirty) && 
                                (createEmployeeForm.get('addressGroup.state').errors ||
                                 createEmployeeForm.get('addressGroup.state').errors)">
                                    <span *ngIf="createEmployeeForm.get('addressGroup.state').errors?.notSelected">
                                        Please select the state that the employee lives in.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('addressGroup.zipCode').touched || 
                            createEmployeeForm.get('addressGroup.zipCode').dirty) && 
                            !createEmployeeForm.get('addressGroup.zipCode').valid }">
                                <label>Zip Code</label>
                                <input class="form-control" type="number" formControlName="zipCode" />
                                <span class="help-block" *ngIf="(createEmployeeForm.get('addressGroup.zipCode').touched || 
                                createEmployeeForm.get('addressGroup.zipCode').dirty) && 
                                (createEmployeeForm.get('addressGroup.zipCode').errors ||
                                 createEmployeeForm.get('addressGroup.zipCode').errors)">
                                    <span *ngIf="createEmployeeForm.get('addressGroup.zipCode').errors.required">
                                        Please enter the zip/postal code.
                                    </span>
                                    <span *ngIf="createEmployeeForm.get('addressGroup.zipCode').errors.invalid">
                                        The zip/postal code is invalid.
                                    </span>

                                </span>
                            </div>
                        </div>
                        <div *ngIf="isUserAdmin" class="form-group" style="padding-top: 18px;">
                            <h4>Salary Info</h4>
                        </div>
                       
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('basicSalary').touched || 
                        createEmployeeForm.get('basicSalary').dirty) && 
                        !createEmployeeForm.get('basicSalary').valid }">
                            <label>Basic Salary</label>
                            <input class="form-control" type="number" formControlName="basicSalary" disabled/>
                            <span class="help-block" *ngIf="(createEmployeeForm.get('basicSalary').touched || 
                            createEmployeeForm.get('basicSalary').dirty) && 
                            (createEmployeeForm.get('basicSalary').errors ||
                             createEmployeeForm.get('basicSalary').errors)">
                                <span *ngIf="createEmployeeForm.get('basicSalary').errors?.required">
                                    Please enter the employee's basic salary amount.
                                </span>
                            </span>
                        </div>
                        <div *ngIf="isUserAdmin" class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('currentSalary').touched || 
                        createEmployeeForm.get('currentSalary').dirty) && 
                        !createEmployeeForm.get('currentSalary').valid }">
                            <label>Current Salary</label>
                            <input class="form-control" type="number" formControlName="currentSalary" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('currentSalary').touched || 
                            createEmployeeForm.get('currentSalary').dirty) && 
                            (createEmployeeForm.get('currentSalary').errors ||
                             createEmployeeForm.get('currentSalary').errors)">
                                <span *ngIf="createEmployeeForm.get('currentSalary').errors?.required">
                                    Please enter the employee's current salary amount.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('badgeNo').touched || 
              createEmployeeForm.get('badgeNo').dirty) && 
              !createEmployeeForm.get('badgeNo').valid }">
                            <label>Badge No</label>
                            <input class="form-control" type="number" formControlName="badgeNo" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('badgeNo').touched || 
                  createEmployeeForm.get('badgeNo').dirty) && 
                  (createEmployeeForm.get('badgeNo').errors ||
                   createEmployeeForm.get('badgeNo').errors)">
                                <span *ngIf="createEmployeeForm.get('badgeNo').errors?.required">
                                    Please enter the employee's finger print badge no.
                                </span>
                            </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': (createEmployeeForm.get('bankAccountNo').touched || 
              createEmployeeForm.get('bankAccountNo').dirty) && 
              !createEmployeeForm.get('bankAccountNo').valid }">
                            <label>Bank Account No</label>
                            <input class="form-control" type="text" formControlName="bankAccountNo" />
                            <span class="help-block" *ngIf="(createEmployeeForm.get('bankAccountNo').touched || 
                  createEmployeeForm.get('bankAccountNo').dirty) && 
                  (createEmployeeForm.get('bankAccountNo').errors ||
                   createEmployeeForm.get('bankAccountNo').errors)">
                                <span *ngIf="createEmployeeForm.get('bankAccountNo').errors?.required">
                                    Please enter the employee's bank account no.
                                </span>
                            </span>
                        </div>

                        <!--div class="form-group">
                            <label>Picture</label>
                            <input type="file" id="image-input" (change)="fileChange($event)" accept=".jpg,.jpeg,.png" placeholder="Upload Picture">
                        </div>
                        <p>
                            <small class="text-muted">If no pictures are uploaded, a blank avater placeholder will be used!</small>
                        </p-->
                        <button class="btn btn-info" type="button" (click)="createEmployee()" [disabled]="loading || !createEmployeeForm.valid">
                           
                            <img
                            *ngIf="loading"
                            [src]="assets/img/loading.gif"
                            style="width:20px; height:20px; margin-right:5px;"
                          />
                          <i *ngIf="!loading" class="fa fa-plus"></i> Create
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>