<div class="panel" *ngIf="isUserAdmin">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="pull-right">
      <button class="btn btn-sm btn-danger" type="button" (click)="reset()">
        <strong> <i class="fa fa-times"></i> Reset</strong>
      </button>
    </div>

    <div class="form-group">
      <input
        type="file"
        class="btn btn-sm btn-default"
        id="advanceFileInput"
        (change)="fileChange($event)"
        style="width:200px"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-default" type="button" (click)="show()">
        <strong> <i class="fa fa-eye"></i> View</strong>
      </button>
    </div>
    <div class="form-group" style="color:red;"></div>
  </div>
</div>

<div class="panel" *ngIf="isUserAdmin">
  <div class="panel-heading">
    <div class="pull-left" style="margin-bottom: 9px;">
      <advance-export></advance-export>
    </div>
    <div class="pull-right" style="margin-bottom: 9px;">
      <button
        class="btn btn-sm btn-info"
        [disabled]="!advanceList || loading || advanceList.length <= 0"
        type="button"
        (click)="insertAdvance()"
      >
        <strong> <i class="fa fa-save"></i> Save/ Insert</strong>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12" *ngIf="!advanceList || advanceList.length == 0">
        <div class="box-placeholder" style="height:600px;">
          <h1
            style="text-align: center;vertical-align: middle;line-height: 500px;color:#afafaf;"
          >
            Preview Data
          </h1>
        </div>
      </div>
    </div>
    <div class="row" style="padding:15px;padding-top:0px;">
      <kendo-grid
        [data]="gridView"
        [sortable]="{
          allowUnsort: allowUnsort,
          mode: 'single'
        }"
        [sort]="sort"
        (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        *ngIf="advanceList && advanceList.length > 0"
      >
        <kendo-grid-column
          field="Employee_Code"
          title="Employee_Code"
          width="80"
        >
        </kendo-grid-column>

        <kendo-grid-column field="Name" title="Employee Name" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="Advance_Date" title="Advance Date" width="81">
        </kendo-grid-column>

        <kendo-grid-column
          field="Advance_Amount"
          title="Advance Amount"
          width="81"
        >
        </kendo-grid-column>
        <kendo-grid-column field="Reason" title="Reason" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="Comment" title="Comment" width="120">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
