<div
  id="updateSalaryModal"
  style="padding-top:50px;"
  class="modal fade"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
        <h4 class="modal-title">Edit History</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div
            id="updateSalaryForm"
            name="updateSalaryForm"
            class="form-group"
            [formGroup]="updateSalaryForm"
          >
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSalaryForm.get('basicSalary').touched ||
                    updateSalaryForm.get('basicSalary').dirty) &&
                  !updateSalaryForm.get('basicSalary').valid
              }"
            >
              <label>Basic Salary</label>
              <input
                class="form-control"
                type="number"
                formControlName="basicSalary"
                disabled
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSalaryForm.get('basicSalary').touched ||
                    updateSalaryForm.get('basicSalary').dirty) &&
                  (updateSalaryForm.get('basicSalary').errors ||
                    updateSalaryForm.get('basicSalary').errors)
                "
              >
                <span
                  *ngIf="updateSalaryForm.get('basicSalary').errors?.required"
                >
                  Please enter the employee's basic salary amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSalaryForm.get('currentSalary').touched ||
                    updateSalaryForm.get('currentSalary').dirty) &&
                  !updateSalaryForm.get('currentSalary').valid
              }"
            >
              <label>Current Salary</label>
              <input
                class="form-control"
                type="number"
                formControlName="currentSalary"
                disabled
              />
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSalaryForm.get('newSalary').touched ||
                    updateSalaryForm.get('newSalary').dirty) &&
                  !updateSalaryForm.get('newSalary').valid
              }"
            >
              <label>New Salary</label>
              <input
                class="form-control"
                type="number"
                formControlName="newSalary"
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSalaryForm.get('newSalary').touched ||
                    updateSalaryForm.get('newSalary').dirty) &&
                  (updateSalaryForm.get('newSalary').errors ||
                    updateSalaryForm.get('newSalary').errors)
                "
              >
                <span
                  *ngIf="updateSalaryForm.get('newSalary').errors?.required"
                >
                  Please enter the employee's new salary amount.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSalaryForm.get('designation').touched ||
                    updateSalaryForm.get('designation').dirty) &&
                  !updateSalaryForm.get('designation').valid
              }"
            >
              <label>Designation</label>
              <select
                class="form-control"
                id="designation"
                formControlName="designation"
              >
                <option>Select A Designation</option>
                <option *ngFor="let des of designationNames">{{ des }}</option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  (updateSalaryForm.get('designation').touched ||
                    updateSalaryForm.get('designation').dirty) &&
                  (updateSalaryForm.get('designation').errors ||
                    updateSalaryForm.get('designation').errors)
                "
              >
                <span
                  *ngIf="
                    updateSalaryForm.get('designation').errors?.notSelected
                  "
                >
                  Please select a designation.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSalaryForm.get('promotedDate').touched ||
                    updateSalaryForm.get('promotedDate').dirty) &&
                  !updateSalaryForm.get('promotedDate').valid
              }"
            >
              <label>Promotion Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="promotedDate"
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSalaryForm.get('promotedDate').touched ||
                    updateSalaryForm.get('promotedDate').dirty) &&
                  (updateSalaryForm.get('promotedDate').errors ||
                    updateSalaryForm.get('promotedDate').errors)
                "
              >
                <span
                  *ngIf="updateSalaryForm.get('newSalary').errors?.required"
                >
                  Please enter the promotion date.
                </span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  (updateSalaryForm.get('reason').touched ||
                    updateSalaryForm.get('reason').dirty) &&
                  !updateSalaryForm.get('reason').valid
              }"
            >
              <label>Reason</label>
              <input
                class="form-control"
                type="text"
                formControlName="reason"
                placeholder="Reason (Required)"
              />
              <span
                class="help-block"
                *ngIf="
                  (updateSalaryForm.get('reason').touched ||
                    updateSalaryForm.get('reason').dirty) &&
                  (updateSalaryForm.get('reason').errors ||
                    updateSalaryForm.get('reason').errors)
                "
              >
                <span *ngIf="updateSalaryForm.get('reason').errors?.required">
                  Please enter reason for the salary about to be raised.
                </span>
              </span>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control animation-1"
                placeholder="Comment (Optional)"
                style="resize:vertical;"
                rows="6"
                formControlName="comment"
              ></textarea>
            </div>

            <button
              class="btn btn-info"
              type="button"
              (click)="updateSalary()"
              [disabled]="!updateSalaryForm.valid || loading"
            >
              <img
                *ngIf="loading"
                src="assets/img/loading.gif"
                style="width:20px; height:20px; margin-right:5px;"
              />
              <i *ngIf="!loading" class="fa fa-edit"></i> Edit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
