<div class="table-responsive" id="salaryTimelineTable">
        <kendo-grid [data]="gridView" [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip"
            [pageable]="true">
            <kendo-grid-column field="promotedDate" title="Date" width="110">
                <ng-template kendoGridCellTemplate let-timeline>
                    {{timeline.promotedDate | date : 'mediumDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="salaryAmount" title="Updated Amount" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="designationId" title="Position" width="180">
                    <ng-template kendoGridCellTemplate let-timeline>
                            {{getDesignationName(timeline.designationId)}}
                        </ng-template>
                    
                </kendo-grid-column>
            <kendo-grid-column field="reason" title="Reason" width="180">
            </kendo-grid-column>
            <kendo-grid-column field="comment" title="Comment" width="180">
            </kendo-grid-column>
            <kendo-grid-column width="120">
                <ng-template kendoGridCellTemplate let-timeline>
                        <button type="button" style="margin-right:9px; color: white;width:81.56px;"  class="btn btn-primary" data-toggle="modal" data-target="#updateSalaryModal" (click)="setSalaryTimeline(timeline)"><i class="fa fa-edit"></i> Edit </button>
                        <button class="btn btn-danger" style="margin-right:9px; color: white;" [disabled]="loading" (click)=deleteTimeline(timeline)> <i class="fa fa-trash"></i> Delete</button>
                </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Export</button>
                </ng-template>
                <kendo-grid-excel fileName="SalaryTimeline.xlsx"></kendo-grid-excel>
        </kendo-grid>
    </div>

    <salary-edit [employeeId]="employeeId" (salaryEdited)='onSalaryEdited()' [changesMade]="changesMade"></salary-edit>
    <salary-update [employeeId]="employeeId" [selectedSalaryTimeline]="selectedSalaryTimeline" (salaryEdited)='onSalaryEdited()' [changesMade]="changesMade"></salary-update>
    
